@model Univision.Core.Models.DTO.Response.Client.ClientActivityList
@using Univision.Security
@if (Model.activityLIst.Count > 0)
{
  <div style="text-align:right;">
    <button type="button" id="activityBtn" class="btn btn-xs btn-primary w-150" title="메모(활동내역) 추가">
      <i class="icon wb-plus"></i>
      Add Memo
    </button>
    @*
      <a href="javascript:void(0)" id="btnHisotry" class="btn btn-xs btn-default" onclick="openActivityLog(@Model.c_seq)">  <i class="fas fa-list"></i>&nbsp; Update History</a>
    *@
  </div>
  <div class="">
    <ul id="memo_list" class="list-group active_list">
      @{
        int num = (Model.PagingInfo.CurrentPage - 1) * Model.PagingInfo.ItemsPerPage + 1;
        foreach (var data in Model.activityLIst)
        {
          <li class="list-group-item px-3 py-15 client_activities border-0" id="client_activity_list_@data.cal_seq">
            <div class="media border p-10 shadow" style="border-radius:3px;">
              <div class="media-body">
                <h5 class="mt-0 mb-5">
                  @data.name <small> - @Utils.ConvertDateTimeToString(data.log_date)</small>

                  @if ((data.create_user == AppIdentity.user_seq || AppIdentity.ua_seq <= 3))
                  {
                    <span class="float-right client_memo_btn">
                      <a class="mr-5" href="javascript:ActivityDetail('@data.cal_seq');" title="메모 수정">
                        <i class="fas fa-pen"></i>
                      </a>
                      <a href="#" class="mr-5 deleteActivityBtn" data-value="@data.cal_seq"><i class="fas fa-trash red-600"></i></a>
                    </span>
                  }
                </h5>
                <hr />
                <div class="profile-brief">
                  <h4>@data.title</h4>
                  @Html.Raw(data.log_comment.Replace("\r\n", "\n").Replace("\n", "<br />"))

                </div>
                <div class="float-right small text-secondary">[Lastest update : @Utils.ConvertDateTimeToString(data.create_dt)]</div>
              </div>
            </div>
          </li>
        }
      }
    </ul>
    @*
      <table class="block_table table table-striped table-hover mt-15" style="table-layout:fixed;">
          <thead class="text-center">
              <tr>
                  <th class="hidden-sm-down">No.</th>
                  <th class="tbw50">제목</th>
                  <th class="tbw50">내용</th>
                  <th class="hidden-sm-down">일자</th>
                  <th class="hidden-sm-down">작성자</th>
                  <th class="hidden-sm-down">작성일자</th>
                  <th class="hidden-sm-down">비고</th>
              </tr>
          </thead>
          <tbody>
              @{
                  int num = (Model.PagingInfo.CurrentPage - 1) * Model.PagingInfo.ItemsPerPage + 1;
                  foreach (var data in Model.activityLIst)
                  {
                      <tr>
                          <td class="text-center hidden-sm-down">
                              @(num++)
                          </td>
                          <td title="@data.title">
                              <div style="width:100%;" class="text-truncate s2">
                                  <span>
                                      @data.title
                                  </span>
                              </div>
                          </td>
                          <td class="text-left text-truncate">
                              <div class="text-truncate s2">
                                  <a href="javascript:ActivityDetail('@data.cal_seq');">
                                      @data.log_comment
                                  </a>
                              </div>
                          </td>
                          <td class="text-center hidden-sm-down">
                              @Utils.ConvertDateTimeToString(data.log_date)
                          </td>
                          <td class="text-center hidden-sm-down">
                              @data.name
                          </td>
                          <td class="text-center hidden-sm-down">
                              @Utils.ConvertDateTimeToString(data.create_dt)
                          </td>
                          <td class="text-center hidden-sm-down">

                              <button class="btn btn-xs btn-outline-warning deleteActivityBtn" value="@data.cal_seq"><i class="icon wb-trash"></i> Remove </button>
                              @if (data.log_cnt > 0)
                              {
                                  <a href="javascript:void(0)" id="btnHisotry" class="btn btn-xs btn-default" onclick="openActivityLog(@Model.c_seq, @data.cal_seq)">  <i class="fas fa-list"></i>&nbsp; Update History</a>
                              }

                          </td>
                      </tr>
                  }
              }
          </tbody>
      </table>
    *@
  </div>
  @Html.PageAjaxLinksWithFunction(Model.PagingInfo,
                       ViewContext.HttpContext.Request.Url.AbsoluteUri,
                       x => String.Format("javascript:callActivityList({0}, {1})", Model.c_seq, x))

}
else
{

  <div class="card">
    <div class="card-block text-center">
      <h4 class="card-title">메모가 없습니다.<small>[No Memo]</small></h4>
      <p class="card-text">
        "Add Memo" 버튼을 눌러 메모, 고객사 활동관련 세부 사항을 추가 하실 수 있습니다.<br />
        <b>- 작성 사항: BD 배경, 컨택 경로, 커뮤니케이션 현황, 지속적인 진행 상황 업데이트 등</b>
      </p>
      <button type="button" id="activityBtn" class="btn btn-sm btn-primary" title="메모(활동내역) 등록">
        <i class="icon wb-plus"></i>
        메모(활동내역) 등록 <small>[Add memo]</small>
      </button>

    </div>
  </div>

}
<script>
    $(document).ready(function () {
        $("#activityBtn").click(function (e) {

            var cal_seq = e.target.value;

            $.ajax({
                url: '@Url.Action("PopActivity", "Client")',
                data: { cal_seq: cal_seq },
                dataType: 'html',
                type: 'POST',
                beforeSend: function ()
                {
                    showLoading('#activityBody');
                }
            })
            .done(function (json) {
                hideLoading('#activityBody');
                $.fancybox.open({
                    'content':json,
                    'width': '620',
                    'height': '350',
                    'autoDimensions':false,
                    'type':'iframe',
                    'autoSize': false,
                    'title': 'Add Memo <small>(메모 추가)</small>',
                    helpers: {
                        title : {
                            type: 'inside',
                            position : 'top'
                        },
                        overlay: {
                            closeClick: false
                        }
                    }
                });
            })
            .fail(function (e) {
                hideLoading('#activityBody');
                ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
                });
        });


      $('.deleteActivityBtn').click(function (e) {
            e.preventDefault();
            var cal_seq = $($(this)).data("value");
            var c_seq = $("#c_seq").val();

            alertify.confirm()
                    .set({
                        'labels': { ok: 'Confirm', cancel: 'Cancel' },
                        'onok': function () {
                            $.ajax({
                                url: '@Url.Action("ClientActivityDelete", "Client")',
                                data: { cal_seq: cal_seq },
                                dataType: 'json',
                                type: 'POST',
                                beforeSend: function () {
                                    showLoading('#activityBody');
                                }
                            })
                            .done(function (json) {
                                hideLoading('#activityBody');

                                if (json.ok) {
                                    NormalAlert(json.message);
                                    callActivityList(c_seq, '@Model.PagingInfo.CurrentPage');
                                    //location.href = "/Client/ClientDetail?c_seq=" + c_seq;
                                }
                                else {
                                    ErrorAlert('[Error]' + json.message);
                                }
                            });
                        },
                        'oncancel': function () {
                            return;
                        },
                    })
                    .setHeader('<i class="fas fa-exclamation-triangle" style="color:#FFDC2E"></i>Remove Memo')
                    .setting({
                        message: "Are you sure you want to remove this memo?",
                    })
                .show();

        });
    });

        function openActivityLog(c_seq, cal_seq) {
            try {
                 $.ajax({
                    url: '@Url.Action("ListClientActivity", "Log")',
                    data: {c_seq: c_seq, cal_seq : cal_seq},
                    dataType: 'html',
                    type: 'POST',
                    beforeSend: function ()
                    {
                        showLoading();
                    }
                })
                .done(function (html) {
                    hideLoading();

                    $.fancybox.open({
                        'content':html,
                        'width': '1200',
                        'height': '400',
                        'autoDimensions':false,
                        'type':'iframe',
                        'autoSize': false,
                        'title': 'Activities History',
                        helpers: {
                            title : {
                                type: 'inside',
                                position : 'top'
                            },
                            overlay: {
                                closeClick: false
                            }
                        }
                    });
                })
                .fail(function (e) {
                    hideLoading();

                    ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.A');
                });

            } catch (e) {
                  ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.A');
            }
        }
    function ActivityDetail(cal_seq) {
        $.ajax({
            url: '@Url.Action("PopActivity", "Client")',
            data: { cal_seq: cal_seq },
            dataType: 'html',
            type: 'POST',
            beforeSend: function ()
            {
                showLoading('#activityBody');
            }
        })
        .done(function (json) {
            hideLoading('#activityBody');
            $.fancybox.open({
                'content':json,
                'width': '620',
                'height': '350',
                'autoDimensions':false,
                'type':'iframe',
                'autoSize': false,
                'title': 'Memo detail<small>상세내용</small>',
                helpers: {
                    title : {
                        type: 'inside',
                        position : 'top'
                    },
                    overlay: {
                        closeClick: false
                    }
                }
            });
        })
        .fail(function (e) {
            hideLoading('#activityBody');
            ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
            });
    }

</script>
