@model Univision.Main.Models.Project.ProjectContactListModel
@using Univision.Security
<p>
  <div class="table-responsive" style="min-width:400px;">
    <table class="table table-bordered table-colored table-primary">
      <thead>
        <tr>
          <th class="wd-10p">#</th>
          <th class="wd-20p">이름 / 직급</th>
          <th class="wd-20p">부서</th>
          <th class="wd-40p">연락처</th>
        </tr>
      </thead>
      <tbody>
        @if (Model.list.Count > 0)
        {
          int idx = 1;
          foreach (var data in Model.list)
          {
            <tr style="cursor:pointer" onclick="selectContact(this, '@data.cc_seq', '@data.name', '@data.gender', '@data.email', '@data.phone', '@data.cell_phone', '@data.division', '@data.position')">
              <td scope="row">@(idx++)</td>
              <td>
                @data.name<br />
                <small>@data.position</small>
              </td>
              <td>
                @data.division
              </td>
              <td>
                @data.cell_phone<br />
                @data.email
              </td>
            </tr>
          }
        }
        else
        {
          <tr>
            <td colspan="4">
              데이터가 없습니다.
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="row ">
    <div class="col-12 tx-right pd-t-10">
      <button id="btn_new_contract_pop" type="button" class="btn btn-primary">신규 담당자 입력 (New Contact)</button>
    </div>

  </div>
</p>

<script type="text/javascript">

  $(document).ready(function () {

    $("#btn_new_contract_pop").click(function () {
      btnNewContract();      
      //BindProjectContactValidation();
      //$("#btnContactSave").css("display", "none");
      //$("#btnContact").css("display", "none");

      $(this).closest(".modal").find(".close").click();
    });
  });

  function selectContact(obj, cc_seq, name, gender, email, phone, cell_phone, division, position) {
    $("#cc_seq").val(cc_seq);
    $("#client_contact_name").val(name);
    $("#client_contact_email").val(email);
    $("#client_contact_tel").val(phone);

    $("input:radio[name='client_contact_gender'][value='" + gender + "']").prop("checked", true);
    $("#client_contact_tel2").val(cell_phone);
    $("#client_contact_div").val(division);
    $("#client_contact_pos").val(position);
        //$("#btnContactSave").css("display", "inline");

    validator_step4.element("#cc_seq");
    validator_step4.element("#client_contact_name");
    validator_step4.element("#client_contact_gender_m");
    validator_step4.element("#client_contact_email");
    validator_step4.element("#client_contact_tel");
    validator_step4.element("#client_contact_tel2");
    validator_step4.element("#client_contact_div");
    validator_step4.element("#client_contact_pos");

    $(obj).closest(".modal").find(".close").click();

    //$('#btnContactSave').click();
  }

</script>
