@model Univision.Main.Models.Project.InorderListModel
@{
    ViewBag.Title = "Inorder List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .extend-box {
        position: absolute !important;
        top: 1.9em;
        right: 1em;
    }

    .panel-body .input-search .form-control {
        border-radius: 2px;
    }

    .panel-body .form-control-label {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .panel-body .form-group {
        margin-bottom: 3px;
    }

    .panel {
        margin-bottom: 1rem;
    }

    .table thead th {
        font-weight: bold;
    }

    /*.innertable {
        border: 0px;
        border-color: white;
        background-color: white;
        empty-cells: show;
        border-collapse: inherit;
        padding: initial;
    }*/

    .innertable tr {
        border-collapse: separate;
        border-spacing: 0 10px;
        /*border: 0px;
        border-color: white;
        background-color: white;
        empty-cells: show;
        border-collapse: inherit;
        padding: initial;*/
    }

        .innertable tr td {
            width: 100%;
            border: 0px;
            border-color: white;
            background-color: white;
            empty-cells: show;
            border-collapse: inherit;
            padding: initial;
        }
</style>

<link href="~/Libs/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/Libs/remark/base/assets/examples/css/pages/user.min599c.css?v4.0.4">


<div class="page-user">
    <div class="page-content">
        <!--검색 Form -->

        @Html.HiddenFor(x => x.search.orderTxt)
        @Html.HiddenFor(x => x.search.orderOption)
        @Html.HiddenFor(x => x.search.excelDown)
        <!-- 검색 패널 시작 -->
        <div class="panel panel-primary panel-line animation-scale-up" style="animation-fill-mode:backwards; animation-duration: 250ms; animation-delay: 0ms;">
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="fas fa-paper"></i>
                    @ViewBag.Title
                </div>
                <div class="panel-actions w-md-p50">
                    <div class="panel-action input-search w-full">
                        @using (Html.BeginForm("InorderList", "Project", FormMethod.Get, new { @id = "SearchForm", @class="mb-0" }))
                        {
                            <div class="input-search">
                                <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                                @Html.TextBoxFor(x => x.search.searchTxt, new { @class = "form-control", @placeholder = "검색어 입력" })
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <div class="tablesaw-bar tablesaw-mode-columntoggle"></div>
                <table class="tablesaw table-striped table-bordered tablesaw-columntoggle" data-tablesaw-mode="columntoggle" data-tablesaw-minimap="" id="tablesaw-1256">
                    <thead>
                        <tr>
                            <th data-tablesaw-priority="5" class="tablesaw-priority-5">No</th>
                            <th data-tablesaw-priority="persist">
                                Type <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "inorder_type", Model.search.orderOption) colSort" orderTxt="inorder_type"></i>
                            </th>
                            <th data-tablesaw-priority="persist">
                                Client Name <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "kor_name", Model.search.orderOption) colSort" orderTxt="kor_name"></i>
                            </th>
                            <th data-tablesaw-priority="persist">
                                Contact <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "cc_name", Model.search.orderOption) colSort" orderTxt="cc_name"></i>
                            </th>

                            <th data-tablesaw-priority="2" class="tablesaw-priority-3 hidden-sm-down">
                                AM
                            </th>
                            <th data-tablesaw-priority="2" class="tablesaw-priority-3 hidden-sm-down">
                                Contract Status <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "cc_name", Model.search.orderOption) colSort" orderTxt="cc_name"></i>
                            </th>
                            <th data-tablesaw-priority="2" class="tablesaw-priority-3 hidden-sm-down">
                                Project Status <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "cc_name", Model.search.orderOption) colSort" orderTxt="cc_name"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.list.Count > 0)
                        {
                            int num = 1;
                            foreach (var data in Model.list)
                            {
                                <tr>
                                    <th class="tablesaw-priority-5">@(num++)</th>
                                    <td>
                                        @Utils.ReturnInOrderTypeTxt(data.inorder_type)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("InorderDetail", "Project", new { i_seq = data.i_seq})">@data.clt_name</a>
                                    </td>
                                    <td>
                                        @data.cc_name
                                    </td>

                                    <td class=" hidden-sm-down">@data.am_names</td>
                                    <td class=" hidden-sm-down">
                                        @if (data.c_seq.HasValue)
                                        {
                                            <span class="badge badge-success">고객사 등록</span>
                                            <a href="@Url.Action("CandidateDetail", "Candidate", new { c_seq = data.c_seq })" target="candidate_@data.c_seq" title="새창에서 열기">
                                                <i class="fa fa-external-link-alt"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">고객사 미등록</span>
                                        }
                                    </td>
                                    <td class=" hidden-sm-down">
                                        @if (data.p_seq.HasValue)
                                        {
                                            <span class="badge badge-success">프로젝트 등록</span>
                                            <a href="@Url.Action("ProjectDetail", "Project", new { p_seq = data.p_seq })" target="project_@data.p_seq" title="새창에서 열기">
                                                <i class="fa fa-external-link-alt"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <span class="badge badge-danger">프로젝트 미등록</span>
                                        }
                                    </td>
                                </tr>
                            }
                        }

                        else
                        {
                            <tr>
                                <td colspan="15" style="text-align:center;height:200px;vertical-align:middle;">
                                    <b>No Data.</b>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <br />
                @Html.PageAjaxLinks(Model.PagingInfo,
                           ViewContext.HttpContext.Request.Url.AbsoluteUri,
                           x => Url.Action("InorderList", new
                           {
                               page = x
                           }))
            </div>
        </div>
        <button type="button" onclick="location.href='@Url.Action("InorderCreate", "Project")';" class="site-action btn-raised btn btn-success btn-floating" title="New Inorder"><i class="icon wb-user-add" aria-hidden="true"></i></button>

    </div>
</div>

@section scripts {

    <script type="text/javascript">

        $("#btnReset").click(function () {
            location.href = "@Url.Action("ClientList", "Client")";
        });

        $(document).ready(function () {


            $(".colSort").click(function () {

                $(".colSort").not(this).each(function () {

                    $(this).removeClass("fa-sort-up");
                    $(this).removeClass("fa-sort-down");
                    $(this).addClass("fa-sort");
                })

                $(this).removeClass("fa-sort");

                if ($(this).hasClass("fa-sort-up")) {
                    $(this).addClass("fa-sort-down");
                    $(this).removeClass("fa-sort-up");
                    $("#search_orderTxt").val($(this).attr("orderTxt"));
                    $("#search_orderOption").val("DESC");
                }
                else {
                    $(this).addClass("fa-sort-up");
                    $(this).removeClass("fa-sort-down");
                    $("#search_orderTxt").val($(this).attr("orderTxt"));
                    $("#search_orderOption").val("ASC");
                }

                $("#SearchForm").submit();

            });
        });

        function changeSearchState(state) {

            $("#search_state").val(state);
            $("#SearchForm").submit();

        }

        function resetSearchForm() {
            $("#search_searchTxt").val("");
            $("#search_orderTxt").val("");
            $("#search_orderOption").val("");
            $("#SearchForm").submit();
        }

    </script>

}