@model Univision.Main.Models.Project.ProjectCreateRepModel

@{
  ViewBag.Title = "프로젝트 생성 - 평판조회";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
</style>

<div class="page-content">
  @using (Html.BeginForm("ProjectRepCreate", "Project", FormMethod.Post, new { @id = "CreateForm" }))
  {
    @Html.HiddenFor(x => x.p_seq)
    @Html.HiddenFor(x => x.type)
    <div class="panel panel-primary panel-line animation-scale-up" style="animation-fill-mode:backwards; animation-duration: 250ms; animation-delay: 0ms;">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fas fa-newspaper"></i>
          Project 기본정보
        </h3>
        <div class="panel-actions">
          <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse" aria-hidden="true"></a>
        </div>
      </div>
      <div id="projectInfo" class="panel-body">
        <div class="row">
          <div class="form-group col-md-12">
            <label class="form-control-label">Project Type</label><span class="label-reqired">*</span>
            <div>
              <div class="radio-custom radio-custom-sm radio-default radio-inline">
                <input type="radio" id="reputation" name="pjt_type" value="2" checked @(Model.pjt_type == 2 ? "checked" : "")>
                <label for="reputation">평판조회 <small>[Reference check]</small></label>
              </div>
              <div class="radio-custom radio-custom-sm radio-default radio-inline">
                <input type="radio" id="reHire" name="pjt_type" value="3" @(Model.pjt_type == 3 ? "checked" : "")>
                <label for="reHire">재취업 <small>[Outplacement]</small></label>
              </div>
              <div class="radio-custom radio-custom-sm radio-default radio-inline">
                <input type="radio" id="HireAgc" name="pjt_type" value="4" @(Model.pjt_type == 4 ? "checked" : "")>
                <label for="HireAgc">채용대행 <small>[Recruitment process outsourcing]</small></label>
              </div>
              <div class="radio-custom radio-custom-sm radio-default radio-inline">
                <input type="radio" id="MM" name="pjt_type" value="5" @(Model.pjt_type == 5 ? "checked" : "")>
                <label for="MM">Market Mapping <small>[Long List]</small></label>
              </div>
              <div class="radio-custom radio-custom-sm radio-default radio-inline">
                <input type="radio" id="OD" name="pjt_type" value="6" @(Model.pjt_type == 6 ? "checked" : "")>
                <label for="OD">사외이사 서비스 [Outside director]</label>
              </div>
              <div class="radio-custom radio-custom-sm radio-default radio-inline">
                <input type="radio" id="tec" name="pjt_type" value="9" @(Model.pjt_type == 9 ? "checked" : "")>
                <label for="tec">기타 <small>[Other Consulting]</small></label>
              </div>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="form-control-label" for="company_name">Client</label><span class="label-reqired">*</span>
            <div class="input-group input-group-sm">
              @Html.HiddenFor(x => x.c_seq)
              @Html.TextBoxFor(x => x.company_name, new { @class = "form-control", @autocomplete = "off" })
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" id="btnClientSearch"><i class="fas fa-search" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
          <div class="form-group col-md-8">
            <label class="form-control-label" for="title">Title</label><span class="label-reqired">*</span>
            @Html.TextBoxFor(x => x.title, new { @class = "form-control form-control-sm", @autocomplete = "off" })
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-4">
            <label class="form-control-label" for="AMDiv">AM</label><span class="label-reqired">*</span>
            <div class="input-group input-group-sm">
              <div class="form-control" id="AMDiv" name="AMDiv" style="overflow:hidden">
                @if (Model.amList.Count > 0)
                {
                  foreach (var am in Model.amList)
                  {
                    <span class="category mr-5">
                      <span class="badge badge-outline badge-default bg-white cur_hand badge-lg" am_seq="@am.uv_seq">
                        @am.name
                        <i class="far fa-times-circle" onclick="removeBadge(this)"></i>
                      </span>
                    </span>
                  }
                }
              </div>
              <span class="input-group-btn">
                <button type="button" id="btnAm" class="btn btn-success"><i class="fas fa-plus" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="form-control-label" for="Searcher">SM</label><span class="label-reqired">*</span>
            <div class="input-group input-group-sm">
              <div class="form-control" id="Searcher" name="Searcher">
                @if (Model.searcherList.Count > 0)
                {
                  foreach (var searcher in Model.searcherList)
                  {
                    <span class="category mr-5">
                      <span class="badge badge-outline badge-default bg-white cur_hand badge-lg" searcher_seq="@searcher.uv_seq">
                        @searcher.name
                        <i class="far fa-times-circle" onclick="removeBadge(this)"></i>
                      </span>
                    </span>
                  }
                }
              </div>
              <span class="input-group-btn">
                <button type="button" id="btnSearcher" class="btn btn-success"><i class="fas fa-plus" aria-hidden="true"></i></button>
              </span>

            </div>
          </div>
          <div class="form-group col-md-4" id="exp_loading">
            <label class="form-control-label" for="exp_salary">
              Fee(용역비)<span class="label-reqired">*</span>
              <span class="text-primary font-weight-900" id="exp_won_label">
                @if (Model.currency_cd != "KRW" && Model.exp_salary_won.HasValue)
                {
                  <text>(원화 환산 예상액 : 약 </text> @Utils.ConvertMoneyToString(Model.exp_salary_won) <text>원)</text>
                }

              </span>
            </label>
            <div class="input-group input-group-sm">
              @Html.HiddenFor(x => x.exp_salary_won)
              @Html.TextBoxFor(x => x.exp_salary, "{0:#,0.##}", new { @class = "form-control text-right", @autocomplete = "off" })
              <select name="currency_cd" id="currency_cd" class="form-control form-control-sm">
                <option value="KRW" @(Model.currency_cd == "KRW" ? "selected" : "")>KRW(원)</option>
                <option value="USD" @(Model.currency_cd == "USD" ? "selected" : "")>USD(달러)</option>
                <option value="HKD" @(Model.currency_cd == "HKD" ? "selected" : "")>HKD(홍콩달러)</option>
                <option value="JPY" @(Model.currency_cd == "JPY" ? "selected" : "")>JPY(엔화)</option>
                <option value="SGD" @(Model.currency_cd == "SGD" ? "selected" : "")>SGD(싱가폴 달러)</option>
                <option value="GBP" @(Model.currency_cd == "GBP" ? "selected" : "")>GBP(파운드)</option>
                <option value="DEM" @(Model.currency_cd == "DEM" ? "selected" : "")>DEM(마르크)</option>
                <option value="FRF" @(Model.currency_cd == "FRF" ? "selected" : "")>FRF(프랑스 프랑)</option>
                <option value="CHF" @(Model.currency_cd == "CHF" ? "selected" : "")>CHF(스위스 프랑)</option>
                <option value="EUR" @(Model.currency_cd == "EUR" ? "selected" : "")>EUR(유로)</option>
                <option value="CNY" @(Model.currency_cd == "CNY" ? "selected" : "")>CNY(위안)</option>
                <option value="AUD" @(Model.currency_cd == "AUD" ? "selected" : "")>AUD(호주달러)</option>
                <option value="NZD" @(Model.currency_cd == "NZD" ? "selected" : "")>NZD(뉴질랜드달러)</option>
                <option value="CAD" @(Model.currency_cd == "CAD" ? "selected" : "")>CAD(캐나다달러)</option>
                <option value="THB" @(Model.currency_cd == "THB" ? "selected" : "")>THB(태국 밧)</option>
                <option value="TWD" @(Model.currency_cd == "TWD" ? "selected" : "")>TWD(신타이완달러)</option>
                <option value="VND" @(Model.currency_cd == "VND" ? "selected" : "")>VND(베트남 동)</option>
              </select>
              @Html.HiddenFor(x => x.fee_rate)
            </div>

          </div>

        </div>
        <div class="row">

          <div class="form-group col-md-6">
            <label class="form-control-label" for="businessCodeDiv">
              Industry
              <span class="label-reqired">*</span>
            </label>
            <div class="input-group input-group-sm" id="businessCodeDiv">
              @Html.HiddenFor(x => x.business_code1, new { @class = "busiCode1" })
              @Html.HiddenFor(x => x.business_code2, new { @class = "busiCode2" })
              @Html.TextBoxFor(x => x.business_name2, new { @class = "form-control longLen busiTargetText", @readonly = "readonly", @placeholder = "산업" })
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="FindBusinessSingle('businessCodeDiv')"><i class="fas fa-search"></i></button>
              </span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="form-control-label" for="jobCodeDiv">
              Job function
              <span class="label-reqired">*</span>
            </label>

            <div class="input-group input-group-sm" id="jobCodeDiv">
              @Html.HiddenFor(x => x.job_code1, new { @class = "jobCode1" })
              @Html.HiddenFor(x => x.job_code2, new { @class = "jobCode2" })
              @Html.TextBoxFor(x => x.job_name2, new { @class = "form-control jobTargetText longLen", @readonly = "readonly", @placeholder = "직무" })
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary" onclick="javascript:FindJobSingle('jobCodeDiv')"><i class="fas fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6">
            <label class="form-control-label" for="assign_task">고객사 요청사항</label><span class="label-reqired">*</span>
            @Html.TextAreaFor(x => x.client_require, new { @class = "form-control", @rows = "3" })
          </div>
          <div class="form-group col-md-6">
            <label class="form-control-label" for="requirement">내부참고사항</label><span class="label-reqired">*</span>
            @Html.TextAreaFor(x => x.internal_note, new { @class = "form-control", @rows = "3" })
          </div>
        </div>
      </div>
    </div>
    if (Model.p_seq > 0)
    {
      <!-- 프로젝트 담당자 시작 -->
      <div class="panel panel-primary panel-line animation-scale-up" style="animation-fill-mode:backwards; animation-duration: 250ms; animation-delay: 0ms;">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fas fa-user-tie"></i>
            Contact
          </h3>
          <div class="panel-actions">
            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse" aria-hidden="true"></a>
          </div>
        </div>
        <div id="projectContact" class="panel-body">
          <div class="row">
            <div class="form-group col-md-3">
              <label class="form-control-label" for="contact_name">이름</label>
              <div class="form-inline">
                <div class="form-group">
                  @Html.HiddenFor(x => x.cc_seq)
                  @Html.TextBoxFor(x => x.contact_name, new { @class = "form-control form-control-sm", @readonly = "readonly" })
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label" for="male">Gender</label>
              <div class="form-inline">
                <div class="form-group">
                  <div class="radio-custom radio-default radio-inline">
                    <input type="radio" id="male" name="contact_gender" value="1" disabled @(Model.contact_gender == 1 ? "checked" : "")>
                    <label for="hire">남</label>
                  </div>
                  <div class="radio-custom radio-default radio-inline">
                    <input type="radio" id="female" name="contact_gender" value="2" disabled @(Model.contact_gender == 2 ? "checked" : "")>
                    <label for="genderWoman">여</label>
                  </div>
                  <div class="radio-custom radio-default radio-inline">
                    <input type="radio" id="contact_gender_unknown" name="contact_gender" value="3" disabled @(Model.contact_gender == 3 ? "checked" : "")>
                    <label for="contact_gender_unknown">모름</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label" for="contact_email">이메일</label>
              @Html.TextBoxFor(x => x.contact_email, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label" for="contact_phone">전화번호</label>
              @Html.TextBoxFor(x => x.contact_phone, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>

          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="form-control-label" for="contact_cell_phone">휴대폰</label>
              @Html.TextBoxFor(x => x.contact_cell_phone, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label" for="contact_division">부서명</label>
              @Html.TextBoxFor(x => x.contact_division, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label" for="contact_position">직함</label>
              @Html.TextBoxFor(x => x.contact_position, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
            <div class="form-group col-md-3 vertical-align ">
              <div class="vertical-align-bottom">
                <button type="button" id="btnContact" class="btn btn-sm btn-success">담당자 불러오기</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- 프로젝트 담당자 끝-->
      <!-- 세금계산서 담당자 시작 -->
      <div class="panel panel-primary panel-line animation-scale-up" style="animation-fill-mode:backwards; animation-duration: 250ms; animation-delay: 0ms;">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fas fa-wallet"></i>
            전자세금계산서 담당자
          </h3>
          <div class="panel-actions">
            <a class="panel-action icon wb-minus" aria-expanded="true" data-toggle="panel-collapse" aria-hidden="true"></a>
          </div>
        </div>
        <div id="projectTax" class="panel-body">
          <div class="row">
            <div class="form-group col-md-3">
              <label class="form-control-label" for="tax_name">담당자</label>
              @Html.HiddenFor(x => x.ctc_seq)
              @Html.TextBoxFor(x => x.tax_name, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label" for="tax_division">담당부서</label>
              @Html.TextBoxFor(x => x.tax_division, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label" for="tax_email">이메일</label>
              @Html.TextBoxFor(x => x.tax_email, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label" for="tax_phone">전화번호</label>
              @Html.TextBoxFor(x => x.tax_phone, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>

          </div>
          <div class="row">
            <div class="form-group col-md-3">
              <label class="form-control-label" for="tax_cell_phone">휴대폰</label>
              @Html.TextBoxFor(x => x.tax_cell_phone, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label" for="tax_deposit_manager">발행용 담당자명</label>
              @Html.TextBoxFor(x => x.tax_deposit_manager, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
            <div class="form-group col-md-3">
              <label class="form-control-label" for="tax_deposit_email">발행용 이메일</label>
              @Html.TextBoxFor(x => x.tax_deposit_email, new { @class = "form-control form-control-sm", @readonly = "readonly" })
            </div>
            <div class="form-group col-md-3 vertical-align">
              <div class="vertical-align-bottom">
                <button type="button" id="btnTax" class="btn btn-sm btn-success">계산서 담당 불러오기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 세금계산서 담당자 끝 -->
    }
    <div class="text-right">
      @*PMS 오픈 관련 등록기능 제한*@
      @if (Univision.Security.AppIdentity.CanPmsEdit)
      {
        <button type="submit" id="btnSave" class="btn btn-primary" title="등록">Submit</button>
      }
    </div>
  }

</div>

@section scripts {
  <script type="text/javascript">
    $("#exp_salary").bind('keyup', function (event) {
      removeChar2(event);
      inputNumberFormat2(this);
    });

    $("#exp_salary").bind('keydown', function () {
      inputNumberFormat2(this);
    });

    $("#exp_salary,#currency_cd").change(function () {
            var cur_cd = $("#currency_cd").val();
            if (cur_cd != "" && cur_cd != "KRW") {
              ajxCall({
                url: '@Url.Action("FindExchangeApi", "Partial")',
                data: {
                  currency: cur_cd
                },
                type: 'POST',
                loading: true,
                loading_target: "#exp_loading",
                bef: function () {
                  $('#exp_won_label').text("환율 확인 중...");
                },
                suc: function (rst) {
                  if (rst && rst.ok) {
                    if (rst.data && rst.data.ex_seq > 0) {
                      var per_won = rst.data.per_won;
                      var per_rate = rst.data.ex_rate;
                      var org_money = uncomma2($('#exp_salary').val())
                      var result_won = ((org_money * per_won) / per_rate).toFixed(2);
                      $('#exp_salary_won').val(result_won.toString())
                      $('#exp_won_label').text("원화 환산 예상액 : 약 " + comma2(result_won.toString()) + "원");
                    } else {
                      $('#exp_won_label').text("환율 정보를 찾을 수 없습니다.");
                    }
                  } else {
                    $('#exp_won_label').text("환율 정보를 찾을 수 없습니다.");
                  }
                }
              })
            } else {
              $('#exp_won_label').text("");
              $('#exp_salary_won').val($('#exp_salary').val())
            }


          });
  </script>
  <script type="text/javascript">
        var callJobObj;
        var code2Arr = []; //placePopup 에서 사용하는 전역변수.
        var AM_Arr = [];
        var searcherArr = [];

        //AM Validator
        var amValidator = {
            selector: '#AMDiv',
            validators: {
                callback: {
                    message: '최소 한명의 AM은 선택해야 합니다.',
                    callback: function (input) {

                        var fv = $("#CreateForm").data("formValidation");

                        var len = $("#AMDiv").find("span").length;

                        let isEmpty = true;

                        if (len > 0) {
                            isEmpty = false;
                        }

                        if (!isEmpty) {
                            // Update the status of callback validator for all fields
                            fv.updateStatus('AMDiv', 'Valid', 'callback');
                            return true;
                        }
                        return false;
                    }
                }
            }
        }

        //search Validator
        var searcherValidator = {
            selector: '#Searcher',
            validators: {
                callback: {
                    message: '최소 한명의 SM은 선택해야 합니다.',
                    callback: function (input) {
                        var fv = $("#CreateForm").data("formValidation");

                        var len = $("#Searcher").find("span").length;

                        let isEmpty = true;

                        if (len > 0) {
                            isEmpty = false;
                        }

                        if (!isEmpty) {
                            // Update the status of callback validator for all fields
                            fv.updateStatus('Searcher', 'Valid', 'callback');
                            return true;
                        }
                        return false;
                    }
                }
            }
        };


        $(document).ready(function(){

            StopEnterSubmit();

            //회사명이 변경되면 c_seq 초기화
            $("#company_name").change(function () {
                $("#c_seq").val("0");
                $("#AMDiv").empty();
                $("#Searcher").empty();
                $("#cc_seq").val(0);
                $("#contact_cc_seq").val("");
                $("#contact_name").val("");
                $("#contact_email").val("");
                $("#contact_phone").val("");
                $("#contact_cell_phone").val("");
                $("#contact_division").val("");
                $("#contact_position").val("");

            });

            //회사명 검색
            $("#btnClientSearch").click(function(){

                $.ajax({
                    url: '@Url.Action("SearchProjectClient", "Project")',
                    data: {
                        searchTxt : $("#company_name").val()
                    },
                    dataType: 'html',
                    type: 'GET',
                    beforeSend: function ()
                    {
                        showLoading();
                    }
                })
                .done(function (json) {
                    hideLoading();

                    $.fancybox.open({
                        'content':json,
                        'width': '800',
                        'height': '385',
                        'autoDimensions':false,
                        'type':'iframe',
                        'autoSize': false,
                        'title': '고객사 목록',
                        helpers: {
                            title : {
                                type: 'inside',
                                position : 'top'
                            },
                            overlay: {
                                closeClick: false
                            }
                        }
                    });
                })
                .fail(function (e) {
                    hideLoading();
                    ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
                });
            });

            //AM 검색
            $("#btnAm").click(function () {

                if ($("#company_name").val() == "" || $("#c_seq").val() == 0) {
                    NormalAlert("고객사 명을 검색 하세요.")
                    return false;
                }

                AM_Arr = [];
                $("#AMDiv").find("span").each(function(){
                    AM_Arr.push($(this).attr("am_seq"));
                });

                $.ajax({
                    url: '@Url.Action("SearchProjectAM", "Project")',
                    data: {
                    },
                    dataType: 'html',
                    type: 'POST',
                    beforeSend: function ()
                    {
                        showLoading();
                    }
                })
                .done(function (json) {
                    hideLoading();

                    $.fancybox.open({
                        'content':json,
                        'width': '500',
                        'height': '385',
                        'autoDimensions':false,
                        'type':'iframe',
                        'autoSize': false,
                        'title': 'AM 목록',
                        helpers: {
                            title : {
                                type: 'inside',
                                position : 'top'
                            },
                            overlay: {
                                closeClick: false
                            }
                        }
                    });
                })
                .fail(function (e) {
                    hideLoading();
                    ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
                });

            });

            //Searcher 검색
            $("#btnSearcher").click(function () {

                if ($("#company_name").val() == "" || $("#c_seq").val() == 0) {
                    NormalAlert("고객사 명을 검색 하세요.")
                    return false;
                }

                searcherArr = [];
                $("#Searcher").find("span").each(function(){
                    searcherArr.push($(this).attr("searcher_seq"));
                });

                $.ajax({
                    url: '@Url.Action("SearchProjectSearcher", "Project")',
                    data: {

                    },
                    dataType: 'html',
                    type: 'POST',
                    beforeSend: function ()
                    {
                        showLoading();
                    }
                })
                .done(function (json) {
                    hideLoading();

                    $.fancybox.open({
                        'content':json,
                        'width': '500',
                        'height': '385',
                        'autoDimensions':false,
                        'type':'iframe',
                        'autoSize': false,
                        'title': 'SM 목록',
                        helpers: {
                            title : {
                                type: 'inside',
                                position : 'top'
                            },
                            overlay: {
                                closeClick: false
                            }
                        }
                    });
                })
                .fail(function (e) {
                    hideLoading();
                    ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
                });
            });

            //전자세금계산서 담당자
            $("#btnTax").click(function () {

                if ($("#company_name").val() == "" || $("#c_seq").val() == 0) {
                    NormalAlert("고객사 명을 검색 하세요.")
                    return false;
                }

                $.ajax({
                    url: '@Url.Action("SearchProjectTaxContact", "Project")',
                    data: {
                        c_seq: $("#c_seq").val()
                    },
                    dataType: 'html',
                    type: 'POST',
                    beforeSend: function ()
                    {
                        showLoading();
                    }
                })
                .done(function (json) {
                    hideLoading();

                    $.fancybox.open({
                        'content':json,
                        'width': '500',
                        'height': '385',
                        'autoDimensions':false,
                        'type':'iframe',
                        'autoSize': false,
                        'title': '전자세금계산서 담당자 목록',
                        helpers: {
                            title : {
                                type: 'inside',
                                position : 'top'
                            },
                            overlay: {
                                closeClick: false
                            }
                        }
                    });
                })
                .fail(function (e) {
                    hideLoading();
                    ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
                });

            });

            //담당자 불러오기
            $("#btnContact").click(function () {

                if ($("#company_name").val() == "" || $("#c_seq").val() == 0) {
                    NormalAlert("고객사 명을 검색 하세요.")
                    return false;
                }

                $.ajax({
                    url: '@Url.Action("SearchProjectContact", "Project")',
                    data: {
                        c_seq: $("#c_seq").val()
                    },
                    dataType: 'html',
                    type: 'POST',
                    beforeSend: function ()
                    {
                        showLoading();
                    }
                })
                .done(function (json) {
                    hideLoading();

                    $.fancybox.open({
                        'content':json,
                        'width': '500',
                        'height': '385',
                        'autoDimensions':false,
                        'type':'iframe',
                        'autoSize': false,
                        'title': 'Contact 목록',
                        helpers: {
                            title : {
                                type: 'inside',
                                position : 'top'
                            },
                            overlay: {
                                closeClick: false
                            }
                        }
                    });
                })
                .fail(function (e) {
                    hideLoading();

                    ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
                });

            });

            //유효성 검사 및 폼 전송
            $("#CreateForm").formValidation({
                framework: "bootstrap4",
                button: {
                    selector: "#btnSave",
                    disabled: "disabled"
                },
                submitHandler: function () {

                },
                icon: null,
                fields: {
                    c_seq: {
                        validators: {
                            notEmpty: {
                                message: "회사명은 필수 입력 항목입니다."
                            }
                        }
                    },
                    company_name: {
                        validators: {
                            notEmpty: {
                                message: "회사명은 필수 입력 항목입니다."
                            }
                        }
                    },
                    title: {
                        validators: {
                            notEmpty: {
                                message: "프로젝트 제목은 필수 입력 항목입니다."
                            }
                        }
                    },
                    AMDiv: amValidator,
                    Searcher: searcherValidator,
                    client_require: {
                        validators: {
                            notEmpty: {
                                message: "고객사 요청사항은 필수 입력 항목입니다."
                            }
                        }
                    },
                    internal_note: {
                        validators: {
                            notEmpty: {
                               message: "내부참고사항은 필수 입력 항목입니다."
                            }
                        }
                    },
                    fee_rate: {
                        validators: {
                            regexp: {

                                regexp: /^((100((\.|,)[0-9]{1,2})?)|([0-9]{1,2}((\.|,)[0-9]{0,2})?))$/,
                                message: "수수료율은 0~100까지 또는 소수점 첫째자리까지 입력 가능합니다."
                            }
                        }
                    }
                },
                err: {
                    clazz: "invalid-feedback"
                },
                control: {
                    valid: "is-valid",
                    invalid: "is-invalid"
                },
                row: {
                    invalid: "has-danger"
                }
            })
            //validation 성공시, ajax submit.
            //ajax submit 사용하지 않을 경우, on 부분은 삭제해도 됨.
            .on('success.form.fv', function (e) {
                //기본 submit 이벤트 취소.
                e.preventDefault();

                var currentData = {
                    p_seq: $("#p_seq").val(),
                    type: $("#type").val(),
                    pjt_type: $("input[name=pjt_type]:checked").val(),
                    c_seq: $("#c_seq").val(),
                    amList: [],
                    searcherList: [],
                    title: $("#title").val(),
                    client_require: $("#client_require").val(),
                    internal_note: $("#internal_note").val(),
                    exp_salary: uncomma2($("#exp_salary").val()),
                    exp_salary_won: uncomma2($("#exp_salary_won").val()),
                    currency_cd: $("#currency_cd").val(),
                    fee_rate: 100, //$("#fee_rate").val(),
                    cc_seq: $("#cc_seq").val(),
                    ctc_seq: $("#ctc_seq").val(),
                    business_code1: $("#business_code1").val(),
                    business_code2: $("#business_code2").val(),
                    job_code1: $("#job_code1").val(),
                    job_code2: $("#job_code2").val(),
                };

                //AM List
                $("#AMDiv").find(".badge").each(function () {
                    var amData = {
                        p_seq: 0,
                        uv_seq: $(this).attr("am_seq")
                    };

                    currentData.amList.push(amData);
                });

                //Searcher List
                $("#Searcher").find(".badge").each(function () {
                    var searcherData = {
                        p_seq: 0,
                        uv_seq: $(this).attr("searcher_seq")
                    };

                    currentData.searcherList.push(searcherData);
                });

                var formURL = $("#CreateForm").attr("action");
                $.ajax({
                    url: formURL,
                    type: "POST",
                    dataType: 'json',
                    data: {
                        data : currentData
                    },
                    beforeSend: function () {
                        showLoading();
                    },
                    success: function (json) {
                        hideLoading();
                        if (json.ok) {
                            NormalAlert(json.message);
                            location.href = "/Project/ProjectRepDetail?p_seq=" + json.p_seq;
                        }
                        else {
                            ErrorAlert(json.message);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        hideLoading();
                        ErrorAlert("알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.");
                    }
                });
            });



        }); //document.ready 종료

        //AM, Searcher등 뱃지 삭제.
        function removeBadge(obj) {

            $(obj).closest(".category").remove();
            $('#CreateForm').formValidation('revalidateField', 'AMDiv');
            $('#CreateForm').formValidation('revalidateField', 'Searcher');
        }

  </script>

}