@model List<Univision.Core.Models.DTO.pjt_recandidate_history>

<div class="panel" style="margin-bottom:0px !important;">
    <div class="panel-body" style="padding: 5px 10px 5px 10px;">
        <h5 class="red-600">※ 후보자 상태 추가의 경우는 [Add]버튼을 이용해 주십시오. 수정은 부득이 할 경우에만 이용 바랍니다.</h5>
        <table class="block_table mt-10 table table-striped table-hover" style="table-layout:fixed">
            <thead class="text-center">
                <tr>
                    <th class="tbw35">진행상태 / 일자</th>
                    <th class="tbw35">내용</th>
                    <th class="hidden-sm-down">등록일</th>
                    <th class="tbw30"></th>
                </tr>
            </thead>
            <tbody class="text-center" style="vertical-align:middle;">
                @if (Model.Count > 0)
                {
                    foreach (var data in Model)
                    {
                        <tr>
                            <td>
                                @Utils.ReturnProjectHistoryStateTxt(data.state)
                                <br />
                                @Utils.ConvertDateTimeToString(data.schedule_date)
                            </td>

                            <td class="text-left" style="min-width:250px; max-width:250px; word-break:break-all">
                                @data.contents
                            </td>
                            <td class="hidden-sm-down">
                                @Utils.ConvertDateTimeToString(data.create_dt)
                            </td>
                            <td class="sts23">
                                <button type="button" class="btn btn-sm btn-success" style=" width:43%; margin-right:1%;" id="btnPopModify" onclick="ProjectProgressCreatePop(@data.prc_seq, @data.pic_seq, @data.p_seq, @data.c_seq, '@data.kor_name')">
                                    <i class="fas fa-pen" style="cursor:pointer;"></i>
                                    정정
                                </button>
                                <button type="button" onclick="@Url.Action("Download", "DownloadFile", new { @element_seq = data.prc_seq, @type = "pjtRecHistory" })" style="width:53%;" class="btn btn-sm btn-primary" @(!string.IsNullOrWhiteSpace(data.file_directory) ? "" : "disabled")>
                                    <i class="fas fa-file"></i>
                                    첨부파일
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">데이터가 없습니다.</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    function ProjectProgressCreatePop(prc_seq, pic_seq, p_seq, c_seq, kor_name) {

        $.ajax({
            url: '@Url.Action("ProjectProgressCreate", "Project")',
            data: {

                pic_seq: pic_seq
                ,
                p_seq: p_seq
                ,
                c_seq: c_seq
                ,
                prc_seq: prc_seq
                ,
                kor_name: kor_name
            },
            dataType: 'html',
            type: 'GET',
            beforeSend: function ()
            {
                showLoading();
            }
        })
        .done(function (json) {
            hideLoading();

            $.fancybox.open({
                'content':json,
                'width': '530',
                'height': 'auto',
                'autoDimensions':false,
                'type':'iframe',
                'autoSize': false,
                'title': kor_name + " 일정확인/추가",
                helpers: {
                    title : {
                        type: 'inside',
                        position : 'top'
                    },
                    overlay: {
                        closeClick: false
                    }
                }
            });
        })
        .fail(function (e) {
            hideLoading();
            ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
        });

    }

</script>