@model Univision.Main.Models.Project.ProjectFileListModel

<link rel="stylesheet" href="~/Libs/remark/global/vendor/dropify/dropify.min599c.css?v4.0.4">

@using (Html.BeginForm("CreateProjectFile", "Project", FormMethod.Post, new { @id = "FileCreateForm", @enctype = "multipart/form-data" }))
{
  @*PMS 오픈 관련 등록기능 제한*@
  if (Univision.Security.AppIdentity.CanPmsEdit)
  {
    @Html.HiddenFor(x => x.p_seq)
    <div class="col-md-12 row">
      <div class="form-group col-md-2">
        @Html.TextBox("file_type_name", "", new { @class = "form-control", @placeholder = "파일구분(Ex. 보고서, 참고자료)" })
      </div>
      <div class="col-md-10">
        <button type="button" id="btnCreateFile" class="btn btn-sm btn-primary">등록</button>
      </div>
    </div>
    <div class="col-md-12 mb-30">
      <input type="file" id="files" name="files" class="dropify" data-plugin="dropify" data-default-file="" data-height="100" data-errors-position="outside" />
    </div>
  }
}

<table class="table table-borderless">
  <thead class="text-center">
    <tr>
      <th>No.</th>
      <th>구분</th>
      <th>파일명</th>
      <th>파일</th>
      <th>등록자</th>
      <th>등록일</th>
      <th>비고</th>
    </tr>
  </thead>
  <tbody class="text-center">
    @if (Model.list.Count > 0)
    {
      int num = (Model.PagingInfo.CurrentPage - 1) * Model.PagingInfo.ItemsPerPage + 1;
      foreach (var data in Model.list)
      {
        <tr>
          <td>
            @(num++)
          </td>
          <td>
            @data.file_type_name
          </td>
          <td>
            @data.file_path
          </td>
          <td>
            @if (!string.IsNullOrWhiteSpace(data.file_dir))
            {
              <a href="@Url.Action("Download", "DownloadFile", new { @element_seq = data.pf_seq, @type = "project" })">
                <i class="far fa-fw @Utils.ReturnFileExtensionClass(data.file_extension)"></i>
              </a>
            }
          </td>
          <td>
            @data.create_user_name
          </td>
          <td>
            @Utils.ConvertDateTimeToString(data.create_dt)
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-warning" onclick="DeleteProjectFile('관련파일 삭제', '관련파일을 삭제 하시겠습니까?', '@data.pf_seq')">삭제</button>
          </td>
        </tr>
      }
    }
    else
    {
      <tr>
        <td colspan="7">
          등록된 관련파일이 없습니다.
        </td>
      </tr>
    }
  </tbody>
</table>

@Html.PageAjaxLinksWithFunction(Model.PagingInfo,
                     ViewContext.HttpContext.Request.Url.AbsoluteUri,
                     x => String.Format("javascript:callProjectFileList({0}, {1})", Model.p_seq, x))

<script src="~/Libs/remark/global/vendor/dropify/dropify.min599c.js?v4.0.4"></script>
<script type="text/javascript" src="~/Scripts/FileDownload.js?v0.0.1"></script>
<script type="text/javascript">

    $(document).ready(function () {

        StopEnterSubmit();

        $('.dropify').dropify({
            messages: {
                'default': 'Drag and drop a file here or click',
                'replace': 'Drag and drop or click to replace',
                'remove': 'Remove',
                'error': '오류가 발생 했습니다. 다시 시도해주세요.'
            }
        });

        $("#btnCreateFile").click(function () {

            if ($("#file_type_name").val() == "") {
                ErrorAlert("파일 구분명을 입력 하세요.");
                return false;
            }

            if ($("#files")[0].files.length == 0) {
                ErrorAlert("파일을 등록하세요.");
                return false;
            }

            alertify.confirm()
                .set({
                    'labels': { ok: '확인', cancel: '취소' },
                    'onok': function () {
                        $("#FileCreateForm").submit();
                    },
                    'oncancel': function () {

                        return;
                    },
                })
                .setHeader('<i class="fas fa-exclamation-triangle" style="color:#FFDC2E"></i>프로젝트 파일 등록')
                .setting({
                    message: "파일을 등록하시겠습니까?",
                }).show();

        });

        $("#FileCreateForm").ajaxForm({
            dataType: 'json',
            beforeSubmit: function () {
                showLoading();
            },
            success: function (json) {
                hideLoading();
                if (json.ok) {
                    NormalAlert(json.message);
                    callProjectFileList(@Model.p_seq, @Model.PagingInfo.CurrentPage);
                }
                else {
                    ErrorAlert(json.message);
                }
            },
            error: function () {
                hideLoading();
            }
        });

    });

    function ConfirmCreateResume(title, msg) {


    }


</script>
