@model Univision.Main.Models.Project.SearchProjectClientModel
<style>
    h3 {
        margin-top: 0px !important;
    }

    .fancybox-title {
        text-align: left !important;
    }
</style>

<div class="form-inline mb-10">
    <div class="input-group col-md-12 no-side-space">
        @Html.TextBoxFor(x => x.searchTxt, new { @class = "form-control", @placeholder = "고객사 이름" })
        <button type="button" class="btn btn-primary" id="popSearchButton" onclick="FancyBoxSearchAndPageMove(1);"><i class="fas fa-search" aria-hidden="true"></i></button>
    </div>
</div>
<div class="panel" style="margin-bottom:0px !important;">
    <div class="panel-body" style="padding: 5px 10px 5px 10px;">
        <div class="table-responsive">
            <table class="block_table table table-striped tablesaw-columntoggle mb-0" style="table-layout:fixed">
                <thead class="text-center">
                    <tr>
                        <th class="tbw60">고객사명</th>
                        <th class="hidden-sm-down">사업자번호</th>
                        <th class="hidden-sm-down">대표자</th>
                        <th class="hidden-sm-down">산업</th>
                        <th class="tbw40">AM</th>
                    </tr>
                </thead>
                <tbody class="text-center" style="vertical-align:middle;" id="clientSearchBody">
                    @if (Model.list.Count > 0)
                    {
                        foreach (var data in Model.list)
                        {
                            <tr style="cursor:pointer" onclick="selectCompany('@data.c_seq', '@data.kor_name', '@data.biz_industry', '@data.homepage');">
                                <td class="text-truncate text-left">
                                    <span class="text-truncate s2">
                                        @data.kor_name
                                        @if (!String.IsNullOrEmpty(data.eng_name))
                                        {
                                            <text>(</text>@data.eng_name<text>)</text>
                                        }
                                    </span>
                                </td>
                                <td class="text-center hidden-sm-down">
                                    @data.biz_code
                                </td>
                                <td class="hidden-sm-down">
                                    @data.ceo
                                </td>
                                <td class="hidden-sm-down">
                                    @data.biz_industry
                                </td>
                                <td>
                                    @data.am_name
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">데이터가 없습니다.</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="sts04">
            @Html.PageAjaxLinksWithFunction(Model.PagingInfo,
                         ViewContext.HttpContext.Request.Url.AbsoluteUri,
                         x => String.Format("javascript:FancyBoxSearchAndPageMove({0})", x))
        </div>
    </div>
</div>

<script type="text/javascript">

    function selectCompany(c_seq, kor_name, biz_industry, biz_url) {
        $("@ViewBag.c_seq_id").val(c_seq);
        $("@ViewBag.name_id").val(kor_name);
        $("@ViewBag.industry_id").val(biz_industry);
        $("@ViewBag.url_id").val(biz_url);

        $.fancybox.close();
    }

    //FancyBox 팝업 내의 페이지 이동.
    function FancyBoxSearchAndPageMove(page) {
        if (page == null || page == undefined)
            page = 1;

        $.ajax({
            url: '@Url.Action("SearchClientPopup", "Project")',
            data: {
                searchTxt: $("#searchTxt").val()
                , c_seq_id: '@ViewBag.c_seq_id'
                , name_id: '@ViewBag.name_id'
                , industry_id: '@ViewBag.industry_id'
                , url_id : '@ViewBag.url_id'
                , page: page
            },
            dataType: 'html',
            type: 'POST',
            beforeSend: function () {
            }
        })
        .done(function (view) {

            $.fancybox({
                'content': view,
                'width': $(".fancybox-outer").width(),
                'height': $(".fancybox-outer").height(),
                'autoDimensions': false,
                'type': 'iframe',
                'autoSize': false,
                'title': $(".fancybox-title").text(),
                helpers: {
                    title: {
                        type: 'inside',
                        position: 'top'
                    },
                    overlay: {
                        closeClick: false
                    }
                }
            });

        })
        .always(function () {

        });
    }

</script>