@{
  ViewBag.Title = "이력서 Makeup (by GPT)";
  Layout = "~/Views/Shared/_Layout.cshtml";

  string lastest_model = "gpt-5-mini";
  string api_key = System.Configuration.ConfigurationManager.AppSettings["OpenAIApiKey"]; //메이크업 사용자용
  string is_editabel = "";
  if (HttpContext.Current.Request.Cookies.AllKeys.Contains("MAKEUP_EDITABLE"))
  {
    is_editabel = Request.Cookies["MAKEUP_EDITABLE"].Value;
  }

  if (HttpContext.Current.Request.Cookies.AllKeys.Contains("MAKEUP_GPT_MODEL"))
  {
    lastest_model = Request.Cookies["MAKEUP_GPT_MODEL"].Value;
  }


}
<!--<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>-->
<script src="~/Libs/dropzone/js/dropzone.min.js?v=1533562669"></script>
<link rel="stylesheet" href="~/Libs/dropzone/css/dropzone_ai.css?v=1533562669">
<style>
  .dz-bg-info {
    background-color: rgb(217 238 241) !important;
  }
</style>
<div class="page-content" style="position:relative;">
  <div class="row">
    <div class="col-12">
      <div class="panel panel-info panel-line shadow">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fas fa-upload"></i>
            Makeup (by GPT)
            <span class="small">
              <span class="ml-20">
                <input type="checkbox" id="chk_is_editable" name="chk_is_editable" data-plugin="switchery" value="Y" @(is_editabel == "Y" ? "checked" : "") onchange="javascript:setCookieOrg('MAKEUP_EDITABLE', (this.checked ? 'Y' : ''), 30);" />
              </span>
              <label for="chk_is_editable">내용 검토(수정) 후 파일 생성하기</label>
            </span>
          </h3>
          <div class="panel-actions">
            <a class="panel-action" aria-hidden="true" title="업로드 초기화" href="javascript:ResetUploadPage();"><i class="fa fa-redo"></i></a>
          </div>
        </div>
        <div class="panel-body row">

          <div class="col-6 col-md-4">
            <form id="form_makeup_kr" class="dropzone h-full text-left dz-bg-info">
              <div class="row py-2">
                <div class="col">
                  <div class="dz-message" id="upload_message_kr">
                    <h4><span class="font-weight-900">국문</span> Makeup 업로드 </h4>
                    <small>[이력서 파일을 여기에 끌어놓거나 클릭하여 파일을 선택해주세요.]</small>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6 col-md-4">
            <form id="form_makeup_en" class="dropzone h-full text-left dz-bg-info">
              <div class="row py-2">
                <div class="col">
                  <div class="dz-message" id="upload_message_en">
                    <h4><span class="font-weight-900">영문</span> Makeup 업로드 </h4>
                    <small>[이력서 파일을 여기에 끌어놓거나 클릭하여 파일을 선택해주세요.]</small>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-12 col-md-4">
            <div class="border p-3 font-size-14">
              <span class="text-danger font-weight-800">
                * GPT가 분석한 내용은 정확하지 않을 수 있습니다. <br />
                &nbsp;&nbsp;누락되거나 잘못된 정보가 포함될 확률이 매우 높습니다. 검수를 꼭 해주세요.<br />
                &nbsp;&nbsp;(* 학력/경력 기간, 경력상세정보 내용 및 들여쓰기, 자격증, 기타 사항 등 꼭 검수 필요)
              </span><br /><br />

              <span class="font-weight-800">
                - 자기소개 내용은 생성하지 않습니다. (직접 붙여넣기 해주세요.)<br />
              </span>
              - 글자 인식이 가능한 이력서만 작업이 가능합니다.(이미지 형식은 인식 불가)<br />
              - 내용이 너무 길거나 용량이 큰 파일은 인식이 어려울 수 있습니다.<br />
            </div>
            <select id="gpt_model" name="gpt_model" onchange="javascript: setCookieOrg('MAKEUP_GPT_MODEL', this.value, 30); console.log(this.value);" class="d-none1">
              <option value="gpt-5-nano" @(lastest_model == "gpt-5-nano" ? "selected" : "")>새롭게 변경된 메이크업 추출 방식 2 (GPT5N)</option>
              <option value="gpt-5-mini" @(lastest_model == "gpt-5-mini" ? "selected" : "")>새롭게 변경된 메이크업 추출 방식 1 (GPT5M)</option>
              <option value="gpt-4.1-mini" @(lastest_model == "gpt-4.1-mini" ? "selected" : "")>기존메이크업 방식 (GPT4.1)</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="div_info_area">

    <div class="row" id="log_dummy">
      <div class="col-12">
        <div class="panel shadow is-collapse-x">
          <div class="panel-heading">
            <h5 class="panel-title small">
              <i class="fas fa-file"></i>
              <span class="progress_lang"></span> <span class="progress_file_name"></span> <span class="progress_percentage small"></span>
            </h5>

            <div class="panel-actions">
              <a class="panel-action icon extend-box wb-plus" aria-expanded="false" data-toggle="panel-collapse" aria-hidden="true">
              </a>
            </div>
          </div>
          <div class="panel-body row">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="debug_area" class="row d-none">
    <div class="col">
      <form id="ai_makeup_form" method="post" action="@Url.Action("CandidateAiCreate", "")" target="_blank">
        <input type="hidden" name="uploadFolder" id="uploadFolder" value="" required />
        <textarea class="form-control" id="makeup_model" name="makeup_model" required></textarea>
      </form>
    </div>
  </div>






</div>

@section scripts{
  <script src="~/Scripts/schema/makeup_prompt.js"></script>
  <script src="~/Scripts/schema/gpt_5_makeup_schema.js"></script>
  <script type="text/javascript">
    let working_cnt = 0; // 작업 갯수 (로그 판낼 및 쓰레드용)
    window.url_make_makeup = "@Url.Action("MakeMakeup", "GPT")";
    window.url_resume_upload_get_contents = "@Url.Action("ResumeUploadGetContents", "Candidate")";
    const API_KEY = "@api_key";
    const API_URL = "https://api.openai.com/v1/chat/completions";
    const log_dummy = document.getElementById("log_dummy") // 로그 진행 용 더미 판넬 (파일 업로드 시 추가된다.)
    const countTokens = (text) => text.split(/\s+/).length;

    const makeup_work = [];
    /*
    {
      is_progress:true,
      controller: null,
      log_area: null,
      can_resume_info: null,
      file_contents: null,
      ai_summary_stream_no_career: null,
      ai_summary_stream_only_career: null,

    }
    */



    //업로드 컴포넌트
    var myDropzoneKR = new Dropzone("#form_makeup_kr", {
      uploadMultiple: false,
      maxFiles: 1,
      url: window.url_resume_upload_get_contents,
      method: "post",
    });
    //
    myDropzoneKR.on("success", async function (file, response) {
      working_cnt++;
      initWork("KR", working_cnt);
      if (response.ok) {
        ai_progress(response, working_cnt)
        //SubmitToAiCreate(response);
      } else {
        //this.removeFile(file);
        //ErrorAlert("[ERROR]" + response.message);
        //document.getElementById('log_panel').classList.remove('d-none');
        NewAddLog("danger", "파일 업로드 실패 : " + response.message, working_cnt);
      }
      this.removeFile(file);
    });

    var myDropzoneEn = new Dropzone("#form_makeup_en", {
      uploadMultiple: false,
      maxFiles: 1,
      url: window.url_resume_upload_get_contents,
      method: "post",
    });
    //
    myDropzoneEn.on("success", async function (file, response) {
      working_cnt++;
      initWork("KR", working_cnt);
      if (response.ok) {
        ai_progress(response, working_cnt)

        //SubmitToAiCreate(response);
      } else {
        //this.removeFile(file);
        //ErrorAlert("[ERROR]" + response.message);
        document.getElementById('log_panel').classList.remove('d-none');
        AddLog("danger", "파일 업로드 실패 : " + response.message);
      }
      this.removeFile(file);

    });

    function initWork(lang, cnt) {
      if (!cnt) {
        console.error("cnt 없음");
        return;
      }

      if (!lang) {
        console.error("lang 없음");
        return;
      }

      let logElement = log_dummy.cloneNode(true);
      logElement.id = "log_panel_" + cnt;
      document.getElementById("div_info_area").prepend(logElement);
      let log_area = document.getElementById('log_panel_' + cnt)
      log_area.getElementsByClassName('progress_lang')[0].innerText = '[' + lang + ']';

      let makeup_progress = {
        gpt_model : $('#gpt_model').val(),
        percentage: 0, //진행도
        is_progress: true, // 다음 프로세스 진행 가능 여부
        lang: lang, // 언어
        controller: null, //분석(Stream) 컨트롤러
        log_area: log_area, //로그표기 Element
        can_resume_info: null, // 파일 정보
        file_contents: null, // 파일 내용
        ai_summary_stream_no_career: null, //경력사항 제외 분석 결과
        ai_summary_stream_only_career: null, //경력사항 분석 결과
      }

      makeup_work[cnt] = makeup_progress;
    }

    function NewAddLog(type, contents, cnt) {
      if (!cnt) {
        console.error("cnt 없음");
        return;
      }
      if (!type) {
        type = "info";
      }
      var event_time = "[" + new Date().toISOString() + "]";
      var reset_btn = '';
      var card = `<div class='card border border-${type} shadow'>
                    <div class="card-block text-${type} py-2 ">
                      <span class='text-dark'>${event_time}</span><br/>
                      ${contents}
                    </div>
                    ${reset_btn}
                  </div>`;
      let temp = document.createElement("div");
      temp.innerHTML = card;
      temp.style.opacity = '0';
      temp.style.transition = 'opacity 500ms';
      temp.classList.add('col-12');

      makeup_work[cnt].log_area.getElementsByClassName('panel-body')[0].prepend(temp);

      setInterval(() => temp.style.opacity = '1', 100);

      if (type == "danger") {
        makeup_work[cnt].percentage = -1
        makeup_work[cnt].log_area.classList.add("border");
        makeup_work[cnt].log_area.classList.add("border-danger");
        makeup_work[cnt].log_area.getElementsByClassName('progress_percentage')[0].innerText = "0% (작업 실패 - 오류발생) 자세한 내용은 우측 '+' 버튼을 눌러 확인하세요.";
        makeup_work[cnt].log_area.getElementsByClassName('progress_percentage')[0].classList.add("text-danger");
      }
    }

    function SetFileInfo(response, cnt) {
      try {
        NewAddLog("info", "파일 내용 확인 중..", cnt);
        makeup_work[cnt].can_resume_info = response.result;
        makeup_work[cnt].can_resume_info.file_dir = "/" + makeup_work[cnt].can_resume_info.file_dir
        //$('#uploadFolder').val(response.temp_folder);

        makeup_work[cnt].percentage = 5
        makeup_work[cnt].log_area.getElementsByClassName('progress_file_name')[0].innerText = makeup_work[cnt].can_resume_info.file_path;
        makeup_work[cnt].log_area.getElementsByClassName('progress_percentage')[0].innerText = "5% (작업중)";


        if (response.file_content == "") {
          throw "내용을 확인 할 수 없는 파일입니다.";
        }

        makeup_work[cnt].file_content = response.file_content

        NewAddLog("info", "파일 내용 확인 완료" + "<textarea class='form-control border-info' rows='5' readonly='true'>" + response.file_content + "</textarea>", cnt);
        return true;

      } catch (error) {
        NewAddLog("danger", "파일 내용 확인 중 오류 발생 " + error, cnt);
        return false;
      }
    }
  </script>
  <script type="text/javascript">
    Dropzone.autoDiscover = false; // 업로드 컴포넌트 자동활성화 방지
    


    const ai_progress = async (response, cnt) => {
      if (!cnt) {
        console.error("cnt 없음");
        return;
      }
      
      NewAddLog("info", "파일 업로드 성공", cnt);
      //업로드 완료 후
      makeup_work[cnt].is_progress = await SetFileInfo(response, cnt); // 업로드 파일 정보 설정 및 파일 분석 시작
      //console.log("SetFileInfo", makeup_work[cnt].is_progress)
      if (!makeup_work[cnt].is_progress)
        return;
      //console.log("SetFileInfo", makeup_work[cnt].is_progress)
      //이력서 기본 정보 분석
      makeup_work[cnt].is_progress = await GenerateJsonFromResumeStreamNoCareer(cnt);

      if (!makeup_work[cnt].is_progress)
        return;

      //이력서 기본 정보 분석
      makeup_work[cnt].is_progress = await GenerateJsonFromResumeStreamOnlyCareer(cnt);

      if (!makeup_work[cnt].is_progress)
        return;

      return "OK";



      





      //console.log("AddLog", isprogress)
    }



    const GenerateJsonFromResumeStreamNoCareer = async (cnt) => {
      let result = true;
      let usageFeedback = {};
      //let prompt_nc = document.querySelector(`#prompt_without_career_${lang}`);

      const startTime = new Date();
      makeup_work[cnt].controller = new AbortController();
      const signal = makeup_work[cnt].controller.signal;

      var data = {
        model: makeup_work[cnt].gpt_model,
        stream: true
      }
      var system_message = "";
      //GPT5계열일 경우 프롬프트 및 json구조 지정
      if (makeup_work[cnt].gpt_model.startsWith("gpt-5")) {
        //data.seed = window.seed;
        system_message = gpt5_kr_no_career_prompt_base
        data.response_format = {
          type: "json_schema",
          json_schema: {
            name: "resume_nc",
            strict: true,
            schema: gpt5_nc_schema_simple
          }
        }
      } else {
        data.temperature = 0;
        data.top_p = 1;
        system_message = gpt4_kr_no_career_prompt_base
      }
      data.messages = [
        { role: "system", content: system_message  },
        { role: "user", content: makeup_work[cnt].file_content }
      ];

      const token_cnt = countTokens(makeup_work[cnt].file_content + system_message );

      NewAddLog("info", `경력사항 제외 내용 분석 준비(1/2).. 요청토큰(${token_cnt})`, cnt);

      makeup_work[cnt].log_area.getElementsByClassName('progress_percentage')[0].innerText = "10% (작업중)";
      NewAddLog("info", `GPT를 통해 경력사항을 제외한 내용 분석 중(1/2)..<span id='generate_sec-nc-${cnt}'></span>
            <textarea class='form-control border-info' id='openai-stream-nc-${cnt}' rows='20' readonly='true'></textarea>`, cnt);
      makeup_work[cnt].log_area.getElementsByClassName('progress_percentage')[0].innerText = "15% (작업중)";

      const openaiStream = document.getElementById(`openai-stream-nc-${cnt}`);
      const generateSec = document.getElementById(`generate_sec-nc-${cnt}`);

      //btn_cancel_result.disabled = false;
      openaiStream.value = "내용 분석 중...";

      try {
        const response = await fetch(API_URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${API_KEY}`,
          },
          body: JSON.stringify(data),
          signal,
        });

        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");
        makeup_work[cnt].ai_summary_stream_no_career = '';
        openaiStream.value = '';
        let buffer = "";

        const processStream = async () => {
          let done = false;
          while (!done) {
            const now = parseInt((new Date() - startTime) / 1000);
            generateSec.innerText = `(${now} 초 경과)`;

            const { value, done: streamDone } = await reader.read();
            done = streamDone;

            if (done) {
              break;
            }

            // 헤더 값 가져오기
            usageFeedback = {
              limit: response.headers.get('x-ratelimit-limit'),
              remaining: response.headers.get('x-ratelimit-remaining'),
              reset: response.headers.get('x-ratelimit-reset'),
              used: response.headers.get('x-ratelimit-used'),
            };

            buffer += decoder.decode(value, { stream: true });

            const lines = buffer.split("\n\n");
            buffer = lines.pop(); // 마지막 라인은 버퍼에 남겨둠

            const parsedLines = lines
              .map(line => line.replace(/^data: /, "").trim()) // "data: " 접두사 제거
              .filter(line => line && line !== "[DONE]"); // 빈 줄과 "[DONE]" 제거

            parsedLines.forEach(line => {
              try {
                const parsedLine = JSON.parse(line); // JSON 문자열 파싱
                const { content } = parsedLine.choices[0].delta;
                if (content) {
                  makeup_work[cnt].ai_summary_stream_no_career += content;
                  openaiStream.value += content;
                  openaiStream.scrollTop = openaiStream.scrollHeight;
                }
              } catch (error) {
                console.error('JSON 파싱 오류:', error);
              }
            });
          }
        };

        await processStream();

        NewAddLog("info", "파일 내용 분석 완료 (경력사항제외)", cnt);
      } catch (error) {
        if (signal.aborted) {
          NewAddLog("danger", "요청이 중지 되었습니다.", cnt);
        } else {
          console.error("Error:", error);
          makeup_work[cnt].ai_summary_stream_no_career += `\n분석 중 오류가 발생하였습니다.\n내용: ${error}`;
          NewAddLog("danger", `분석 중 오류가 발생하였습니다.\n내용: ${error}`, cnt);
        }
        result = false;
      } finally {
        if (usageFeedback.limit) {
          NewAddLog("info", `토큰 사용량<br/>Limit: ${usageFeedback.limit}<br/>Remaining: ${usageFeedback.remaining}<br/>Reset: ${usageFeedback.reset}`, cnt);
        }
        makeup_work[cnt].controller = null; // Reset the AbortController instance
      }

      return result;
    };

    const GenerateJsonFromResumeStreamOnlyCareerProxy = async (cnt) => {
      let result = true;
      let usageFeedback = {};
      //let prompt_oc = document.querySelector(`#prompt_career_only_${lang}`);

      const startTime = new Date();
      controller = new AbortController();
      const signal = controller.signal;
      const token_cnt = countTokens(file_content[cnt] + prompt_oc.value);

      NewAddLog("info", `경력사항 분석 준비(2/2).. 요청토큰(${token_cnt})`, cnt);
      log_area[cnt].getElementsByClassName('progress_percentage')[0].innerText = "25% (작업중)";

      AddLog("info", `GPT를 통해 경력사항 분석 중(2/2)..<span id='generate_sec-oc-${cnt}'></span>
            <textarea class='form-control border-info' id='openai-stream-oc-${cnt}' rows='20' readonly='true'></textarea>`, cnt);

      log_area[cnt].getElementsByClassName('progress_percentage')[0].innerText = "35% (작업중)";





      const openaiStream = document.getElementById(`openai-stream-oc-${cnt}`);
      const generateSec = document.getElementById(`generate_sec-oc-${cnt}`);
      openaiStream.value = "내용 분석 중...";

      try {
        var data = {
          model: $('#gpt_model').val(),
          stream: true
        }
        data.messages = [
          { role: "system", content: prompt_nc.value },
          { role: "user", content: file_content[cnt] }
        ];

        if ($('#gpt_model').val().startsWith("gpt-5")) {
          data.seed = window.seed;

        } else {
          data.temperature = 0;
          data.top_p = 1;
        }

        const response = await fetch(API_URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${API_KEY}`,
          },
          body: JSON.stringify(data),
          signal,
        });

        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");
        ai_summary_stream_oc[cnt] = '';
        openaiStream.value = '';
        let buffer = "";

        const processStream = async () => {
          let done = false;
          while (!done) {
            const now = parseInt((new Date() - startTime) / 1000);
            generateSec.innerText = `(${now} 초 경과)`;

            const { value, done: streamDone } = await reader.read();
            done = streamDone;

            if (done) {
              break;
            }

            usageFeedback = {
              limit: response.headers.get('x-ratelimit-limit'),
              remaining: response.headers.get('x-ratelimit-remaining'),
              reset: response.headers.get('x-ratelimit-reset'),
              used: response.headers.get('x-ratelimit-used'),
            };

            buffer += decoder.decode(value, { stream: true });

            const lines = buffer.split("\n\n");
            buffer = lines.pop();

            const parsedLines = lines
              .map(line => line.replace(/^data: /, "").trim())
              .filter(line => line && line !== "[DONE]");

            parsedLines.forEach(line => {
              try {
                const parsedLine = JSON.parse(line);
                const { content } = parsedLine.choices[0].delta;
                if (content) {
                  ai_summary_stream_oc[cnt] += content;
                  openaiStream.value += content;
                  openaiStream.scrollTop = openaiStream.scrollHeight;
                }
              } catch (error) {
                console.error('JSON 파싱 오류:', error);
              }
            });
          }
        };

        await processStream();


        NewAddLog("info", "파일 내용 분석 완료 (경력사항)", prg_resultm, cnt);
        log_area[cnt].getElementsByClassName('progress_percentage')[0].innerText = "75% (작업중)";
      } catch (error) {
        if (signal.aborted) {
          NewAddLog("danger", "요청이 중지 되었습니다.", cnt);
        } else {
          console.error("Error:", error);
          ai_summary_stream_oc[cnt] += `\n분석 중 오류가 발생하였습니다.\n내용: ${error}`;
          NewAddLog("danger", `분석 중 오류가 발생하였습니다.\n내용: ${error}`, cnt);
        }
        result = false;
      } finally {
        if (usageFeedback.limit) {
          NewAddLog("info", `토큰 사용량<br/>Limit: ${usageFeedback.limit}<br/>Remaining: ${usageFeedback.remaining}<br/>Reset: ${usageFeedback.reset}`, cnt);
        }
        //btn_cancel_result.disabled = true;
        controller = null;
      }

      return result;
    };




    function ResetUploadPage() {
      alertify.confirm()
        .set({
          'labels': { ok: 'OK', cancel: 'Cancel' },
          'onok': function () {
            location.reload();
          },
          'oncancel': function () {
            return;
          },
        })
        .setting({
          message: "업로드 화면을 초기화 하시겠습니까?",
        })
        .show();

    }

  </script>

}
