@model List<Univision.Core.Models.DTO.pjt_recandidate_history>
@{
  ViewBag.Title = "이력서 Makeup (by GPT)";
  ViewBag.NoMenu = true;
  Layout = "~/Views/Shared/_Layout.cshtml";
  string actionName = ViewContext.RouteData.Values["action"].ToString().ToLower();

  string lastest_model = "gpt-4o-mini";
  string api_key = System.Configuration.ConfigurationManager.AppSettings["OpenAIApiKey"]; //메이크업 사용자용
}

<div class="p-3">
  <div class="panel panel-success animation-scale-up" style="animation-fill-mode:backwards; animation-duration: 250ms; animation-delay: 0ms;">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fas fa-newspaper"></i>
        이력서 Makeup (by GPT) <span class="badge badge-primary">Beta</span>
      </h3>
      <div class="panel-actions">
        <a class="panel-action" aria-hidden="true" title="업로드 초기화" href="javascript:ResetMakeupPage();"><i class="fa fa-redo"></i></a>
      </div>
    </div>
    <div id="makeup_list_panel" class="panel-body">
      <div class="modal fade" id="modal_makeup_progress" tabindex="-1" role="dialog" aria-labelledby="modal_makeup_progress_label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-title">
              <h3 class="pl-20"><span id="ai_modal_title">GPT가 파일을 분석 중 입니다..</span></h3>
            </div>
            <div class="modal-body text-center" id="ai_modal_contents">
              <span id="summary_loader" class="loader"></span>
            </div>
            <div class="modal-footer">
              <span style="" class="text-center">
                <button type="button" class="btn btn-danger" style="min-width:200px;" id="btn_cancel_result" disabled="true">요청취소</button>
                <button type="button" class="btn btn-secondary d-none" style="min-width:200px;" id="btn_close_modal" data-dismiss="modal">닫기</button>
              </span>
            </div>
          </div>

        </div>

      </div>
      <div class="table-responsive">
        <input type="hidden" class="req_user" value="@ViewBag.request_user" name="req_user" id="req_user" />
        <table class="table table- bg-progress-table" style="table-layout:fixed;font-size:1em;">
          <thead>
            <tr>
              <th class="text-center" style="width:100px;">후보자 정보<br />&nbsp;</th>
              <th class="text-center" style="width:120px;">
                국문이력서<br />
                <input type="checkbox" class="chk_request_makeup" name="chk_request_makeup" id="select_all_kor" data-target="chk_kor_makeup" />
              </th>
              <th class="text-center" style="width:120px;">
                영문이력서<br />
                <input type="checkbox" class="chk_request_makeup" name="chk_request_makeup" id="select_all_eng" data-target="chk_eng_makeup" />
              </th>
              <th class="text-center" style=""></th>
            </tr>
          </thead>
          <tbody class="progress-table-body">
            @if (Model.Count > 0)
            {
              foreach (var data in Model)
              {
                <tr>
                  <td class="text-center">
                    <input type="hidden" class="pic_seq" value="@data.pic_seq" name="pic_seq" id="pic_seq_@(data.pic_seq)" data-name="@data.kor_name" data-seq="@data.c_seq" />

                    <a href="javascript:openCandidatePop('@data.c_seq')" data-html="true" data-toggle="popover" data-trigger="hover">
                      @data.kor_name<br />
                      @if (data.birth_date.HasValue)
                      {
                        @("(" + Utils.ConvertDateTimeToString(data.birth_date).Substring(2, 2) + "년생")
                      }

                      @(" / " + Utils.ReturnGenderTxt(data.gender) + ")")
                    </a>
                  </td>
                  <td class="text-center">

                    @if (!string.IsNullOrWhiteSpace(data.final_kor_resume_dir))
                    {
                      <a class="badge badge-outline badge-primary" href="@Url.Action("Download", "DownloadFile", new { @element_seq = data.final_kor_cr_seq, @type = "canResume" })" title="국문원본이력서 : @data.final_kor_resume_name">
                        <i class="fas fa-file"></i> K (@Utils.ConvertDateTimeToString(data.final_kor_resume_date))
                      </a><br />
                      <input type="checkbox" class="chk_kor_makeup" name="chk_kor_makeup" id="kor_makeup_@data.pic_seq" value="@data.final_kor_cr_seq" data-c_seq="@data.c_seq" />
                    }
                  </td>
                  <td class="text-center">
                    @if (!string.IsNullOrWhiteSpace(data.final_eng_resume_dir))
                    {
                      <a class="badge badge-outline badge-info" href="@Url.Action("Download", "DownloadFile", new { @element_seq = data.final_eng_cr_seq, @type = "canResume" })" title="영문원본이력서 : @data.final_eng_resume_name" download>
                        <i class="fas fa-file"></i> E (@Utils.ConvertDateTimeToString(data.final_eng_resume_date))
                      </a><br />
                      <input type="checkbox" class="chk_eng_makeup" name="chk_eng_makeup" id="eng_makeup_@data.pic_seq" value="@data.final_eng_cr_seq" data-c_seq="@data.c_seq" />
                    }
                  </td>
                  <td class="small">
                    <div class="border p-1">
                      [K] : <span class="progress-kor-@data.pic_seq">
                        @if (data.final_kor_resume_date < data.final_mkor_resume_date)
                        {
                          <span class="text-danger">* 최근Makeup 파일보다 오래됨. 최신 이력서인지 확인해주세요.</span>
                        }
                        else
                        {

                        }
                      </span>
                    </div>
                    <div class="border p-1">
                      [E] : <span class="progress-eng-@data.pic_seq">
                        @if (data.final_eng_resume_date < data.final_meng_resume_date)
                        {
                          <span class="text-danger">* 최근Makeup 파일보다 오래됨. 최신 이력서인지 확인해주세요.</span>
                        }
                      </span>
                    </div>
                  </td>
                </tr>

              }
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        @if (actionName == "makeupgpt_mr")
        {
          <select id="gpt_model" name="gpt_model" onchange="javascript: setCookieOrg('MAKEUP_GPT_MODEL', this.value, 30); console.log(this.value);" class="d-none">
            <option value="gpt-4o-mini" @(lastest_model == "gpt-4o-mini" ? "selected" : "")>GPT-4o-mini(조금 덜똑똑하지만 가볍고 빠름)</option>
            <option value="gpt-3.5-turbo-16k" @(lastest_model == "gpt-3.5-turbo-16k" ? "selected" : "")>GPT-3.5t(옛날GPT)</option>
            <option value="gpt-4o" @(lastest_model == "gpt-4o" ? "selected" : "")>GPT-4o (현재 제일똑똑하지만 무겁고 느림 + 비쌈)</option>
          </select>
        }
        else
        {
          <input type="hidden" id="gpt_model" name="gpt_model" value="@lastest_model" />
        }

      </div>
      <div class="col-12 text-center pb-10">
        <button class="btn btn-lg btn-success" onclick="javascript:StartMakeup()">작업 시작</button>
      </div>
    </div>
    @if (actionName != "makeupgpt_mr")
    {
      <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3 border border-info shadow p-5">
          <span class="text-danger font-weight-800">
            * GPT가 분석한 내용은 정확하지 않을 수 있습니다. <br />
            &nbsp;&nbsp;누락되거나 잘못된 정보가 포함될 확률이 매우 높습니다. 검수를 꼭 해주세요.<br />
            &nbsp;&nbsp;(* 학력/경력 기간, 경력상세정보 내용 및 들여쓰기, 자격증, 기타 사항 등 꼭 검수 필요)
          </span><br /><br />

          <span class="font-weight-800">
            - 자기소개 내용은 생성하지 않습니다. (직접 붙여넣기 해주세요.)<br />
          </span>
          - 원본이력서가 최신 이력서가 아닐 경우 후보자 화면에서 최신이력서를 업로드 하신 다음 새로고침 해주세요.<br />

          - 글자 인식이 가능한 이력서만 작업이 가능합니다.(이미지 형식은 인식 불가)<br />
          - 내용이 너무 길거나 용량이 큰 파일은 인식이 어려울 수 있습니다.<br />

          <span class="font-weight-800">
            - 최종 검증이 끝난 유효한 메이크업 이력서 파일은 직접 후보자 정보에 업로드 부탁드립니다.<br />
          </span>
        </div>
      </div>
    }
  </div>

  <div class="">
    <div id="debug_area" class="row d-none">
      <!--d-none-->
      <div class="col">
        <form id="ai_makeup_form" method="post" action="@Url.Action("CandidateAiCreate", "GPT")" target="_blank">
          <input type="hidden" name="uploadFolder" id="uploadFolder" value="" required />
          <textarea class="form-control" id="makeup_model" name="makeup_model" required></textarea>
          <textarea class="form-control" id="makeup_model_X" name="makeup_model_X" required>{"candidate":"Jennifer Jieun Lee","yob":"","gender":"","addr":"","core":["Results driven and agile finance leader with a commitment to excellence/efficiency and the ability to lead and work collaboratively with all functions to achieve organizational goals.","Diverse public and private industry experience in mature and entrepreneurial environments across various industries, with significant international experience working in Korea, the US and Japan."],"education":[{"school":"Hankuk University of Foreign Studies","area":"Korea","major":"Business Administration","grade":"","degree":"Bachelor","is_grdt":"","ad_yyyymm":"","gdt_yyyymm":""}],"career":[{"company":"SANOFI","info":"","area":"Cambridge","dept":"Global Rare Blood Disorders","pos":"Head of Finance","j_yyyymm":"Sep. 2021","r_yyyymm":"Present","r_reason":"","desc":[{"desc":"A member of Global Rare Blood Disorders Franchise LT, responsible for €1.5bn world-wide sales, ensuring in meeting the Budget as well as successful new product launches (i.e. ALTUVIIIO) by collaborating closely with internal stakeholders across Finance, Manufacturing & Supply, R&D, Market Access and Commercial.","depth":[{"desc":"Performance Management: Responsible for performance reports, including Sales, P&L, Headcount and Investments, for the Global Leadership Teams and monitor Global/Region and countries TA’s performance and provide comments and recommendations (i.e. tradeoffs), including connecting external market trends with internal performance and monitor risks & opportunities.","depth":[]},{"desc":"Demand/Supply management: Review Global demand/Supply forecasts with Manufacturing & Supply to ensure adequate supply for all Global Rare Blood Disorder products.","depth":[]},{"desc":"Launch Excellence: Finance lead throughout the product launches, provide financial expertise and support on launch preparation, governance, and launch execution monitoring (i.e., ALTUVIIIO).","depth":[]},{"desc":"Global Long Range Strategic Planning: Lead the process for respective Therapeutic Areas including key investments (External Partners, Infrastructure, Commercial Operations, R&D, M&S) and lead interaction with the Sanofi Group Strategy and Finance Leadership Team.","depth":[]},{"desc":"Investor Relations: Provide quarterly sales performance analysis and outlook for quarterly IR calls.","depth":[]},{"desc":"Strategic projects: Finance representative of the Franchise for strategic projects and provide/present financial data and analysis required by Sanofi Group and Sanofi SPC Leadership team.","depth":[]},{"desc":"Swedish Orphan Biovitrum Collaboration: Finance Lead in support of the collaboration agreement with, financial updates at quarterly Joint Steering Committee Meetings; Coordinate Budget and close process for collaboration agreement, including co-development, co-commercialization, and drug substance supply.","depth":[]}]}]},{"company":"SANOFI","info":"","area":"Seoul","dept":"Korea Specialty Care BU","pos":"Finance Business Partner","j_yyyymm":"Aug. 2018","r_yyyymm":"Aug. 2021","r_reason":"","desc":[{"desc":"A key member of Korea SPC Business Unit leadership team, providing direction and leadership for the BU’s overall business strategy, providing meaningful financial reporting and insights to support decision making.","depth":[{"desc":"Manage monthly performance.","depth":[{"desc":"Present financial results to regional leadership team and analysis of variations against budget.","depth":[]},{"desc":"Manage the end-to-end month end close process including analysis of actual sales, assessing OpEx accrued position, create journal entries, validate HC and creating financial reporting.","depth":[]}]},{"desc":"Strategic business partnering.","depth":[{"desc":"Present in monthly LT meetings and contribute with financial expertise toward strategic decision-making and the achievement of business objectives.","depth":[]},{"desc":"Forecasting and LRP management: Review main business projects and forecasts; identifies risks and opportunities and make recommendations in term of investments and resources allocations and challenges business hypothesis and ensures that forecasts are realistic from a finance point of view.","depth":[]}]},{"desc":"Other.","depth":[{"desc":"Ensure comprehensive compliance with all internal controls within BU.","depth":[]},{"desc":"Drive global/finance initiatives within the BU such as cash deep dive/smart spending initiatives to streamline external spend in coordination with Procurement and other support functions.","depth":[]}]}]}]},{"company":"SANOFI","info":"Sanofi-Aventis Korea (~420M Euro Sales / 550 HC / 3 Legal Entities)","area":"","dept":"Accounting","pos":"Accounting Manager","j_yyyymm":"Jan. 2017","r_yyyymm":"July 2019","r_reason":"","desc":[{"desc":"Lead team of 7 people and responsible for financial accounting and reporting (A2R), part of CI2C and P2P processes for three legal entities.","depth":[{"desc":"Operational Reporting, Forecasting & Budgeting.","depth":[{"desc":"Oversee the day to day accounting and financial matters for 3 legal entities.","depth":[]},{"desc":"Ensure monthly closing of accounts within WD+6.","depth":[]},{"desc":"Review actual vs budget analysis on a monthly basis with five BU financial controllers along with the CFO.","depth":[]},{"desc":"Ensure appropriate accounting procedures to be in compliant with IFRS and KGAAP including review of sales terms and conditions for new contracts.","depth":[]},{"desc":"Manage, coordinate and support all external audit activities for 3 legal entities.","depth":[]}]},{"desc":"Tax Compliance.","depth":[{"desc":"Collaborate with the tax team to ensure timely and correct filing for corporate tax, VAT in accordance with local statutory requirements.","depth":[]},{"desc":"Coordinate with tax team on TP study/matters.","depth":[]},{"desc":"Collaborate with HR on withholding tax to ensure compliance with local statutory requirements.","depth":[]}]},{"desc":"Treasury Management.","depth":[{"desc":"Coordinate with the treasury team for payment to vendors.","depth":[]},{"desc":"Review DSO and DPO as well as AR overdue prepared by the treasury/procurement team.","depth":[]}]},{"desc":"Other.","depth":[{"desc":"Drive Finance Transformation including Concur implementation 2017; PCOA harmonization 2017; TM1 Core Model 2018 and LE Merger (1 operational LE merged in 2019).","depth":[]}]}]}]},{"company":"PwC","info":"","area":"In various locations","dept":"Assurance, Global Audit Team","pos":"Associate to Director","j_yyyymm":"Nov. 2002","r_yyyymm":"Jan. 2017","r_reason":"","desc":[{"desc":"Senior Manager to Director, Korea (Mar 2012- Jan 2017).","depth":[{"desc":"Lead statutory audit teams for Diageo Korea, MKS Korea, Philip Morris Korea, Indium Corporation Co., Ltd., Petrochem Korea, JDSU Korea, Caterpillar Korea, Multivac Korea under K GAAP and/or US GAAP.","depth":[]},{"desc":"Lead K-IFRS Global subsidiaries audit for Samsung C&T Corporation and Eland World Limited.","depth":[]},{"desc":"PMO for multiple projects.","depth":[{"desc":"Divestment of Standard Chartered Savings.","depth":[]},{"desc":"Merger of Standard Chartered Korea and Standard Chartered Bank Korea.","depth":[]},{"desc":"Shinhan Card overseas expansion project.","depth":[]}]},{"desc":"For six months during this period I had a role to support our Human Capital Team with inbound/outbound global mobility and PwC HR related initiatives relating to onboarding, Culture and Value, and Diversity & Inclusion.","depth":[]}]},{"desc":"Senior Manager, Osaka (Jan 2011- Feb 2012).","depth":[{"desc":"Financial Reporting Advisory, strategic overseas assignment.","depth":[{"desc":"IFRS adoption projects for Daikin Industries and Nitto Denko, resolving accounting issues (focus on financial instruments), implementing accounting policies and roll out of accounting policies and consolidation reporting package for overseas subsidiaries.","depth":[]},{"desc":"Lead Fuji Fire Marine US GAAP/GAAS audit team.","depth":[]}]}]},{"desc":"Manager, Korea (Feb 2009-Dec 2010).","depth":[{"desc":"Assurance - IFRS Team.","depth":[{"desc":"Managed GAAP conversion projects for Kookmin Bank, Shinhan Bank and Wooribank.","depth":[]}]}]},{"desc":"Senior Associate, New York (Feb 2007 - Feb 2009).","depth":[{"desc":"Global Capital Markets Group, two-year secondment.","depth":[{"desc":"Team member of USGAAP and IPO/SEC related accounting advisory projects for Navista, Nielson, Orbitz, ToyRUs, Cadbury and Apollo, carve-out accounting advisory projects for Momentive and Lehman.","depth":[]},{"desc":"Participated in firm publication of IFRS and USGAAP: similarities and difference.","depth":[]}]}]},{"desc":"Senior Associate, Tokyo (July 2005 - Feb 2006).","depth":[{"desc":"Global Capital Markets Group, short-term overseas assignment.","depth":[{"desc":"Accounting advisory service for Mitsubishi UFJ Financial Group on financial statements conversion from Japanese GAAP to US GAAP resulting from the merger of UFJ Holdings with Mitsubishi Tokyo Financial Group.","depth":[]}]}]},{"desc":"Associate to Senior Associate, Korea (Nov 2002 - Jan 2007).","depth":[{"desc":"Assurance, Financial Service Sector.","depth":[{"desc":"Team member of KGAAP and USGAAP audit team for Kookmin Bank.","depth":[]},{"desc":"Worked on cross border offering for Industrial Bank of Korea and Youngone Corporation related to issuance of GDR, leading issuance of comfort letter.","depth":[]}]}]}]}],"learns":[],"skills":[],"certifications":[{"name":"US Certified Public Accountant","gov":"State of Delaware","year":""}],"languages":[],"etcs":[]}</textarea>
        </form>
        <textarea class="form-control" id="prompt_career_only_K" readonly="true">
Convert the resume content into JSON format based on the following 'JSON structure description'
-JSON structure description-
{
"career": {
"type": "array",
"description": "List of work experiences (save in descending order, starting from the most recent. no summarize. use every single word about work experience ).",
"items": {
"type": "object",
"properties": {
"company": {
"type": "string",
"description": "Name of the company."
},
"info": {
"type": "string",
"description": "Company information (industry, revenue, number of employees). If available in the resume, save as it is. If not, save as '')."
},
"area": {
"type": "string",
"description": "Region of the company listed on the resume : If not specified, leave it blank. If specified, only save up to the city name"
},
"dept": {
"type": "string",
"description": "Department."
},
"pos": {
"type": "string",
"description": "Position at the time of employment."
},
"j_yyyymm": {
"type": "string",
"description": "Joining date (Save in YYYY.MM format. If there is no Month, save in YYYY format)."
},
"r_yyyymm": {
"type": "string",
"description": "Resignation date (Save in YYYY.MM format. If still employed, save as '현재'. If there is no Month, save in YYYY format)."
},
"r_reason": {
"type": "string",
"description": "Reason for resignation: If available, save it. If not, save as '')."
},
"desc": {
"type": "array",
"description": "List of responsibilities/major tasks/achievements/role/details - Use all text about work experience in its original form. Do not summarize. use every single word about details. just extract text. if there is bullet point, remove bullet point",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "1st level description paragraph."
},
"depth": {
"type": "array",
"description": "2nd level list.",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "2nd level description paragraph (sub-description of the 1st level)."
},
"depth": {
"type": "array",
"description": "3rd level list.",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "3rd level description paragraph (sub-description of the 2nd level)."
},
"depth": {
"type": "array",
"description": "4th level list.",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "4th level description paragraph (sub-description of the 3rd level)."
}}}}}}}}}}}}}},
"required": [ "company", "dept", "pos", "desc" ]
}}}
</textarea>
        <textarea class="form-control" id="prompt_career_only_E" readonly="true">
Convert the resume content into JSON format based on the following 'JSON structure description'
-JSON structure description-
{
"career": {
"type": "array",
"description": "List of career experiences (save in descending order, starting from the most recent. no summarize. use every single word about work experience).",
"items": {
"type": "object",
"properties": {
"company": {
"type": "string",
"description": "Name of the company."
},
"info": {
"type": "string",
"description": "Company information (industry, revenue, number of employees). If available in the resume, save as it is. If not, save as '')."
},
"area": {
"type": "string",
"description": "Region of the company listed on the resume : If there is no text, leave it blank. If specified, only save up to the city name"
},
"dept": {
"type": "string",
"description": "Department."
},
"pos": {
"type": "string",
"description": "Position at the time of employment."
},
"j_yyyymm": {
"type": "string",
"description": "Joining date (Save in MMM YYYY format. If there is no Month, save in YYYY format)."
},
"r_yyyymm": {
"type": "string",
"description": "Resignation date (Save in MMM YYYY format. If still employed, save as 'Present'. If there is no Month, save in YYYY format)."
},
"r_reason": {
"type": "string",
"description": "Reason for resignation: If available, save it. If not, save as '')."
},
"desc": {
"type": "array",
"description": "List of responsibilities/major tasks/achievements/role/details - Use all text about work experience in its original form. Do not summarize. use every single word about details. just extract text.  if there is bullet point, remove bullet point",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "1st level description paragraph."
},
"depth": {
"type": "array",
"description": "2nd level list.",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "2nd level description paragraph (sub-description of the 1st level)."
},
"depth": {
"type": "array",
"description": "3rd level list.",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "3rd level description paragraph (sub-description of the 2nd level)."
},
"depth": {
"type": "array",
"description": "4th level list.",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "4th level description paragraph (sub-description of the 3rd level)."
}}}}}}}}}}}}}},
"required": [ "company", "dept", "pos", "desc" ]
}}}
</textarea>
        <textarea class="form-control" id="prompt_without_career_K" readonly="true">
Convert the resume content into JSON format based on the following 'JSON structure description'
-JSON structure description-
{
"candidate": {
"type": "string",
"description": "Name of the candidate: (If the name is in Korean, include spaces between syllables - e.g., if the name is '홍길동', save it as '홍 길 동')."
},
"yob": {
"type": "string",
"description": "Date of Birth: If the full date of birth is listed, save it in the format 'YYYY.MM.DD'. If only the month is listed, save it as 'YYYY.MM'. If only the year is listed, save it as 'YYYY'. If there is no information, leave it blank."
},
"gender": {
"type": "string",
"description": "Gender: If the gender is listed, save it as '남성' or '여성'. If there is no information, leave it blank."
},
"addr": {
"type": "string",
"description": "Residence Address: If the candidate's residence address is listed, only include up to the city/district. If the residence address is not listed, leave it blank. - e.g., if the address is '서울시 강남구 테헤란로 36...', save as '서울시 강남구'. If more details are available, they can be included)."
},
"core": {
"type": "array",
"description": "Core Competency List: If core competencies are listed, Use the original text as is and separate it with line breaks. If there are no core competencies listed, leave it blank.",
"items": {
"type": "string"
}
},
"education": {
"type": "array",
"description": "List of educational qualifications (save in descending order, starting from the most recent).",
"items": {
"type": "object",
"properties": {
"school": {
"type": "string",
"description": "Name of the school."
},
"major": {
"type": "string",
"description": "Major."
},
"grade": {
"type": "string",
"description": "grade point average : If there are no GPA, leave it blank. - e.g., '4.0/4.5'"
},
"area": {
"type": "string",
"description": "Region of the school listed on the resume : If there is no text, leave it blank. If specified, only save up to the city name, excluding words like '특별시' or '광역시' so it is saved as '서울' '수원' etc."
},
"degree": {
"type": "string",
"description": "Degree : the degree information such as '학사', '석사', '박사'. If there is no text, leave it blank.)."
},
"is_grdt": {
"type": "string",
"description": "Graduation Status: Indicate whether it is '졸업' or '수료'. If there is no text, leave it blank."
},
"ad_yyyymm": {
"type": "string",
"description": "Admission date (Save in YYYY.MM format. If there is no Month, save in YYYY format)."
},
"gdt_yyyymm": {
"type": "string",
"description": "Graduation date (Save in YYYY.MM format. If there is no Month, save in YYYY format)."
}
},
"required": [ "school", "major", "gdt_yyyymm" ]
}
},
"certifications": {
"type": "array",
"description": "List of certifications (e.g., Computer Literacy Certification, Distribution Manager, AICPA, TOEIC). (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the certification."
},
"gov": {
"type": "string",
"description": "Issuing institution."
},
"year": {
"type": "string",
"description": "Date of certification (Save in YYYY.MM format. If there is no Month, save in YYYY format)."
}
},
"required": [ "name", "year" ]
}
},
"awards": {
"type": "array",
"description": "List of awards. (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the awards."
},
"gov": {
"type": "string",
"description": "Issuing institution."
},
"year": {
"type": "string",
"description": "Date of awards(Save in YYYY.MM format. If there is no Month, save in YYYY format)."
}
},
"required": [ "name", "year" ]
}
},
"learns": {
"type": "array",
"description": "List of non-academic education/training. (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the course."
},
"gov": {
"type": "string",
"description": "Institution providing the training."
},
"year1": {
"type": "string",
"description": "Start date of the training (Save in YYYY.MM format. If there is no Month, save in YYYY format)."
},
"year2": {
"type": "string",
"description": "End date of the training (Save in YYYY.MM format. If there is no Month, save in YYYY format)."
}
},
"required": [ "name", "year1" ]
}
},
"activities": {
"type": "array",
"description": "List of Volunteer or Social activities. (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the activities."
},
"gov": {
"type": "string",
"description": "Institution providing the activities."
},
"year1": {
"type": "string",
"description": "Start date of the activities(Save in YYYY.MM format. If there is no Month, save in YYYY format)."
},
"year2": {
"type": "string",
"description": "End date of the activities(Save in YYYY.MM format. If there is no Month, save in YYYY format)."
}
},
"required": [ "name", "year1" ]
}
},
"overseas": {
"type": "array",
"description": "List of Overseas experience e.g. language training, Exchange student(save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the experience."
},
"gov": {
"type": "string",
"description": "Institution providing the experience."
},
"year1": {
"type": "string",
"description": "Start date of the experience(Save in YYYY.MM format. If there is no Month, save in YYYY format)."
},
"year2": {
"type": "string",
"description": "End date of the experience(Save in YYYY.MM format. If there is no Month, save in YYYY format)."
}
},
"required": [ "name", "year1" ]
}
},
"skills": {
"type": "array",
"description": "List of skills (list similar skills in a string, e.g., MS Office(Word, Excel, Power Point) proficiency, Adobe(Photoshop, Illustrator, Premiere, AfterEffect) tool usage).",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the skill."
},
"desc": {
"type": "string",
"description": "Proficiency level (상/중/하) or detailed description if available. If not, save as '')."
}
},
"required": [ "name" ]
}
},
"languages": {
"type": "array",
"description": "List of language proficiencies.(English Spanish Chinese Japanese etc.)",
"items": {
"type": "object",
"properties": {
"language": {
"type": "string",
"description": "Name of the language."
},
"level": {
"type": "string",
"description": "Proficiency level (상/중/하) or test scores if available, e.g., TOEIC 900 (2024.07)."
}
},
"required": [ "language", "level" ]
}
},
"etcs": {
"type": "array",
"description": "List of other information (e.g., military service details). Do not include information related to total experience period, annual salary, or available date of employment.",
"items": {
"type": "string"
}
}
}
</textarea>
        <textarea class="form-control" id="prompt_without_career_E" readonly="true">
Convert the resume content into JSON format based on the following 'JSON structure description'
-JSON structure description-
{
"candidate": {
"type": "string",
"description": "Name of the candidate."
},
"yob": {
"type": "string",
"description": "Date of Birth: If the full date of birth is listed, save it in the format 'MMM. DD, YYYY'. If only the month is listed, save it as 'MMM. YYYY'. If only the year is listed, save it as 'YYYY'. If there is no information, leave it blank."
},
"gender": {
"type": "string",
"description": "Gender: If the gender is listed, save it as 'Male' or 'Female'. If there is no information, leave it blank."
},
"core": {
"type": "array",
"description": "Core Competency List: If core competencies are listed, use every single word. save the entire text without any modification. If there are no core competencies listed, leave it blank.",
"items": {
"type": "string"
}
},
"education": {
"type": "array",
"description": "List of educational qualifications (save in descending order, starting from the most recent).",
"items": {
"type": "object",
"properties": {
"school": {
"type": "string",
"description": "Name of the school."
},
"area": {
"type": "string",
"description": "Region of the school listed on the resume : If there is no text, leave it blank. If specified, only save up to the city name"
},
"major": {
"type": "string",
"description": "Major."
},
"grade": {
"type": "string",
"description": "grade point average : If there are no GPA, leave it blank. - e.g., '4.0/4.5'"
},
"degree": {
"type": "string",
"description": "Degree : the degree information such as 'Bachelors', 'Master', 'Doctorate'. If there is no text, leave it blank.)."
},
"is_grdt": {
"type": "string",
"description": "Graduation Status: Indicate whether it is 'Graduation'. If there is no text, leave it blank."
},
"ad_yyyymm": {
"type": "string",
"description": "Admission date (Save in 'MMM. YYYY' format. If there is no Month, save in YYYY format)."
},
"gdt_yyyymm": {
"type": "string",
"description": "Graduation date (Save in 'MMM. YYYY' format. If there is no Month, save in YYYY format)."
}
},
"required": [ "school", "major", "gdt_yyyymm" ]
}
},
"certifications": {
"type": "array",
"description": "List of certifications (e.g., Computer Literacy Certification, Distribution Manager, AICPA, TOEIC). (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the certification."
},
"gov": {
"type": "string",
"description": "Issuing institution."
},
"year": {
"type": "string",
"description": "Date of certification (Save in YYYY.MM format. If there is no Month, save in YYYY format)."
}
},
"required": [ "name", "year" ]
}
},
"awards": {
"type": "array",
"description": "List of awards. (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the awards."
},
"gov": {
"type": "string",
"description": "Issuing institution."
},
"year": {
"type": "string",
"description": "Date of awards(Save in YYYY.MM format. If there is no Month, save in YYYY format)."
}
},
"required": [ "name", "year" ]
}
},
"learns": {
"type": "array",
"description": "List of non-academic education/training. (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the course."
},
"gov": {
"type": "string",
"description": "Institution providing the training."
},
"year1": {
"type": "string",
"description": "Start date of the training (Save in YYYY.MM format. If there is no Month, save in YYYY format)."
},
"year2": {
"type": "string",
"description": "End date of the training (Save in YYYY.MM format. If there is no Month, save in YYYY format)."
}
},
"required": [ "name", "year1" ]
}
},
"activities": {
"type": "array",
"description": "List of Volunteer or Social activities. (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the activities."
},
"gov": {
"type": "string",
"description": "Institution providing the activities."
},
"year1": {
"type": "string",
"description": "Start date of the activities(Save in YYYY.MM format. If there is no Month, save in YYYY format)."
},
"year2": {
"type": "string",
"description": "End date of the activities(Save in YYYY.MM format. If there is no Month, save in YYYY format)."
}
},
"required": [ "name", "year1" ]
}
},
"overseas": {
"type": "array",
"description": "List of Overseas experience e.g. language training, Exchange student(save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the experience."
},
"gov": {
"type": "string",
"description": "Institution providing the experience."
},
"year1": {
"type": "string",
"description": "Start date of the experience(Save in YYYY.MM format. If there is no Month, save in YYYY format)."
},
"year2": {
"type": "string",
"description": "End date of the experience(Save in YYYY.MM format. If there is no Month, save in YYYY format)."
}
},
"required": [ "name", "year1" ]
}
},
"skills": {
"type": "array",
"description": "List of skills (list similar skills in a string, e.g., MS Office(Word, Excel, Power Point) proficiency, Adobe(Photoshop, Illustrator, Premiere, AfterEffect) tool usage).",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the skill."
},
"desc": {
"type": "string",
"description": "Proficiency level (상/중/하) or detailed description if available. If not, save as '')."
}
},
"required": [ "name" ]
}
},
"languages": {
"type": "array",
"description": "List of language proficiencies.(English Spanish Chinese Japanese etc.)",
"items": {
"type": "object",
"properties": {
"language": {
"type": "string",
"description": "Name of the language."
},
"level": {
"type": "string",
"description": "Proficiency level (상/중/하) or test scores if available, e.g., TOEIC 900 (2024.07)."
}
},
"required": [ "language", "level" ]
}
},
"etcs": {
"type": "array",
"description": "List of other information (e.g., military service details).",
"items": {
"type": "string"
}
}
}
</textarea>
        <textarea class="form-control" id="prompt" readonly="true">
Convert the resume content into JSON format based on the following 'JSON structure description'
-JSON structure description-
{
"candidate": {
"type": "string",
"description": "Name of the candidate: (If the name is in Korean, include spaces between syllables - e.g., if the name is '홍길동', save it as '홍 길 동')."
},
"yob": {
"type": "string",
"description": "Date of Birth: If the full date of birth is listed, save it in the format 'YYYY.MM.DD'. If only the month is listed, save it as 'YYYY.MM'. If only the year is listed, save it as 'YYYY'. If there is no information, leave it blank."
},
"gender": {
"type": "string",
"description": "Gender: If the gender is listed, save it as '남성' or '여성'. If the data is requested in English, save it as 'Male' or 'Female'. If there is no information, leave it blank."
},
"addr": {
"type": "string",
"description": "Residence Address: If the candidate's residence address is listed, only include up to the city/district. If the residence address is not listed, leave it blank. - e.g., if the address is '서울시 강남구 테헤란로 36...', save as '서울시 강남구'. If more details are available, they can be included)."
},
"core": {
"type": "array",
"description": "Core Competency List: If core competencies are listed, save the entire text without any modification. If there are no core competencies listed, leave it blank.",
"items": {
"type": "string"
}
},
"education": {
"type": "array",
"description": "List of educational qualifications (save in descending order, starting from the most recent).",
"items": {
"type": "object",
"properties": {
"school": {
"type": "string",
"description": "Name of the school."
},
"major": {
"type": "string",
"description": "Major."
},
"grade": {
"type": "string",
"description": "grade point average : If there are no GPA, leave it blank. - e.g., '4.0/4.5'"
},
"area": {
"type": "string",
"description": "Region of the school listed on the resume : If not specified, leave it blank. If specified, only save up to the city name, excluding words like '특별시' or '광역시' so it is saved as '서울' '수원' etc."
},
"degree": {
"type": "string",
"description": "Degree : Save the degree information such as '학사', '석사', or '박사'. If there is no information, leave it blank.)."
},
"is_grdt": {
"type": "string",
"description": "Graduation Status: Indicate whether it is '졸업' or '수료'. If there is no information, leave it blank."
},
"ad_yyyymm": {
"type": "string",
"description": "Admission date (Save in YYYY.MM format)."
},
"gdt_yyyymm": {
"type": "string",
"description": "Graduation date (Save in YYYY.MM format)."
}
},
"required": [ "school", "major", "gdt_yyyymm" ]
}
},
"career": {
"type": "array",
"description": "List of career experiences (save in descending order, starting from the most recent).",
"items": {
"type": "object",
"properties": {
"company": {
"type": "string",
"description": "Name of the company."
},
"info": {
"type": "string",
"description": "Company information (industry, revenue, number of employees). If available in the resume, save as it is. If not, save as '')."
},
"area": {
"type": "string",
"description": "Region of the company listed on the resume : If not specified, leave it blank. If specified, only save up to the city name, excluding words like '특별시' or '광역시' so it is saved as '서울' '수원' etc."
},
"dept": {
"type": "string",
"description": "Department."
},
"pos": {
"type": "string",
"description": "Position at the time of employment."
},
"j_yyyymm": {
"type": "string",
"description": "Joining date (Save in YYYY.MM format)."
},
"r_yyyymm": {
"type": "string",
"description": "Resignation date (Save in YYYY.MM format. If still employed, save as '현재')."
},
"r_reason": {
"type": "string",
"description": "Reason for resignation: If available, save it. If not, save as '')."
},
"desc": {
"type": "array",
"description": "List of responsibilities/major tasks/achievements/details - Do not summarize, use fulltext of career information.",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "1st level description paragraph."
},
"depth": {
"type": "array",
"description": "2nd level list.",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "2nd level description paragraph (sub-description of the 1st level)."
},
"depth": {
"type": "array",
"description": "3rd level list.",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "3rd level description paragraph (sub-description of the 2nd level)."
},
"depth": {
"type": "array",
"description": "4th level list.",
"items": {
"type": "object",
"properties": {
"desc": {
"type": "string",
"description": "4th level description paragraph (sub-description of the 3rd level)."
}
}
}
}
}
}
}
}
}
}
}
}
}
},
"required": [ "company", "dept", "pos", "desc" ]
}
},
"certifications": {
"type": "array",
"description": "List of certifications (e.g., Computer Literacy Certification, Distribution Manager, AICPA, TOEIC). (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the certification."
},
"gov": {
"type": "string",
"description": "Issuing institution."
},
"year": {
"type": "string",
"description": "Date of certification (Save in YYYY.MM format)."
}
},
"required": [ "name", "year" ]
}
},
"awards": {
"type": "array",
"description": "List of awards. (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the awards."
},
"gov": {
"type": "string",
"description": "Issuing institution."
},
"year": {
"type": "string",
"description": "Date of awards(Save in YYYY.MM format)."
}
},
"required": [ "name", "year" ]
}
},
"learns": {
"type": "array",
"description": "List of non-academic education/training. (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the course."
},
"gov": {
"type": "string",
"description": "Institution providing the training."
},
"year1": {
"type": "string",
"description": "Start date of the training (Save in YYYY.MM format)."
},
"year2": {
"type": "string",
"description": "End date of the training (Save in YYYY.MM format)."
}
},
"required": [ "name", "year1" ]
}
},
"activities": {
"type": "array",
"description": "List of Volunteer or Social activities. (save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the activities."
},
"gov": {
"type": "string",
"description": "Institution providing the activities."
},
"year1": {
"type": "string",
"description": "Start date of the activities(Save in YYYY.MM format)."
},
"year2": {
"type": "string",
"description": "End date of the activities(Save in YYYY.MM format)."
}
},
"required": [ "name", "year1" ]
}
},
"overseas": {
"type": "array",
"description": "List of Overseas experience e.g. language training, Exchange student(save in descending order, starting from the most recent)",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the experience."
},
"gov": {
"type": "string",
"description": "Institution providing the experience."
},
"year1": {
"type": "string",
"description": "Start date of the experience(Save in YYYY.MM format)."
},
"year2": {
"type": "string",
"description": "End date of the experience(Save in YYYY.MM format)."
}
},
"required": [ "name", "year1" ]
}
},
"skills": {
"type": "array",
"description": "List of skills (list similar skills together, e.g., MS Office proficiency, tool usage).",
"items": {
"type": "object",
"properties": {
"name": {
"type": "string",
"description": "Name of the skill."
},
"desc": {
"type": "string",
"description": "Proficiency level (상/중/하) or detailed description if available. If not, save as '')."
}
},
"required": [ "name" ]
}
},
"languages": {
"type": "array",
"description": "List of language proficiencies.(English Spanish Chinese Japanese etc.)",
"items": {
"type": "object",
"properties": {
"language": {
"type": "string",
"description": "Name of the language."
},
"level": {
"type": "string",
"description": "Proficiency level (상/중/하) or test scores if available, e.g., TOEIC 900 (2024.07)."
}
},
"required": [ "language", "level" ]
}
},
"etcs": {
"type": "array",
"description": "List of other information (e.g., military service details). Do not include information related to total experience period, annual salary, or available date of employment.",
"items": {
"type": "string"
}
}
}</textarea>
        <textarea class="form-control" rows="5" name="file_content" id="file_content" readonly="true"></textarea>
        <textarea class="form-control" rows="5" name="ai_summary_stream" id="ai_summary_stream" readonly="true"></textarea>
        <textarea class="form-control" rows="5" name="ai_summary_stream_career_only" id="ai_summary_stream_career_only" readonly="true"></textarea>
        <textarea class="form-control" rows="5" name="ai_summary_stream_without_career" id="ai_summary_stream_without_career" readonly="true"></textarea>
      </div>
    </div>
    <div class="row d-none" id="log_panel">
      <div class="col-12">
        <div class="panel shadow">
          <div class="panel-heading">
            <h5 class="panel-title">
              분석 내용
            </h5>
          </div>
          <div class="panel-body bg-light py-5">
            <p id="ai_upload_log">

            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<script type="text/javascript">
  window.url_makeup_get_contents = "@Url.Action("ResumeMakeupGetContents", "GPT")";
  window.url_make_makeup = "@Url.Action("MakeMakeup", "GPT")";
  window.url_make_makeup2 = "@Url.Action("MakeMakeup2", "GPT")";
  const API_KEY = "@api_key";

</script>
<script type="text/javascript">
  const API_URL = "https://api.openai.com/v1/chat/completions";
  //const API_URL = "https://cors-anywhere.herokuapp.com/https://api.openai.com/v1/chat/completions";
  //const API_URL = "/GPT/MakeupGptCall";
    
  // HTML elements
  const prompt = document.getElementById("prompt");
  const file_content = document.getElementById("file_content");
  const ai_summary_stream = document.getElementById("ai_summary_stream");
  const ai_summary_stream_nc = document.getElementById("ai_summary_stream_without_career");
  const ai_summary_stream_oc = document.getElementById("ai_summary_stream_career_only");
  const req_user = document.getElementById("req_user").value;
  const btn_close_modal = document.getElementById("btn_close_modal");
  const btn_cancel_result = document.getElementById("btn_cancel_result");
  const ai_modal_title = document.getElementById("ai_modal_title");
  const ai_modal_contents = document.getElementById("ai_modal_contents");

  let controller = null;
  let isprogress = true;
  var can_resume_info = {};

  const countTokens = (text) => text.split(/\s+/).length;

  async function StartMakeup() {
    if ($('.chk_kor_makeup:checked').length <= 0 && $('.chk_eng_makeup:checked').length <= 0) {
      ErrorAlert("메이크업할 이력서를 체크 후 진행하여 주십시오.");
      return;
    }
    document.getElementById('log_panel').classList.remove('d-none');

    const picSeqElements = $('.pic_seq');

    for (const item of picSeqElements) {
      if ($('#kor_makeup_' + item.value + ':checked').length > 0) {
        $('.progress-kor-' + item.value).html(`<span class="text-info">작업대기중</span>`);
      }
      if ($('#eng_makeup_' + item.value + ':checked').length > 0) {
        $('.progress-eng-' + item.value).html(`<span class="text-info">작업대기중</span>`);
      }
    }

    for await (const item of picSeqElements) {
      //for (let i = 0; i < picSeqElements.length; i++) {
      //const item = picSeqElements[i];
      //console.log(i);
      file_content.value = '';
      ai_summary_stream.value = '';
      ai_summary_stream_nc.value = '';
      ai_summary_stream_oc.value = '';

      if ($('#kor_makeup_' + item.value + ':checked').length > 0) {
        await processMakeup(item, 'K');
      }

      if ($('#eng_makeup_' + item.value + ':checked').length > 0) {
        await processMakeup(item, 'E');
      }
    }
  }

  async function processMakeup(item, lang) {
    //console.log(item, lang);
    let prg_result;

    if (lang === "K") {
      prg_result = $('.progress-kor-' + item.value);
    } else if (lang === "E") {
      prg_result = $('.progress-eng-' + item.value);
    }

    const langName = lang === 'K' ? '국문' : '영문';
    AddLog("success", `${item.dataset.name} ${langName} 이력서 메이크업 시작`, prg_result);
    const cr_seq = $(`#${lang === 'K' ? 'kor' : 'eng'}_makeup_${item.value}`).val();



    // 최신이력서 내용 추출
    isprogress = await SetFileInfo(cr_seq, prg_result);
    if (!isprogress) return;

    // GPT 분석
    isprogress = await GenerateJsonFromResumeStreamNoCareer(item.value, lang, prg_result);
    //isprogress = await GenerateJsonFromResumeStreamNoCareerProxy(item.value, lang, prg_result);
    if (!isprogress) return;
    isprogress = await GenerateJsonFromResumeStreamOnlyCareer(item.value, lang, prg_result);
    //isprogress = await GenerateJsonFromResumeStreamOnlyCareerProxy(item.value, lang, prg_result);
    if (!isprogress) return;

    // Makeup 생성 모델 변환
    const makeup_result = await ConvertMakeupCreateModel2(ai_summary_stream_nc.value, ai_summary_stream_oc.value, prg_result);
    if (!makeup_result.result) {
      isprogress = false;
      AddLog("danger", "정상적인 데이터가 생성되지 못했습니다.", prg_result);
      return;
    }

    console.log(`make2(${item.dataset.seq}, '${lang}', ${req_user}, ${item.value});`);
    await make2(item.dataset.seq, lang, req_user, item.value);
  }

  btn_cancel_result.addEventListener('click', function () {
    if (controller) {
      controller.abort();
      controller = null;
    }
  });

  async function SetFileInfo(cr_seq, prg_result) {
    try {
      AddLog("info", "파일 내용 확인 중..", prg_result);

      const response = await fetch(window.url_makeup_get_contents, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ cr_seq })
      });

      if (!response.ok) {
        throw new Error(`Network response was not ok: ${response.statusText}`);
      }

      const data = await response.json();

      if (!data.file_content) {
        //console.log(prg_result, "error-pre")
        throw new Error("내용을 확인할 수 없는 파일입니다.");

      }

      file_content.value = data.file_content;
      AddLog("info", `파일 내용 확인 완료<textarea class='form-control border-info' rows='5' readonly='true'>${data.file_content}</textarea>`);
      if (prg_result) {
        prg_result.html(`<span class="text-info">파일 내용 확인 완료</span>`);
      }
      return true;
    } catch (error) {
      console.error(error);
      //console.log(prg_result, "error")
      AddLog("danger", `파일 내용 확인 중 오류 발생: ${error.message}`, prg_result);
      return false;
    }
  }

  const ConvertMakeupCreateModel2 = async (data_nc, data_oc, prg_result) => {
    AddLog("info", "분석된 이력서 내용을 Makeup 데이터로 변환 시도 중...", prg_result);

    let data, career_data;
    try {
      // Clean up input strings if they are in string format
      if (typeof data_nc === "string") {
        data_nc = data_nc.replace(/json/, "").replace(/```/gi, "");
      }
      if (typeof data_oc === "string") {
        data_oc = data_oc.replace(/json/, "").replace(/```/gi, "");
      }

      // Parse the non-career data
      const inputData = data_nc || $('#ai_summary_stream_without_career').val();
      data = JSON.parse(inputData);

      // Parse the career data
      const inputData2 = data_oc || $('#ai_summary_stream_career_only').val();
      career_data = JSON.parse(inputData2);
    } catch (error) {
      console.error(error);
      AddLog("danger", `데이터 변환 중 오류가 발생했습니다. <br/>분석된 데이터가 올바르지 않거나 서버 오류가 발생했을 가능성이 있습니다.<br/>${error}`, prg_result);
      return { result: false };
    }

    // Construct the final data model
    try {
      var data_core = [''];
      if (data?.core || data.core != "") {
        if (typeof (data.core) == "string") {
          data_core = [data.core];
        } else {
          data_core = data.core;
        }
      }
      const currentData = {
        candidate: data?.candidate ?? '',
        yob: data?.yob ?? '',
        gender: data?.gender ?? '',
        addr: data?.addr ?? '',
        core: data_core,//((data?.core || data.core != "")) ? data.core : [''],
        education: ((data?.education || data.education != "")) ? data.education : [], 
        career: career_data?.career ?? [],
        learns: ((data?.learns || data.learns != "")) ? data.learns : [],
        awards: ((data?.awards || data.awards != "")) ? data.awards : [],
        activities: ((data?.activities || data.activities != "")) ? data.activities : [],
        overseas: ((data?.overseas || data.overseas != "")) ? data.overseas : [],
        skills: ((data?.skills || data.skills != "")) ? data.skills : [],
        certifications: ((data?.certifications || data.certifications != "")) ? data.certifications : [],
        languages: ((data?.languages || data.languages != "")) ? data.languages : [],
        etcs: ((data?.etcs || data.etcs != "")) ? data.etcs : []
      };

      $('#makeup_model').val(JSON.stringify(currentData));
      AddLog("info", "메이크업 데이터 변환 완료");

      return { result: true };
    } catch (error) {
      console.error(error);
      AddLog("danger", `데이터 변환 중 오류가 발생했습니다.<br/>올바르지 않은 데이터가 포함되어 있을 가능성이 있습니다.<br/>${error}`, prg_result);
      return { result: false };
    }
  };

  async function make2(c_seq, file_type, req_seq, pic_seq) {
    let progress_result;
    let kor_name = document.getElementById('pic_seq_' + pic_seq).dataset.name;

    if (file_type === "K") {
      progress_result = $('.progress-kor-' + pic_seq);
    } else if (file_type === "E") {
      progress_result = $('.progress-eng-' + pic_seq);
    }

    try {
      const response = await fetch(window.url_make_makeup2, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          makeup_model: $('#makeup_model').val(),
          c_seq: c_seq,
          kor_name: kor_name,
          file_type: file_type,
          request_user: req_user
        })
      });

      if (!response.ok) {
        throw new Error(`Network response was not ok: ${response.statusText}`);
      }

      const data = await response.json();
      if (data.ok && data.file_url) {
        progress_result.html('<span class="text-success">파일이 생성되었습니다.</span> : ');
        progress_result.append(`<a href="${data.file_url}" target="_blank">${data.file_name}</a>`);
      } else {
        throw new Error(data.message);
      }
    } catch (error) {
      console.error(error);
      progress_result.html(`<span class="text-danger">파일 생성중 오류 발생 : ${error} </span>`);
      progress_result.append(`<a href="javascript:make2(${c_seq}, '${file_type}', ${req_seq}, ${pic_seq});" class="d-none">[다시시도]</a>`);
    }
  }

  const GenerateJsonFromResumeStreamNoCareerProxy = async (pic_seq, lang = "K", prg_result) => {
    let result = true;
    let usageFeedback = {};
    let prompt_nc = document.querySelector(`#prompt_without_career_${lang}`);

    const startTime = new Date();
    controller = new AbortController();
    const signal = controller.signal;
    const token_cnt = countTokens(document.querySelector('#file_content').value + prompt_nc.value);

    AddLog("info", `경력사항 제외 내용 분석 준비(1/2).. 요청토큰(${token_cnt})`);
    prg_result.html(`<span class="text-info">경력사항 제외 내용 분석 준비</span>`);
    AddLog("info", `GPT를 통해 경력사항을 제외한 내용 분석 중(1/2)..<span id='${lang}-generate_sec-nc-${pic_seq}'></span>
    <textarea class='form-control border-info' id='${lang}-openai-stream-nc-${pic_seq}' rows='20' readonly='true'></textarea>`);
    prg_result.html(`<span class="text-info">GPT를 통해 경력사항을 제외한 내용 분석 중</span>`);
    const openaiStream = document.getElementById(`${lang}-openai-stream-nc-${pic_seq}`);
    const generateSec = document.getElementById(`${lang}-generate_sec-nc-${pic_seq}`);

    btn_cancel_result.disabled = false;
    openaiStream.value = "내용 분석 중...";

    try {
      const response = await fetch(API_URL, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${API_KEY}`,
        },
        body: JSON.stringify({
          model: $('#gpt_model').val(),
          temperature: 0,
          top_p: 0,
          messages: [
            { role: "system", content: prompt_nc.value },
            { role: "user", content: file_content.value }
          ],
          //stream: true,
        }),
        //signal,
      });

      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }

      const data = await response.json();
      const message = data.choices[0].message.content
      ai_summary_stream_nc.value = message;
      openaiStream.value = message;
      /*
      const reader = response.body.getReader();
      const decoder = new TextDecoder("utf-8");
      ai_summary_stream_nc.value = '';
      openaiStream.value = '';
      let buffer = "";

      const processStream = async () => {
        let done = false;
        while (!done) {
          const now = parseInt((new Date() - startTime) / 1000);
          generateSec.innerText = `(${now} 초 경과)`;

          const { value, done: streamDone } = await reader.read();
          done = streamDone;

          if (done) {
            break;
          }

          // 헤더 값 가져오기
          usageFeedback = {
            limit: response.headers.get('x-ratelimit-limit'),
            remaining: response.headers.get('x-ratelimit-remaining'),
            reset: response.headers.get('x-ratelimit-reset'),
            used: response.headers.get('x-ratelimit-used'),
          };

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop(); // 마지막 라인은 버퍼에 남겨둠

          const parsedLines = lines
            .map(line => line.replace(/^data: /, "").trim()) // "data: " 접두사 제거
            .filter(line => line && line !== "[DONE]"); // 빈 줄과 "[DONE]" 제거

          parsedLines.forEach(line => {
            try {
              const parsedLine = JSON.parse(line); // JSON 문자열 파싱
              const { content } = parsedLine.choices[0].delta;
              if (content) {
                ai_summary_stream_nc.value += content;
                openaiStream.value += content;
                openaiStream.scrollTop = openaiStream.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          });
        }
      };

      await processStream();
      */

      AddLog("info", "파일 내용 분석 완료 (경력사항제외)", prg_result);
    } catch (error) {
      if (signal.aborted) {
        AddLog("danger", "요청이 중지 되었습니다.", prg_result);
      } else {
        console.error("Error:", error);
        ai_summary_stream_nc.value += `\n분석 중 오류가 발생하였습니다.\n내용: ${error}`;
        AddLog("danger", `분석 중 오류가 발생하였습니다.\n내용: ${error}`, prg_result);
      }
      result = false;
    } finally {
      if (usageFeedback.limit) {
        AddLog("info", `토큰 사용량<br/>Limit: ${usageFeedback.limit}<br/>Remaining: ${usageFeedback.remaining}<br/>Reset: ${usageFeedback.reset}`);
      }
      btn_cancel_result.disabled = true;
      controller = null; // Reset the AbortController instance
    }

    return result;
  };


  const GenerateJsonFromResumeStreamNoCareer = async (pic_seq, lang = "K", prg_result) => {
    let result = true;
    let usageFeedback = {};
    let prompt_nc = document.querySelector(`#prompt_without_career_${lang}`);

    const startTime = new Date();
    controller = new AbortController();
    const signal = controller.signal;
    const token_cnt = countTokens(document.querySelector('#file_content').value + prompt_nc.value);

    AddLog("info", `경력사항 제외 내용 분석 준비(1/2).. 요청토큰(${token_cnt})`);
    prg_result.html(`<span class="text-info">경력사항 제외 내용 분석 준비</span>`);
    AddLog("info", `GPT를 통해 경력사항을 제외한 내용 분석 중(1/2)..<span id='${lang}-generate_sec-nc-${pic_seq}'></span>
    <textarea class='form-control border-info' id='${lang}-openai-stream-nc-${pic_seq}' rows='20' readonly='true'></textarea>`);
    prg_result.html(`<span class="text-info">GPT를 통해 경력사항을 제외한 내용 분석 중</span>`);
    const openaiStream = document.getElementById(`${lang}-openai-stream-nc-${pic_seq}`);
    const generateSec = document.getElementById(`${lang}-generate_sec-nc-${pic_seq}`);

    btn_cancel_result.disabled = false;
    openaiStream.value = "내용 분석 중...";

    try {
      const response = await fetch(API_URL, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${API_KEY}`,
        },
        body: JSON.stringify({
          model: $('#gpt_model').val(),
          temperature: 0,
          top_p: 0,
          messages: [
            { role: "system", content: prompt_nc.value },
            { role: "user", content: file_content.value }
          ],
          stream: true,
        }),
        signal,
      });

      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }

      const reader = response.body.getReader();
      const decoder = new TextDecoder("utf-8");
      ai_summary_stream_nc.value = '';
      openaiStream.value = '';
      let buffer = "";

      const processStream = async () => {
        let done = false;
        while (!done) {
          const now = parseInt((new Date() - startTime) / 1000);
          generateSec.innerText = `(${now} 초 경과)`;

          const { value, done: streamDone } = await reader.read();
          done = streamDone;

          if (done) {
            break;
          }

          // 헤더 값 가져오기
          usageFeedback = {
            limit: response.headers.get('x-ratelimit-limit'),
            remaining: response.headers.get('x-ratelimit-remaining'),
            reset: response.headers.get('x-ratelimit-reset'),
            used: response.headers.get('x-ratelimit-used'),
          };

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop(); // 마지막 라인은 버퍼에 남겨둠

          const parsedLines = lines
            .map(line => line.replace(/^data: /, "").trim()) // "data: " 접두사 제거
            .filter(line => line && line !== "[DONE]"); // 빈 줄과 "[DONE]" 제거

          parsedLines.forEach(line => {
            try {
              const parsedLine = JSON.parse(line); // JSON 문자열 파싱
              const { content } = parsedLine.choices[0].delta;
              if (content) {
                ai_summary_stream_nc.value += content;
                openaiStream.value += content;
                openaiStream.scrollTop = openaiStream.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          });
        }
      };

      await processStream();

      AddLog("info", "파일 내용 분석 완료 (경력사항제외)", prg_result);
    } catch (error) {
      if (signal.aborted) {
        AddLog("danger", "요청이 중지 되었습니다.", prg_result);
      } else {
        console.error("Error:", error);
        ai_summary_stream_nc.value += `\n분석 중 오류가 발생하였습니다.\n내용: ${error}`;
        AddLog("danger", `분석 중 오류가 발생하였습니다.\n내용: ${error}`, prg_result);
      }
      result = false;
    } finally {
      if (usageFeedback.limit) {
        AddLog("info", `토큰 사용량<br/>Limit: ${usageFeedback.limit}<br/>Remaining: ${usageFeedback.remaining}<br/>Reset: ${usageFeedback.reset}`);
      }
      btn_cancel_result.disabled = true;
      controller = null; // Reset the AbortController instance
    }

    return result;
  };

  const GenerateJsonFromResumeStreamOnlyCareerProxy = async (pic_seq, lang = "K", prg_result) => {
    let result = true;
    let usageFeedback = {};
    let prompt_oc = document.querySelector(`#prompt_career_only_${lang}`);

    const startTime = new Date();
    controller = new AbortController();
    const signal = controller.signal;
    const token_cnt = countTokens(document.querySelector('#file_content').value + prompt_oc.value);

    AddLog("info", `경력사항 분석 준비(2/2).. 요청토큰(${token_cnt})`);
    prg_result.html(`<span class="text-info">경력사항 분석 준비</span>`);
    AddLog("info", `GPT를 통해 경력사항 분석 중(2/2)..<span id='${lang}-generate_sec-oc-${pic_seq}'></span>
    <textarea class='form-control border-info' id='${lang}-openai-stream-oc-${pic_seq}' rows='20' readonly='true'></textarea>`);
    prg_result.html(`<span class="text-info">GPT를 통해 경력사항 분석 중</span>`);





    const openaiStream = document.getElementById(`${lang}-openai-stream-oc-${pic_seq}`);
    const generateSec = document.getElementById(`${lang}-generate_sec-oc-${pic_seq}`);

    btn_cancel_result.disabled = false;
    openaiStream.value = "내용 분석 중...";

    try {
      const response = await fetch(API_URL, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${API_KEY}`,
        },
        body: JSON.stringify({
          model: $('#gpt_model').val(),
          temperature: 0,
          top_p: 1,
          messages: [
            { role: "system", content: prompt_oc.value },
            { role: "user", content: file_content.value }
          ],
          //stream: true,
        }),
        //signal,
      });

      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }

      const data = await response.json();
      const message = data.choices[0].message.content
      ai_summary_stream_oc.value = message;
      openaiStream.value = message;

      /*
      const reader = response.body.getReader();
      const decoder = new TextDecoder("utf-8");
      ai_summary_stream_oc.value = '';
      openaiStream.value = '';
      let buffer = "";

      const processStream = async () => {
        let done = false;
        while (!done) {
          const now = parseInt((new Date() - startTime) / 1000);
          generateSec.innerText = `(${now} 초 경과)`;

          const { value, done: streamDone } = await reader.read();
          done = streamDone;

          if (done) {
            break;
          }

          usageFeedback = {
            limit: response.headers.get('x-ratelimit-limit'),
            remaining: response.headers.get('x-ratelimit-remaining'),
            reset: response.headers.get('x-ratelimit-reset'),
            used: response.headers.get('x-ratelimit-used'),
          };

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop();

          const parsedLines = lines
            .map(line => line.replace(/^data: /, "").trim())
            .filter(line => line && line !== "[DONE]");

          parsedLines.forEach(line => {
            try {
              const parsedLine = JSON.parse(line);
              const { content } = parsedLine.choices[0].delta;
              if (content) {
                ai_summary_stream_oc.value += content;
                openaiStream.value += content;
                openaiStream.scrollTop = openaiStream.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          });
        }
      };

      await processStream();
      */
      AddLog("info", "파일 내용 분석 완료 (경력사항)", prg_result);
    } catch (error) {
      if (signal.aborted) {
        AddLog("danger", "요청이 중지 되었습니다.", prg_result);
      } else {
        console.error("Error:", error);
        ai_summary_stream_oc.value += `\n분석 중 오류가 발생하였습니다.\n내용: ${error}`;
        AddLog("danger", `분석 중 오류가 발생하였습니다.\n내용: ${error}`, prg_result);
      }
      result = false;
    } finally {
      if (usageFeedback.limit) {
        AddLog("info", `토큰 사용량<br/>Limit: ${usageFeedback.limit}<br/>Remaining: ${usageFeedback.remaining}<br/>Reset: ${usageFeedback.reset}`);
      }
      btn_cancel_result.disabled = true;
      controller = null;
    }

    return result;
  };


  const GenerateJsonFromResumeStreamOnlyCareer = async (pic_seq, lang = "K", prg_result) => {
    let result = true;
    let usageFeedback = {};
    let prompt_oc = document.querySelector(`#prompt_career_only_${lang}`);

    const startTime = new Date();
    controller = new AbortController();
    const signal = controller.signal;
    const token_cnt = countTokens(document.querySelector('#file_content').value + prompt_oc.value);

    AddLog("info", `경력사항 분석 준비(2/2).. 요청토큰(${token_cnt})`);
    prg_result.html(`<span class="text-info">경력사항 분석 준비</span>`);
    AddLog("info", `GPT를 통해 경력사항 분석 중(2/2)..<span id='${lang}-generate_sec-oc-${pic_seq}'></span>
    <textarea class='form-control border-info' id='${lang}-openai-stream-oc-${pic_seq}' rows='20' readonly='true'></textarea>`);
    prg_result.html(`<span class="text-info">GPT를 통해 경력사항 분석 중</span>`);





    const openaiStream = document.getElementById(`${lang}-openai-stream-oc-${pic_seq}`);
    const generateSec = document.getElementById(`${lang}-generate_sec-oc-${pic_seq}`);

    btn_cancel_result.disabled = false;
    openaiStream.value = "내용 분석 중...";

    try {
      const response = await fetch(API_URL, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          Authorization: `Bearer ${API_KEY}`,
        },
        body: JSON.stringify({
          model: $('#gpt_model').val(),
          temperature: 0,
          top_p: 1,
          messages: [
            { role: "system", content: prompt_oc.value },
            { role: "user", content: file_content.value }
          ],
          stream: true,
        }),
        signal,
      });

      if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
      }

      const reader = response.body.getReader();
      const decoder = new TextDecoder("utf-8");
      ai_summary_stream_oc.value = '';
      openaiStream.value = '';
      let buffer = "";

      const processStream = async () => {
        let done = false;
        while (!done) {
          const now = parseInt((new Date() - startTime) / 1000);
          generateSec.innerText = `(${now} 초 경과)`;

          const { value, done: streamDone } = await reader.read();
          done = streamDone;

          if (done) {
            break;
          }

          usageFeedback = {
            limit: response.headers.get('x-ratelimit-limit'),
            remaining: response.headers.get('x-ratelimit-remaining'),
            reset: response.headers.get('x-ratelimit-reset'),
            used: response.headers.get('x-ratelimit-used'),
          };

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop();

          const parsedLines = lines
            .map(line => line.replace(/^data: /, "").trim())
            .filter(line => line && line !== "[DONE]");

          parsedLines.forEach(line => {
            try {
              const parsedLine = JSON.parse(line);
              const { content } = parsedLine.choices[0].delta;
              if (content) {
                ai_summary_stream_oc.value += content;
                openaiStream.value += content;
                openaiStream.scrollTop = openaiStream.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          });
        }
      };

      await processStream();

      AddLog("info", "파일 내용 분석 완료 (경력사항)", prg_result);
    } catch (error) {
      if (signal.aborted) {
        AddLog("danger", "요청이 중지 되었습니다.", prg_result);
      } else {
        console.error("Error:", error);
        ai_summary_stream_oc.value += `\n분석 중 오류가 발생하였습니다.\n내용: ${error}`;
        AddLog("danger", `분석 중 오류가 발생하였습니다.\n내용: ${error}`, prg_result);
      }
      result = false;
    } finally {
      if (usageFeedback.limit) {
        AddLog("info", `토큰 사용량<br/>Limit: ${usageFeedback.limit}<br/>Remaining: ${usageFeedback.remaining}<br/>Reset: ${usageFeedback.reset}`);
      }
      btn_cancel_result.disabled = true;
      controller = null;
    }

    return result;
  };

  function ResetMakeupPage() {
    alertify.confirm()
      .set({
        'labels': { ok: 'OK', cancel: 'Cancel' },
        'onok': function () {
          location.reload();
        },
        'oncancel': function () {
          return;
        },
      })
      .setting({
        title: "새로고침",
        message: "후보자 정보를 다시 불러오시겠습니까?",
      })
      .show();
  }

  function AddLog(type, contents, second_target) {
    if (!type) {
      type = "info";
    }
    var event_time = "[" + new Date().toISOString() + "]";
    var reset_btn = '';
    /*if (type == "danger") {
      reset_btn = '<button class="btn btn-primary" onclick="ResetUploadPage();">다시 업로드 하기</button> ';
    }*/
    var card = `<div class='card border border-${type} shadow'>
                <div class="card-block text-${type} py-2 ">
                  <span class='text-dark'>${event_time}</span><br/>
                  ${contents}
                </div>
                ${reset_btn}
              </div>`;
    let temp = document.createElement("div");
    temp.innerHTML = card;
    temp.style.opacity = '0';
    temp.style.transition = 'opacity 500ms';
    document.getElementById('ai_upload_log').prepend(temp);

    setInterval(() => temp.style.opacity = '1', 100);

    if (second_target) {
      second_target.html(`<span class="text-${type}">${contents}</span>`);
    }
  }

  document.querySelectorAll('input[name="chk_request_makeup"]').forEach(masterCheckbox => {
    masterCheckbox.addEventListener('change', function () {
      const isChecked = this.checked;
      const targetClass = this.dataset.target;
      const Checkboxes = document.querySelectorAll(`.${targetClass}`);

      Checkboxes.forEach(checkbox => {
        checkbox.checked = isChecked;
      });
    });
  });

</script>