@model Univision.Core.Models.DTO.Response.Board.BoardDetailViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string pageTag = ViewBag.pageTag;
}
<link rel="stylesheet" href="~/Libs/dropzone/css/dropzone_cus.css?v=1533562669">
<style>
    .v-center {
       display: flex;
       align-items: center;
    }
</style>
<div class="page-content">
    <!--검색 Form -->
    

    <div class="panel panel-primary panel-line animation-scale-up" style="animation-fill-mode:backwards; animation-duration: 250ms; animation-delay: 0ms;">
        @using (Html.BeginForm("BoardCreate", "Board", FormMethod.Post, new { @id = "CreateForm", @autocomplete = "off" }))
        {
            @Html.HiddenFor(x => x.data.b_seq)
            @Html.HiddenFor(x => x.data.b_type)
            @Html.HiddenFor(x => x.data.b_type_sub1)
            @Html.HiddenFor(x => x.data.b_type_sub2)
            @Html.HiddenFor(x => x.data.create_dt)
            @Html.HiddenFor(x => x.data.create_user)
            @Html.Hidden("uploadFolder")
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fas fa-address-card"></i>
                    @ViewBag.Title
                </h3>
                <div class="panel-actions">
                    <div class="panel-action">
                        <button type="submit" class="btn btn-primary" id="btnSave">Submit </button>
                        <button type="reset" class="btn btn-default btn-outline">Reset</button>
                    </div>
                </div>
            </div>


            <div class="panel-body pb-0">

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Title : </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.data.title, new { @class = "form-control", @required = "required", @placeholder = "Title" })
                    </div>
                </div>
                @if (Model.data.b_type != 3 && Model.data.b_type != 4)
                {
                    <div class="form-group row">
                        <legend class="col-md-2 col-form-legend">Top: </legend>
                        <div class="col-md-10">
                            <div class="checkbox-custom checkbox-default">
                                <input type="checkbox" id="data_b_top" name="data.b_top" value="1" @(Model.data.b_top == 1 ? "checked" : "")>
                                <label for="data_b_top">(When checked, the posts are placed at the top.)</label>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.data.b_type == 4)
                {
                    @Html.HiddenFor(x => x.data.b_type_sub1)
                    @Html.HiddenFor(x => x.data.b_type_sub2)
                    <div class="form-group row">
                        <legend class="col-md-2 col-form-legend">Category: </legend>
                        <div class="col-md-10">
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.data.b_type_sub_name, new { @class = "form-control", @required = "required", @placeholder = "Please choose document category", @readonly="readonly" })
                                <span class="input-group-btn">
                                    <a href="#" class="btn btn-info btn-sm" onclick="FindCategory(this)">
                                        <i class="icon wb-search" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                }


                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Description: </label>
                    <div class="col-md-10">
                        @Html.TextAreaFor(x => x.data.contents, new { @class = "form-control", @required = "required", @placeholder = "", @rows = "10" })
                    </div>
                </div>

                <div class="col-md-12 row no-space">
                    <label class="col-md-2 col-form-label">Uploaded Files: </label>
                    <div class="col-md-10" id="upload_file_list">
                        @Html.Partial("BoardCreateFileList", Model)
                    </div>
                </div>
            </div>
        }
        <div class="panel-body pt-0">
            <div id="board_files" class="dropzone">
               
            </div>
        </div>
    </div>
</div>
        @section scripts{
            <script src="~/Libs/dropzone/js/dropzone.min.js?v=1533562669"></script>
            <script type="text/javascript">
                StopEnterSubmit();

                function RemoveFile(file_seq) {
                    var postData = $('#CreateForm').serialize();
                    console.log(postData);
                    $.ajax({
                        url: "@Url.Action("BoardRemoveFileList", "Board")",
                        type: "POST",
                        data: postData+"&file_seq="+file_seq,
                        complete: function (data) {

                            $('#upload_file_list').html("");
                            $('#upload_file_list').html(data.responseText);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            ErrorAlert("알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.");
                        }
                    });
                    
                }
                $('.back-button').click(function (e) {
                    history.back();
                });

                //파일업로드
                var dropzone_files = new Array();
                var myDropzone = new Dropzone("div#board_files", {
                    url: "@Url.Action("CreateTempBoardFile", "Board")",
                    method: "post",
                    params: { 'b_seq': '@Model.data.b_seq', "uploadFolder": "@ViewBag.uploadFolder" }
                });
                myDropzone.on("success", function (file, response) {
                    if (response.ok) {
                        dropzone_files.push(response.result);
                    } else {
                        ErrorAlert("[ERROR]" + response.message);
                    }
                    
                });
                myDropzone.on("complete", function (file) {

                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                        console.log(dropzone_files);
                        
                        var postData = $('#CreateForm').serialize();
                        var i = 0;
                        dropzone_files.forEach(function (file) {
                            var obj = {};
                            $.each(file, function(index, value){
                                obj["files[" + i + "]." + index] = value;
                            });
                            postData += "&" + $.param(obj);
                            i++;
                        });
                        console.log(postData);
                        $.ajax({
                            url: "@Url.Action("BoardCreateFileList", "Board")",
                            type: "POST",
                            data: postData,
                            complete: function (data) {
                                console.log(data);
                                $('#upload_file_list').html(data.responseText);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                ErrorAlert("알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.");
                            }
                        });
                        
                        
                        this.removeAllFiles();
                        dropzone_files = new Array();
                    }
                });

                    //폼 유효성 검사
                $("#CreateForm").formValidation({
                    framework: "bootstrap4",
                    button: {
                        selector: "#btnSave",
                        disabled: "disabled"
                    },
                    submitHandler: function () {
                        alert("")
                    },
                    icon: null,
                    fields: {
                        title: {
                            validators: {
                                notEmpty: {
                                    message: "Title is required."
                                }
                            }
                        },
                        contents: {
                            validators: {
                                notEmpty: {
                                    message: "Contents is required."
                                }
                            }
                        },
                        "data.b_type_sub_name": {
                            validators: {
                                notEmpty: {
                                    message: "Please choose a value."
                                }
                            }
                        }


                    },
                    err: {
                        clazz: "invalid-feedback"
                    },
                    control: {
                        valid: "is-valid",
                        invalid: "is-invalid"
                    },
                    row: {
                        invalid: "has-danger"
                    }
                }).on('success.form.fv', function (e) {
                    //기본 submit 이벤트 취소.
                    e.preventDefault();
                    
                    ConfirmAlert("Save", "Do you want to save the post?",
                        function () {
                            var formURL = $("#CreateForm").attr("action");
                            $.ajax({
                                url: formURL,
                                type: "POST",
                                dataType: 'json',
                                data: $("#CreateForm").serialize(),
                                beforeSend: function () {
                                    showLoading();
                                },
                                success: function (json) {
                                    hideLoading();
                                    if (json.ok) {
                                        NormalAlert("Save Complete", function () {
                                            if (json.b_seq) {
                                                location.href = "@Url.Action(pageTag + "Detail", "Board")?b_seq=" + json.b_seq;
                                            }
                                        });

                                    }
                                    else {
                                        ErrorAlert("[ERROR] " + json.message);
                                    }
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    hideLoading();
                                    ErrorAlert("알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.");
                                },
                                complete: function () {
                                    hideLoading();
                                    $("#btnSave").prop("disabled", "");
                                    $("#btnSave").removeClass("disabled");
                                }
                            });
                        }, function () {
                            $("#btnSave").prop("disabled", "");
                            $("#btnSave").removeClass("disabled");
                        });
                });


                //자료실 카테고리 선택
                function FindCategory(obj) {
                    $.fancybox.open({
                        href : "@Url.Action("BoardTypeSelectApi", "Board")",
                        ajax : {
                            type:"post"
                        }, 
                        data: {type : #('#data_b_type').val()},

                        autoDimensions:false,
                        type: 'ajax',
                        padding: 5,
                        scrolling : 'no',
                        autoSize: true,
                        helpers: {
                            overlay: {
                                closeClick: false
                            }
                        }
                    });
                 }


            </script>
        }
