@model Univision.Core.Models.DTO.Response.Statistics.ClientProjectStatisticsListModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content container-fluid">

    @using (Html.BeginForm("ClientProjectHistory", "Statistics", FormMethod.Get, new { @id = "SearchForm" }))
    {
        @Html.HiddenFor(x => x.search.orderOption)
        @Html.HiddenFor(x => x.search.orderTxt)

        <!-- row -->
        <div class="row">
            <!-- block -->
            <div class="col-xl-5">
                <div class="form-group custom5">
                    <div class="col-xl-2 p-0">
                        <h5>고객사 : </h5>
                        @*<select class="form-control">
                                <option >고객사</option>
                            </select>*@
                    </div>
                    <div class="col-xl-10 p-0 ml-5">
                        @Html.TextBoxFor(x => x.search.searchTxt, new { @class = "form-control", @placeholder = "검색어를 입력하세요." })
                    </div>
                </div>
            </div>
            <!-- // block -->
            <div class="col-xl-5 custom4 " style="text-align:right">
                <div class="form-group custom5">
                    <div class=" p-0 " style="text-align:right;width:30%;">
                        <h5>등록일 :</h5>
                    </div>
                    <div class=" p-0 ml-5">
                        <div class="input-group">
                            @Html.TextBoxFor(x => x.search.startDt, new { @class = "form-control jDatePicker", @placeholder = "YYYY-MM-DD", @autocomplete="off" })
                            <span class="input-group-addon">
                                <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                            </span>
                            &nbsp;~&nbsp;
                            @Html.TextBoxFor(x => x.search.endDt, new { @class = "form-control jDatePicker", @placeholder = "YYYY-MM-DD", @autocomplete="off" })
                            <span class="input-group-addon">
                                <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2">
                <div class="form-group custom4 sts50">
                    <div class="col-xl-6 p-0">
                        <button type="submit" id="btnSearch" class="btn btn-raised btn-primary btn-block">검색</button>
                    </div>
                    <div class="col-xl-6 p-0 ml-3">
                        <button type="button" id="btnReset" class="btn btn-raised btn-default btn-block">초기화</button>
                    </div>
                </div>
            </div>
            <!-- block -->
        </div>
        <!-- //row -->
    }

    <!-- row -->
    <div class="row">
        <div class="col-xl-12">
            <div class="panel custom1">
                <header class="panel-heading">
                    <h3 class="panel-title">
                        고객사별 프로젝트 현황
                    </h3>
                </header>
                <div class="panel-body" data-plugin="scrollable">
                    <div data-role="container" style="padding:0 !important; margin:0 !important;">
                        <div data-role="content" style="padding:0 !important; margin:0 !important;">
                            <div class="table-responsive">
                                <table id="default-table" class="table table-sm table-hover ">
                                    <colgroup>
                                        <col style="width:5%;">
                                        <col style="width:20%;">
                                        <col style="width:12%;">
                                        <col style="width:12%;">
                                        <col style="width:12%;">
                                        <col style="width:12%;">
                                        <col style="width:12%;">
                                        <col style="width:15%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>
                                                고객사
                                                <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "C.kor_name", Model.search.orderOption) colSort" orderTxt="C.kor_name"></i>
                                            </th>
                                            <th>
                                                전체
                                                <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "allCnt", Model.search.orderOption) colSort" orderTxt="allCnt"></i>
                                            </th>
                                            <th>
                                                성공
                                                <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "successCnt", Model.search.orderOption) colSort" orderTxt="successCnt"></i>
                                            </th>
                                            <th>
                                                진행
                                                <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "progressCnt", Model.search.orderOption) colSort" orderTxt="progressCnt"></i>
                                            </th>
                                            <th>
                                                실패
                                                <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "failCnt", Model.search.orderOption) colSort" orderTxt="failCnt"></i>
                                            </th>
                                            <th>
                                                보류
                                                <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "waitCnt", Model.search.orderOption) colSort" orderTxt="waitCnt"></i>
                                            </th>
                                            <th>
                                                매출액
                                                <i class="fas @Utils.ReturnOrderOptionCalss(Model.search.orderTxt, "billing_money", Model.search.orderOption) colSort" orderTxt="billing_money"></i>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.list.Count > 0)
                                        {
                                            int num = (Model.PagingInfo.CurrentPage - 1) * Model.PagingInfo.ItemsPerPage + 1;
                                            foreach (var data in Model.list)
                                            {
                                                <tr>
                                                    <td>@(num++)</td>
                                                    <td>
                                                        <a href="@Url.Action("ClientDetail", "Client", new { @c_seq = data.c_seq })" class="border-0" target="_blank">@data.kor_name</a>
                                                    </td>
                                                    <td>@Utils.ConvertMoneyToString(data.allCnt)</td>
                                                    <td>@Utils.ConvertMoneyToString(data.successCnt)</td>
                                                    <td>@Utils.ConvertMoneyToString(data.progressCnt)</td>
                                                    <td>@Utils.ConvertMoneyToString(data.failCnt)</td>
                                                    <td>@Utils.ConvertMoneyToString(data.waitCnt)</td>
                                                    <td>@Utils.ConvertMoneyToString(data.billing_money)</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="8">
                                                    진행 중인 고객사 프로젝트가 없습니다.
                                                </td>
                                            </tr>
                                        }

                                    </tbody>

                                </table>
                            </div>
                            <div class="table-responsive">
                                <table id="default-table" class="table table-hover ">
                                    <colgroup>
                                        <col style="width:5%;">
                                        <col style="width:20%;">
                                        <col style="width:12%;">
                                        <col style="width:12%;">
                                        <col style="width:12%;">
                                        <col style="width:12%;">
                                        <col style="width:12%;">
                                        <col style="width:15%;">
                                    </colgroup>
                                    <tbody>
                                        <tr class="sum">
                                            <td colspan="2">전체 합계</td>
                                            <td>@Utils.ConvertMoneyToString(Model.sumData.allCnt)</td>
                                            <td>@Utils.ConvertMoneyToString(Model.sumData.successCnt)</td>
                                            <td>@Utils.ConvertMoneyToString(Model.sumData.progressCnt)</td>
                                            <td>@Utils.ConvertMoneyToString(Model.sumData.failCnt)</td>
                                            <td>@Utils.ConvertMoneyToString(Model.sumData.waitCnt)</td>
                                            <td>@Utils.ConvertMoneyToString(Model.sumData.billing_money)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    @Html.PageAjaxLinks(Model.PagingInfo,
                             ViewContext.HttpContext.Request.Url.AbsoluteUri,
                             x => Url.Action("ClientProjectHistory", new
                             {
                                 page = x
                             }))
                </div>

            </div>
        </div>
    </div>
    <!-- // row -->


</div>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {

            BindDatePicker($(".jDatePicker"));

            $("#btnReset").click(function () {

                $("#search_searchTxt").val("");
                $("#search_startDt").val("");
                $("#search_endDt").val("");
                $("#search_orderTxt").val("C.kor_name");
                $("#search_orderOption").val("ASC");

                $(".colSort").each(function () {
                    $(this).removeClass("fa-sort-up");
                    $(this).removeClass("fa-sort-down");
                    $(this).addClass("fa-sort");
                });

                $("#btnSearch").click();
            });


            $(".colSort").click(function () {

                $(".colSort").not(this).each(function () {

                    $(this).removeClass("fa-sort-up");
                    $(this).removeClass("fa-sort-down");
                    $(this).addClass("fa-sort");
                });

                $(this).removeClass("fa-sort");

                if ($(this).hasClass("fa-sort-up")) {
                    $(this).addClass("fa-sort-down");
                    $(this).removeClass("fa-sort-up");
                    $("#search_orderTxt").val($(this).attr("orderTxt"));
                    $("#search_orderOption").val("DESC");
                }
                else {
                    $(this).addClass("fa-sort-up");
                    $(this).removeClass("fa-sort-down");
                    $("#search_orderTxt").val($(this).attr("orderTxt"));
                    $("#search_orderOption").val("ASC");
                }

                $("#btnSearch").click();

            });

        });

    </script>

}