@model Univision.Core.Models.DTO.Response.Statistics.MonthlyKPIModel
@using Univision.Security

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>

<div class="page-content container-fluid">

  <!-- row -->
  @using (Html.BeginForm("ProjectActivity", "Statistics", FormMethod.Get, new { @id = "SearchForm" }))
  {
  <div class="row">
    <div class="col">
      <div class="panel custom1">
        <!-- // block -->
        <div class="panel-body p-10">
          <div class="row">
            <div class="col-md-8 form-group">
              <div class="input-group input-group-sm">
                <span class="input-group-addon">
                  <h5>기간 :</h5>
                </span>
                @Html.TextBoxFor(x => x.search.startDt, new { @class = "form-control jDatePicker", @placeholder = "YYYY-MM-DD", @autocomplete = "off" })
                <span class="input-group-addon">
                  <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                </span>
                <sapn class="input-group-addon bg-transparent border-0"> ~ </sapn>
                @Html.TextBoxFor(x => x.search.endDt, new { @class = "form-control jDatePicker", @placeholder = "YYYY-MM-DD", @autocomplete = "off" })
                <span class="input-group-addon">
                  <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                </span>
                
              </div>
            </div>

            <div class="col-md-1 offset-3">
              <button type="button" class="btn btn-sm btn-raised btn-primary btn-block" id="table-setdata">검색</button>
            </div>
          </div>
          <!-- block -->
        </div>

      </div>
    </div>
  </div>
  }

  <!-- //row -->
  <!-- row -->
  <div class="row" id="univision_activity_body">
    <div class="col-xl-12">
      <div class="panel custom1">
        <div class="panel-heading">
          <div class="panel-title">
            전직원 GPI
          </div>
          <div class="panel-actions w-md-100">
            <div class="panel-action text-right w-full">
              <button type="button" class="btn btn-sm btn-raised btn-primary btn-block" id="download-xlsx">Excel</button>
            </div>
          </div>
        </div>
        
        <div class="panel-body p-10">
          <div id="kpi_all_table" data-role="container">

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- // row -->


</div>

@section scripts {
  <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
  <script type="text/javascript">
        $(document).ready(function () {
            BindDatePicker($(".jDatePicker"));
        });

    function fSetDate(type) {
      var today = new Date();
      var today_str = getDateStr(today)
      $('#search_endDt').val(today_str);
      if (type == "day") {
        $('#search_startDt').val(today_str)

      } else if (type == "week") {
        $('#search_startDt').val(dateAdd(today_str, -7, "d"))
      } else if (type == "month") {
        $('#search_startDt').val(dateAdd(today_str, -1, "m"))
      }
    }

    function getDateStr(date) {
      // GET YYYY, MM AND DD FROM THE DATE OBJECT
      var yyyy = date.getFullYear().toString();
      var mm = (date.getMonth() + 1).toString();
      var dd = date.getDate().toString();

      // CONVERT mm AND dd INTO chars
      var mmChars = mm.split('');
      var ddChars = dd.split('');

      // CONCAT THE STRINGS IN YYYY-MM-DD FORMAT
      return yyyy + '-' + (mmChars[1] ? mm : "0" + mmChars[0]) + '-' + (ddChars[1] ? dd : "0" + ddChars[0]);

    }

    function dateAdd(sDate, v, t) {
      var yy = parseInt(sDate.substr(0, 4), 10);
      var mm = parseInt(sDate.substr(5, 2), 10);
      var dd = parseInt(sDate.substr(8), 10);

      if (t == "d") {
        d = new Date(yy, mm - 1, dd + v);
      } else if (t == "m") {
        d = new Date(yy, mm - 1 + v, dd);
      } else if (t == "y") {
        d = new Date(yy + v, mm - 1, dd);
      } else {
        d = new Date(yy, mm - 1, dd + v);
      }

      yy = d.getFullYear();
      mm = d.getMonth() + 1; mm = (mm < 10) ? '0' + mm : mm;
      dd = d.getDate(); dd = (dd < 10) ? '0' + dd : dd;

      return '' + yy + '-' + mm + '-' + dd;
    }

    var table = new Tabulator("#kpi_all_table", {
      maxHeight: "550px",
      frozenRows: 0,
      columns: [
        { formatter: "rownum", hozAlign: "center", width: 40 },
        { title: "이름", field: "uv_name", sorter: "string", hozAlign: "left", headerFilter: "input", editor: false, frozen: true},
        { title: "부서", field: "ud_name", sorter: "string", hozAlign: "left", headerFilter: "input"},
        { title: "월", field: "mon", sorter: "string", hozAlign: "center", width:100},
        //{ title: "종료/재진행사유", field: "status_comment", sorter: "string", width: 100 },

        { title: "프로젝트<br/>신규(AM)", field: "pjt_cnt_am", sorter: "number" },
        { title: "프로젝트<br/>신규(SM)", field: "pjt_cnt_sm", sorter: "number" },

        { title: "직접등록", field: "can_reg_dr", sorter: "number" },
        { title: "대행등록", field: "can_reg_ag", sorter: "number" },
        { title: "업데이트", field: "can_udt", sorter: "number" },
        { title: "등록합계", field: "can_reg_all", sorter: "number" },

        { title: "메모등록", field: "can_memo", sorter: "number" },
        { title: "추천프로젝트", field: "rec_pjt_cnt", sorter: "number" },
        { title: "추천", field: "rec_cnt", sorter: "number" },
        { title: "면접", field: "int_cnt", sorter: "number" },

        

      ],
      /*
      rowFormatter: function (row) {
        if (row.getData().pjt_status == 5) {
          row.getElement().classList.add("bg-success");
        } else if (row.getData().pjt_status == 4) {
          row.getElement().classList.add("bg-info");
        } else if (row.getData().pjt_status == 3 ) {
          row.getElement().classList.add("bg-danber");
        } else if (row.getData().pjt_status == 2) {
          row.getElement().classList.add("bg-waning");
        }
      },*/
      ajaxURL: "@Url.Action("MonthlyKPIAjx", "Statistics")",
      ajaxConfig: "POST",
      ajaxContentType: "json",
      ajaxParams: function () {
        return { startDt: document.getElementById('search_startDt').value, endDt: document.getElementById('search_endDt').value } //ajax parameters
      },
      ajaxResponse: function (url, params, response) {
        //url - the URL of the request
        //params - the parameters passed with the request
        //response - the JSON object returned in the body of the response.

        return response.list; //return the tableData property of a response json object
      },

    });
    document.getElementById("table-setdata").addEventListener("click", function () {
      table.setData("@Url.Action("MonthlyKPIAjx", "Statistics")");
    });

    document.getElementById("download-xlsx").addEventListener("click", function () {

      var range = document.getElementById('search_startDt').value.replace(/\-/gi, "") + "_" + document.getElementById('search_endDt').value.replace(/\-/gi, "")
      table.download("xlsx", "kpi_" + range+".xlsx", { sheetName: "kpi" });
    });

        function PopMemoList(from, to) {
            $.fancybox.open({
                href : "@Url.Action("UnivisionMemoList", "Statistics")",
                ajax : {
                    type: "post",
                    data: {
                        uv_seq: $('#search_uv_seq').val(),
                        from_month_str: from,
                        to_month_str : to
                    }
                },
                autoDimensions:false,
                type: 'ajax',
                padding: 5,
                scrolling : 'auto',
                autoSize: true,
                'title': '메모장 내역 (' + from + '~' + to+')',
                helpers: {
                    overlay: {
                        closeClick: false
                    }
                }
            });
        }

        function PopCandidateList(direct, from, to) {
            $.fancybox.open({
                href : "@Url.Action("UnivisionCandidateList", "Statistics")",
                ajax : {
                    type: "post",
                    data: {
                        is_direct : direct,
                        uv_seq: $('#search_uv_seq').val(),
                        from_month_str: from,
                        to_month_str : to
                    }
                },
                autoDimensions:false,
                type: 'ajax',
                padding: 5,
                scrolling : 'auto',
                autoSize: false,
                'title': '후보자 등록현황 (' + from + '~' + to+')',
                helpers: {
                    overlay: {
                        closeClick: false
                    }
                }
            });
        }

    function PopRecommList(status, from, to) {
      var pop_title = "추천";
      if (status == 50) {
        pop_title = "면접";
      }
            $.fancybox.open({
                href : "@Url.Action("UnivisionPjtCandidateList", "Statistics")",
                ajax : {
                    type: "post",
                    data: {
                      status: status,
                      uv_seq: $('#search_uv_seq').val(),
                      from_month_str: from,
                      to_month_str : to
                    }
                },
                autoDimensions:false,
                type: 'ajax',
                padding: 5,
                scrolling : 'auto',
                autoSize: false,
              'title': pop_title  + ' 후보자 현황 (' + from + '~' + to+')',
                helpers: {
                    overlay: {
                        closeClick: false
                    }
                }
            });
        }
    function PopHireList(status, from, to) {
      var pop_title = "채용";

            $.fancybox.open({
                href : "@Url.Action("UnivisionPjtHireCandidateList", "Statistics")",
                ajax : {
                    type: "post",
                    data: {
                      status: status,
                      uv_seq: $('#search_uv_seq').val(),
                      from_month_str: from,
                      to_month_str : to
                    }
                },
                autoDimensions:false,
                type: 'ajax',
                padding: 5,
                scrolling : 'auto',
                autoSize: false,
              'title': pop_title  + ' 후보자 현황 (' + from + '~' + to+')',
                helpers: {
                    overlay: {
                        closeClick: false
                    }
                }
            });
        }

        function PopCandidateUpdateList(from, to) {
            $.fancybox.open({
                href : "@Url.Action("UnivisionCandidateUpdateList", "Statistics")",
                ajax : {
                    type: "post",
                    data: {
                        uv_seq: $('#search_uv_seq').val(),
                        from_month_str: from,
                        to_month_str : to
                    }
                },
                autoDimensions:false,
                type: 'ajax',
                padding: 5,
                scrolling : 'auto',
                autoSize: false,
                'title': '후보자 업데이트현황 (' + from + '~' + to+')',
                helpers: {
                    overlay: {
                        closeClick: false
                    }
                }
            });
        }

        //권한별 부서, User select 제어
        function AuthControll(ua_seq) {
            var userDisabled = "";

            switch (ua_seq)
            {
                case 1:
                case 2:
                case 3:
                    userDisabled = "";
                    break;
                case 4:
                    userDisabled = "";
                    break;
                default:
                    userDisabled = "disabled";
                    break;

            }

            if (userDisabled != "")
                $("#search_uv_seq").attr("disabled", userDisabled);
        };


  </script>

}