@model Univision.Core.Models.DTO.Response.Statistics.SalesDetailListModel

<header class="panel-heading">
    <h3 class="panel-title">
        매출상세내역
    </h3>
</header>
<div class="panel-body">

    <div class="table-responsive">
        <table id="default-table" class="table table-hover scrolltable" >
            <colgroup>
                <col style="">
                <col style="">
                <col style="">
                <col style="">
                <col style="">
                <col style="">
                <col style="">
                <col style="">
                <col style="">
                <col style="">
                <col style="">
                <col style="">
            </colgroup>
            <thead>
                <tr>
                    <th rowspan="2">고객사</th>
                    <th colspan="4">담당</th>
                    <th colspan="3">일정</th>
                    <th colspan="3">완료일</th>
                    <th colspan="2">인정매출</th>
                </tr>
                <tr>
                    <th>책임</th>
                    <th>담당</th>
                    <th>Contact</th>
                    <th>입사자</th>
                    <th>입사</th>
                    <th>빌링</th>
                    <th>입금</th>
                    <th>연봉</th>
                    <th>수수료</th>
                    <th>매출액</th>
                    <th>비율</th>
                    <th>성과</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.list.Count > 0)
                {
                    foreach (var data in Model.list)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("ClientDetail", "Client")">
                                    @data.client_name
                                </a>
                            </td>
                            <td>@data.am_name</td>
                            <td>@data.searcher_name</td>
                            <td>@data.contact_name</td>
                            <td>
                                <a href="@Url.Action("CandidateDetail", "Candidate")">
                                    @data.candidate_name
                                </a>
                            </td>
                            <td>
                                @Utils.ConvertDateTimeToString(data.join_dt)
                            </td>
                            <td>
                                @Utils.ConvertDateTimeToString(data.billing_dt)
                            </td>
                            <td>
                                @Utils.ConvertDateTimeToString(data.deposit_dt)
                            </td>
                            <td>@Utils.ConvertMoneyToString(data.annual_income)</td>
                            <td>@(data.fee_rate)%</td>
                            <td>@Utils.ConvertMoneyToString(data.sales_money)</td>
                            <td>@(data.sales_rate)%</td>
                            <td>@Utils.ConvertMoneyToString(data.sales_money)</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="13">
                            해당 년도에 데이터가 없습니다.
                        </td>
                    </tr>
                }
            </tbody>
            <tr class="sum">
                <td colspan="8">합계</td>
                <td>@Utils.ConvertMoneyToString(Model.sumData.sum_annual_income)</td>
                <td></td>
                <td>@Utils.ConvertMoneyToString(Model.sumData.sum_sales_money)</td>
                <td></td>
                <td>@Utils.ConvertMoneyToString(Model.sumData.sum_sales_money)</td>
            </tr>
        </table>
    </div>
</div>
<div class="panel-footer">
    @Html.PageAjaxLinksWithFunction(Model.PagingInfo,
                 ViewContext.HttpContext.Request.Url.AbsoluteUri,
                 x => String.Format("javascript:callPeriodSalesTeamList({0}, {1}, {2})", Model.year, Model.ud_seq, x))
</div>