@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>-->
<script src="~/Libs/dropzone/js/dropzone.min.js?v=1533562669"></script>
<link rel="stylesheet" href="~/Libs/dropzone/css/dropzone_ai.css?v=1533562669">
<style>
  .loader {
    width: 32px;
    height: 32px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @@keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
</style>
<div class="page-content" style="position:relative;">

  <div class="panel panel-success panel-line shadow">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fas fa-upload"></i>
        이력서 신규등록 (AI) <span class="badge badge-success">Beta</span>
      </h3>
      <div class="panel-actions">
        <a class="panel-action" aria-hidden="true" title="업로드 초기화" href="javascript:ResetUploadPage();"><i class="fa fa-redo"></i></a>
      </div>
    </div>

    <div id="resume_upload_panel" class="panel-body pt-20">
      <div class="modal fade" id="modal_upload_progress" tabindex="-1" role="dialog" aria-labelledby="modal_upload_progress_label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-title">
              <h3 class="pl-20"><span id="ai_modal_title">ChatGPT가 파일을 분석 중 입니다..</span></h3>
            </div>
            <div class="modal-body text-center" id="ai_modal_contents">
              <span id="summary_loader" class="loader"></span>
            </div>
            <div class="modal-footer">
              <span style="" class="text-center">
                <button type="button" class="btn btn-danger" style="min-width:200px;" id="btn_cancel_result" disabled="true">요청취소</button>
              </span>
            </div>
          </div>

        </div>

      </div>
      <div class="row">
        <div class="col-8 offset-2">
          <form id="create-ai-resume" class="dropzone h-full text-left">
            <div class="row py-2">
              <div class="col">
                <div class="dz-message" id="upload_message">
                  <h4>AI 이력서 등록 <span class="badge badge-success">Beta</span></h4>

                  <small>[이력서 파일을 여기에 끌어놓거나 클릭하여 파일을 선택해주세요.]</small><br />
                  <p>
                    - 글자 인식이 가능한 이력서만 등록이 가능합니다.(이미지 형식은 인식 불가)<br />
                    - 내용이 너무 길거나 용량이 큰 파일은 인식이 어려울 수 있습니다.<br />
                    <span class="text-danger">- GPT가 분석한 내용은 정확하지 않을 수 있습니다.<br /> <span class="font-weight-800">꼭 저장하시기전 틀린내용이 없는지 검수가 필요합니다.</span></span>
                    <br /><br />
                    <span>* 대표적으로 <span class="text-danger font-weight-800 font-size-14">[잡코리아] PDF 이력서</span>는<br />회사,학교,연락처 글자 인식이 되지 않습니다 ㅠㅠ</span>
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="debug_area" class="row d-none">
    <div class="col">
      <form id="ai_resume_form" method="post" action="@Url.Action("CandidateAiCreate", "Candidate")" target="_blank">
        <input type="hidden" name="c_seq" id="c_seq_ai_form" value="" />
        <input type="hidden" name="uploadFolder" id="uploadFolder" value="" required />
        <textarea class="form-control" id="candidate_model" name="candidate_model" required></textarea>
      </form>

      <textarea class="form-control" id="prompt" readonly="true">
다음 이력서 내용을 파악하고 아래 구조에 맞춰 JSON 데이터로 출력합니다.
'resume_type'  : 작성된 이력서 내용이 한글로 이루어져 있으면 K 영어로 이루어져 있으면 E),
'kor_name' : 한글이름(한국이름이면 띄어쓰기 없이 저장), 
'eng_name' : 영어이름(이력서 원문에 영어로 이름이 있으면 저장, 없으면 ''으로 비워둔다), 
'birth_date' : 생년월일(yyyy-MM-dd형식으로, 정보가 없으면 ''로 비워둔다.) , 
'gender' : 성별(남자면 1/여자면 2/정보가 없으면 0으로 저장), 
'cell_phone' : 전화번호(정보가 없거나 비공개일 경우 ''로 비워둔다.), 
'phone' : cell_phone 전화번호외에 추가 전화번호(정보가 없거나 비공개일 경우 ''로 비워둔다.), 
'email1' : 이메일(정보가 없으면 ''로 비워둔다.), 
'email2' : 'email1' 외에 추가 이메일(정보가 없을 경우 ''로 비워둔다.), 
'sns_link1' : linkedin 주소가 있으면 저장한다,
'country_cd' : 국적코드(거주지가 아닌 그사람의 국적, 알 수 없으면 KR로 저장),
'country_name' : 국적명(거주지가 아닌 그사람의 국적, 알 수 없으면 '한국'으로 저장),
'hope_salary' : 최소 희망연봉 (숫자로만 저장하고, 단위는 만원),
'hope_salary2' : 최대 희망연봉 (숫자로만 저장하고, 단위는 만원),
'addr1' : 거주지 주소(시/동 또는 시/구까지만 추출하고 없으면 비워둔다.) ,
'ex_addr' : 거주지 주소가 한국이 아니면 1 한국이면 0,
'schoolList' : 학력사항(최신 학력부터  내림차순 정렬, 배열형태), 
  학력사항은 
  {'gubun': 학력구분("고등학교"면 1, "전문대"면 2, "학사"("Bachelor's degree", "BS")면 3, "석사"("Master's degree", "MS")면 4, "박사"("Ph.D.", "PhD")면 5 로 지정), 
   'schoolName' : 학교명(캠퍼스이름 및 지역정보가 있다면 "학교명(캠퍼스명-지역)" 또는 "학교명(지역)" 형식으로 저장. 지역이나 캠퍼스이름이 없으면 학교명만 저장), 
   'major_name' : 전공, 
   'admission_year': 입학일(yyyy-MM형식으로 저장하기. 만약 년도만 있으면 yyyy로 저장. 정보가 없으면 그냥 비워둔다), 
   'graduate_year': 졸업일(yyyy-MM형식으로 저장하기. 만약 년도만 있으면 yyyy로 저장. 정보가 없으면 그냥 비워둔다)}
'companyList' : 경력사항(최신 경력부터 내림차순 정렬, 배열형태) 
  경력사항은 
  {'company_name' : 회사명 (회사명에서 "(주)"가 있을 경우 제거하고 저장) ", 
   'division_name': 부서와 직급 간략히 추출, 직급과 부서가 여러개일 경우 최종 직급 하나와 최종 부서 하나만 입력(년차는 제외하고 "영업팀 / 매니저" 정도로만 추출, 30자를 초과하지 않게), 
   'join_dt': 업무시작일(yyyy-MM형식으로 저장하기, 만약 년도만 있으면 yyyy로 저장. 정보가 없으면 그냥 비워둔다), 
   'leave_dt': 퇴사일(yyyy-MM형식으로 저장하기. 만약 년도만 있으면 yyyy로 저장. 정보가 없으면 그냥 비워둔다)}
   경력사항에서 회사명이 같으면 하나의 회사로 간주합니다,
'foreignList' : 외국어 능력 (영어, 중국어, 불어, 독일어, 일본어, 스페인어, 러시아어에 대한 언급이 있으면 리스트로 저장, 배열형태)
  외국어 능력은 언급되지 않거나 능력이 '하'이면 저장하지 않는다.{
    'code': 영어는 '02' 중국어는 '01' 불어는 '03' 독일어는 '04' 일본어는 '05' 러시아언는 '06' 스페인어는 '07' 로 저장
    'ability': 능력치 상이면 1 중이면 2 하면 3 으로 저장 
  }
</textarea>
      <textarea class="form-control" id="prompt_busi" readonly="true">
        아래 표는 우리가 관리하는 산업분류표입니다. 
전달받은 회사명에 해당되는 산업을 골라주고 해당되는 사유도 함께 출력합니다.
산업은 최소 2개에서 최대5개 까지 추출되며
회사에 대한 정확한 정보가 없으면 제안을 받지 못할 수도 있습니다.
그리고 소분류 "기타"는 최대한 추출되지 않도록 노력합니다. 

출력되는 데이터 형식은 아래와 같고 모두 필수항목으로 저장됩니다.
{ "business" : [{ "code1":산업대분류코드,"code_name1":산업대분류명,"code2":산업소분류코드,"code_name2":산업소분류멍,"reason":산업 지정 사유}]}

[산업분류표]
산업대분류코드(code1)|산업대분류명(code_name1)|산업소분류코드(code2)|산업소분류명(code_name2)
|---|-----|---------|---------|
101|금융|101010|은행/저축은행
||101020|증권
||101030|자산운용
||101040|PE/VC
||101050|캐피탈/대출
||101060|신용카드
||101070|보험
||101080|부동산금융·평가·중개
||101999|기타
102|소비재|102010|식품/음료
||102020|주류/담배
||102030|화장품
||102040|섬유/패션/의류/잡화
||102050|생활용품
||102060|사무용품/문구/완구
||102070|가구
||102999|기타
103|유통/판매|103010|무역/상사
||103020|유통
||103030|수입유통
||103040|이커머스/홈쇼핑/쇼핑몰
||103050|백화점
||103060|면세점
||103070|대형마트
||103080|편의점
||103090|기타 도소매
||103999|기타
104|전기/전자/반도체|104010|반도체
||104020|디스플레이/LED/LCD
||104030|반도체장비/디스플레이장비
||104040|전기·전자부품
||104050|전자기기/가전제품
||104070|통신기기/방송장비
||104080|광학/렌즈
||104999|기타
105|ICT/통신|105010|소프트웨어(SW)/솔루션
||105020|IT서비스/SI/웹·앱에이전시
||105030|네트워크/통신서비스
||105040|포털/컨텐츠/SNS
||105050|O2O/플랫폼
||105060|데이터베이스/빅데이터/인공지능(AI)/클라우드
||105070|핀테크/테크핀/블록체인/P2P
||105090|IT보안
||105100|IT컨설팅
||105999|기타
106|화학/에너지/금속/재료|106010|일반화학
||106020|석유화학/정유/가스
||106030|화학섬유
||106040|배터리/2차전지
||106050|환경
||106060|에너지
||106070|고무/플라스틱
||106080|비금속/광물자원
||106090|금속
||106100|철강
||106110|유리/요업
||106120|신소재
||106999|기타
108|건설/건축/토목/플랜트|108010|건설/건축/토목/건자재
||108030|플랜트/EPC
||108040|실내건축/인테리어시공
||108050|조경
||108060|건축설비
||108070|감리/CM
||108080|부동산개발·공급·분양
||108999|기타
109|기계/장비/자동차|109010|기계/장비/공구
||109020|기계설비
||109030|자동차
||109040|자동차부품/타이어
||109050|자동화
||109060|산업용로봇
||109070|측정/제어
||109999|기타
110|조선/철도/항공|110010|선박/조선
||110020|철도
||110030|항공/우주
||110999|기타
111|운송/물류|111010|항공사/기차/기타 여객
||111020|물류/운송/택배
||111040|창고/보관
||111999|기타
112|광고/홍보/전시|112010|광고/홍보/마케팅
||112020|전시기획
||112040|이벤트/프로모션
||112999|기타
113|게임/엔터/미디어/디자인|113010|게임
||113020|출판/인쇄
||113030|언론/신문/잡지
||113040|방송사
||113050|연예/엔터테인먼트/MCN
||113060|영상제작·배급/OTT서비스
||113070|음향/음원
||113080|캐릭터/애니메이션/만화
||113090|시각·산업디자인
||113100|패션·잡화디자인
||113110|전시·공간디자인
||113999|기타
114|의료/제약/바이오|114010|바이오/의약
||114030|의료기기
||114040|건강기능식품
||114050|CRO
||114060|병원
||114070|약국
||114999|기타
115|회계/세무/법무|115010|회계법인/세무법인
||115020|법무법인/로펌
||115030|특허법인
||115999|기타
116|연구/조사/컨설팅|116010|연구/R&D센터
||116020|경영·경제 연구소
||116030|리서치/조사분석/인증
||116040|컨설팅
||116050|써치펌/헤드헌팅
||116999|기타
117|교육|117010|초·중·고등학교
||117020|대학교
||117030|학원/어학원
||117050|교재/학습지/방문교육
||117999|기타
118|서비스|118010|외식업/프랜차이즈
||118020|스포츠/레저/테마파크
||118030|영화관/멀티플렉스
||118040|문화/예술/공연/전시
||118050|호텔/리조트/카지노
||118060|관광/여행사
||118070|국제회의/컨벤션
||118080|통·번역
||118090|아웃소싱/파견
||118100|보안/경비/시설관리
||118110|정비/AS/콜센터
||118120|임대/렌탈/리스
||118130|웨딩/상조
||118999|기타
119|기관/협회|119010|정부·공공기관
||119020|공사/공기업
||119030|NGO/국제기구
||119040|협회/조합/단체
||119999|기타
120|기타|120010|지주사
||120020|1차산업
||120999|기타
      </textarea>
      <textarea class="form-control" id="prompt_job" readonly="true">
아래 표는 우리가 관리하는 직무분류표입니다. 
전달받은 회사명과 직급/부서 해당되는 직무를 골라주고 해당되는 사유도 함께 출력합니다.
직무는 최소 2개에서 최대5개 까지 추출되며
회사와 직급 / 부서에 대한 정확한 정보가 없으면 제안을 받지 못할 수도 있습니다.
그리고 소분류 "기타"는 최대한 추출되지 않도록 노력합니다. 

출력되는 데이터 형식은 아래와 같고 모두 필수항목으로 저장됩니다.
{ "job" : [{ "code1":직무대분류코드,"code_name1":직무대분류명,"code2":직무소분류코드,"code_name2":직무소분류멍,"reason":직무 지정 사유}]}


[직무분류표]
직무대분류코드(code1)|직무대분류명(code_name1)|직무소분류코드(code2)|직무소분류명(code_name2)
|---|-----|---------|---------|
101|경영/사업|101010|CEO/COO
||101020|경영/전략/기획
||101030|사업/BD
||101050|M&A
||101060|법무/컴플라이언스/준법감시
||101080|총무/사무
||101090|비서
||101100|리셉션
||101999|기타
102|재무/회계|102010|CFO
||102020|재무/회계/경리
||102030|재무기획/예산
||102040|세무
||102050|자금
||102060|IR/공시
||102070|감사/통제
||102080|원가
||102999|기타
103|인사|103005|CHO
||103010|HRM
||103020|인사기획/평가
||103030|채용
||103040|급여/보상/C&B/복리후생
||103050|HRD/교육
||103060|조직문화
||103070|노무/노사
||103999|기타
104|마케팅/광고/홍보|104010|CMO
||104020|마케팅전략·기획
||104030|브랜드·제품마케팅/BM/PM
||104040|온라인·디지털·퍼포먼스마케팅
||104050|마케팅커뮤니케이션
||104060|CRM
||104070|홍보/PR
||104080|전시/이벤트/프로모션
||104090|광고/매체기획
||104100|마케팅조사/분석/리서치
||104110|해외마케팅
||104120|스포츠마케팅
||104999|기타
105|영업|105010|영업전략·기획
||105020|영업관리·지원
||105030|매장관리
||105040|지점개발·관리
||105060|일반영업
||105070|B2B·채널영업
||105075|온라인영업
||105080|해외영업
||105090|제약영업
||105100|의료기기영업
||105110|금융영업
||105120|기술영업
||105130|기술지원/유지보수
||105140|고객지원/CS/CX
||105150|IT영업
||105999|기타
106|유통/물류/무역|106010|상품기획/MD/온라인MD
||106020|유통/물류/SCM
||106040|수출입/무역사무
||106050|구매/조달/소싱
||106060|자재/재고/창고
||106999|기타
107|생산/제조/개발|107010|연구/개발
||107020|설계
||107030|생산/제조
||107040|생산전략·기획
||107050|생산·공정관리
||107060|품질보증·관리
||107070|안전/환경/보건
||107080|설비유지보수/공무
||107090|공장장
||107999|기타
108|건설/건축/설계|108010|건축/건축설계
||108020|환경/플랜트
||108030|실내건축/인테리어
||108040|토목/조경
||108050|CM/감리/공무/현장/시공
||108060|전기/소방/통신/안전
||108070|부동산 개발·경매·분양·운영
||108999|기타
109|IT/인터넷|109010|CTO/CIO/CISO
||109020|IT기획/PM/PO
||109030|Web/App 기획
||109040|Web/App 개발·운영
||109050|SW/임베디드 기획
||109060|SW/임베디드 개발·운영
||109070|서버/네트워크/보안
||109080|통신망 설계·구축
||109100|빅데이터/데이터베이스/AI/Cloud
||109120|UI/UX/웹·앱디자인
||109130|게임 기획·개발
||109140|QA/테스터
||109150|IT 기술지원/운영/유지보수
||109999|기타
110|디자인|110010|시각·그래픽·CG·광고디자인
||110020|제품·산업디자인
||110030|의류·패션·잡화 디자인
||110050|캐릭터·애니메이션 디자인
||110060|출판·편집디자인
||110070|전시·공간디자인
||110080|VMD
||110999|기타
111|미디어|111010|미디어/컨텐츠 제작·배급
||111020|광고기획·제작/AE
||111030|영상/사진/촬영
||111040|음악/음향
||111050|연예/엔터테인먼트
||111060|공연/전시/무대
||111070|인쇄/출판
||111080|작가
||111090|기자/에디터/리포터
||111100|진행/아나운서
||111110|기획/연출/감독/PD
||111999|기타
112|의료/제약/바이오|112010|의료/제약/바이오 연구·개발
||112020|임상개발/CRA
||112030|RA/QA
||112040|헬스케어 사업개발/라이센싱
||112050|학술/MSL
||112060|의사/한의사/치과의사
||112080|약사
||112090|간호사/간호조무사
||112100|수의사
||112110|의료기사
||112999|기타
113|금융|113010|IB/기업금융
||113020|WM/PB
||113030|펀드매니저/트레이더
||113040|대체투자
||113050|리서치/애널리스트
||113060|금융상품개발
||113070|보험/계리/언더라이팅
||113080|리스크관리/컴플라이언스
||113090|여신/대출
||113100|오퍼레이션
||113999|기타
114|컨설팅/리서치|114010|경영·재무 컨설팅
||114020|인사·노무 컨설팅
||114040|IT컨설팅
||114050|연구원
||114060|리서치/분석
||114070|헤드헌터
||114999|기타
115|전문직|115010|변호사/법무사/변리사/노무사
||115020|회계사/세무사
||115030|관세사
||115040|통·번역
||115050|교사/교수/강사
||115060|호텔·리조트 관련
||115070|승무원
||115080|여행·관광 관련
||115090|요리사/조리사/영양사
||115100|공무원/군인
||115110|공인중개사
||115999|기타
      </textarea>
      <textarea class="form-control" rows="5" name="file_content" id="file_content" readonly="true"></textarea>
      <textarea class="form-control" rows="5" name="ai_summary_stream" id="ai_summary_stream" readonly="true"></textarea>
      <textarea class="form-control" rows="5" name="ai_summary_busi_stream" id="ai_summary_busi_stream" readonly="true"></textarea>
      <textarea class="form-control" rows="5" name="ai_summary_job_stream" id="ai_summary_job_stream" readonly="true"></textarea>
    </div>
  </div>
  <div class="row d-none" id="log_panel">
    <div class="col-12">
      <div class="panel shadow">
        <div class="panel-heading">
          <h5 class="panel-title">
            분석 내용
          </h5>
        </div>
        <div class="panel-body bg-light py-5">
          <p id="ai_upload_log">

          </p>
        </div>
      </div>
    </div>

  </div>





</div>

@section scripts{
  <script type="text/javascript">
    window.url_candidate_ai_create = "@Url.Action("CandidateAiCreate", "Candidate")";
    window.url_candidate_ai_update = "@Url.Action("CandidateCreateAiUpdate", "Candidate")";
    window.url_find_duplicate_candidate = "@Url.Action("FindDuplicateCandidate", "Candidate")";
    window.url_resume_upload_get_contents = "@Url.Action("ResumeUploadGetContents", "Candidate")";

  </script>
  <script type="text/javascript">
    Dropzone.autoDiscover = false;

    const API_URL = "https://api.openai.com/v1/chat/completions";
    //const API_URL = "/Candidate/ResumeGptCall";
    //const API_KEY = "YOUR_OPENAI_API_KEY";
    //const API_KEY = "YOUR_OPENAI_API_KEY"; //유료키
    const API_KEY ="YOUR_OPENAI_API_KEY" //신규 유료키 20251015
    const prompt = document.getElementById("prompt"); //명령어
    const prompt_busi = document.getElementById("prompt_busi"); //명령어
    const prompt_job = document.getElementById("prompt_job"); //명령어
    const file_content = document.getElementById("file_content"); //1차 추출된 파일내용
    const ai_summary_stream = document.getElementById("ai_summary_stream"); //분석된 내용 (JSON)
    const ai_summary_busi_stream = document.getElementById("ai_summary_busi_stream"); //분석된 내용 (JSON)
    const ai_summary_job_stream = document.getElementById("ai_summary_job_stream"); //분석된 내용 (JSON)

    const btn_cancel_result = document.getElementById("btn_cancel_result"); //요청 취소 버튼

    const ai_modal_title = document.getElementById("ai_modal_title")
    const ai_modal_contents = document.getElementById("ai_modal_contents")

    let controller = null;
    let isprogress = true; // 다음 진행 가능 여부
    var can_resume_info = {}; // 이력서 파일 업로드 정보

    //업로드 컴포넌트
    var myDropzone = new Dropzone("#create-ai-resume", {
      uploadMultiple: false,
      maxFiles: 1,
      url: window.url_resume_upload_get_contents,
      method: "post",
    });
    //
    myDropzone.on("success", function (file, response) {
      if (response.ok) {

        ai_progress(response)
        //SubmitToAiCreate(response);
      } else {
        this.removeFile(file);
        //ErrorAlert("[ERROR]" + response.message);
        document.getElementById('log_panel').classList.remove('d-none');
        AddLog("danger", "파일 업로드 실패 : " + response.message);
      }

    });

    const ai_progress = async (response) => {
      document.getElementById('log_panel').classList.remove('d-none');

      AddLog("info", "파일 업로드 성공");


      //업로드 완료 후
      await UploadProgressModal(); // 진행상태 팝업 띄우기
      isprogress = await SetFileInfo(response); // 업로드 파일 정보 설정 및 파일 분석 시작
      //console.log("SetFileInfo", isprogress)
      if (!isprogress)
        return;

      isprogress = await GenerateJsonFromResumeStream();
      //isprogress = await GenerateJsonFromResumeProxy();
      //console.log("GenerateJsonFromResumeStream", isprogress)

      if (!isprogress)
        return;

      /*
      isprogress_busi = await GetJobBusiJsonFromResumeStream();

      if (!isprogress_busi) {
        ai_summary_busi_stream.value = "";
        await AddLog('warning', '산업 직무 분석 실패(산업직무를 제외하고 진행합니다.)')
      }
      */
      

      //console.log(ai_summary_stream.value);
      //기본정보 추출(중복 확인을 위해)
      var candidate_result = await ConvertCandidateInfoOnly(ai_summary_stream.value);
      //console.log("ConvertCandidateCreateModel", isprogress, candidate_result)
      if (!candidate_result.result) {
        isprogress = false;
      }

      console.log(candidate_result.result)

      if (candidate_result.result) {
        var progress_flag = await FetchFindDuplicate(candidate_result.phone, candidate_result.email);
        //console.log("FetchFindDuplicate", isprogress)
        if (progress_flag >= 0) {
          if (progress_flag == 0) {
            if (candidate_result.company_name != "") {
              isprogress_busi = await GetBusiJsonFromResumeStream(candidate_result.company_name);
              //isprogress_busi = await GetBusiJsonFromResumeProxy(candidate_result.company_name);

              if (!isprogress_busi) {
                ai_summary_busi_stream.value = "";
                await AddLog('warning', '산업 분석 실패(산업을 제외하고 진행합니다.)')
              }
            } else {
              await AddLog('warning', '산업을 제안하기 위한 경력정보가 부족합니다.')
            }

            if (candidate_result.division_name != "" && candidate_result.company_name != "") {
              isprogress_job = await GetJobJsonFromResumeStream(candidate_result.company_name + " / " + candidate_result.division_name);
              //isprogress_job = await GetJobJsonFromResumeProxy(candidate_result.company_name + " / " + candidate_result.division_name);

              if (!isprogress_job) {
                ai_summary_job_stream.value = "";
                await AddLog('warning', '직무 분석 실패(직무를 제외하고 진행합니다.)')
              }
            } else {
              await AddLog('warning', '직무를 제안하기 위한 경력정보가 부족합니다.')
            }

            var rst = await ConvertCandidateCreateModel(ai_summary_stream.value, ai_summary_busi_stream.value, ai_summary_job_stream.value);
            console.log("RST", rst);
            if (!rst.result) {
              
            } else {
              await AddLog('success', '이력서 등록 준비 완료<br><button class="btn btn-success btn-block" id="btn-submit-candidate">이력서 등록하러 가기</button>');
            }

          } else {
            await AddLog('info', '업데이트 건에 대해서는 산업/직무 제안이 불가 합니다.')
            var rst = await ConvertCandidateCreateModel(ai_summary_stream.value);
            console.log("RST", rst);
            if (!rst.result) {

            } else {
              await AddLog('warning', '이력서 등록 준비 완료<br><button class="btn btn-warning btn-block" id="btn-submit-candidate">중복 후보자 무시하고 (신규)이력서 등록하러 가기</button><button class="btn btn-success btn-block" id="btn-update-candidate" data-c="' + progress_flag + '">이력서 업데이트</button>');
              var update = document.getElementById('btn-update-candidate').addEventListener('click', function (e) {
                e.preventDefault();
                var c_seq = document.getElementById('btn-update-candidate').getAttribute('data-c');
                form = document.getElementById('ai_resume_form')
                document.getElementById('c_seq_ai_form').value = c_seq;
                form.action = window.url_candidate_ai_update;
                form.submit();
              })
            }
          }
          var submit = document.getElementById('btn-submit-candidate').addEventListener('click', function (e) {
            e.preventDefault();
            form = document.getElementById('ai_resume_form');
            form.action = window.url_candidate_ai_create;
            form.submit();
          })

          ai_modal_title.innerHTML = "이력서 분석완료"
          ai_modal_contents.innerHTML = "이력서 분석이 완료 되었습니다.<br/>아래에 [이력서 등록하기] 버튼을 눌러 진행해주세요.<br/><span class='text-danger'>분석된 내용이 정확하지 않을 수 있습니다.<br/> 등록 하시기전 꼭 생성된 데이터가 정확한지 꼭 확인하신 후 등록해주세요.</span>"
          btn_cancel_result.style.display = "none";

          isprogress = true;
        } else {
          isprogress = false;
        }
      }





      //console.log("AddLog", isprogress)
    }

    function UploadProgressModal() {
      $('#upload_message').addClass('d-none');
      $('#modal_upload_progress').modal({
        backdrop: 'static',
        keyboard: false
      });
      $("#resume_upload_panel").addClass("position-relative");
      $('.modal-backdrop').appendTo('#resume_upload_panel');
      $('.modal-backdrop').css("position", "absolute");
      $('.modal-backdrop').css("z-index", "1000");
      $('.modal-backdrop').css("width", "100%");
      $('.modal-backdrop').css("height", "100%");
      $('#modal_upload_progress').css("position", "absolute");
      $('#modal_upload_progress').css("padding-left", "13px");
      $('#modal_upload_progress').css("padding-top", "10px");
      $('#modal_upload_progress').css("z-index", "1300");

      $('body').removeClass("modal-open");
      $('body').css("padding-right", "");
    }

    function SetFileInfo(response) {
      try {
        AddLog("info", "파일 내용 확인 중..");
        can_resume_info = response.result;
        can_resume_info.file_dir = "/" + can_resume_info.file_dir
        $('#uploadFolder').val(response.temp_folder);

        if (response.file_content == "") {
          throw "내용을 확인 할 수 없는 파일입니다.";
        }

        file_content.value = response.file_content

        AddLog("info", "파일 내용 확인 완료" + "<textarea class='form-control border-info' rows='5' readonly='true'>" + response.file_content + "</textarea>");
        return true;

      } catch (error) {
        AddLog("danger", "파일 내용 확인 중 오류 발생 " + error);
        return false;
      }



    }

    const GetJobBusiJsonFromResumeProxy = async () => {
      var result = true;
      const start_time = new Date();
      AddLog("info", "산업/직무 분석 준비..");
      AddLog("info", "ChatGPT를 통해 산업 직무 분석 중..<span id='generate_sec-busi'></span>" + "<textarea class='form-control border-info' id='openai-stream-busi' rows='10' readonly='true'></textarea>");
      var openai_stream_busi = document.getElementById("openai-stream-busi")
      controller2 = new AbortController();
      var signal2 = controller2.signal
      try {
        btn_cancel_result.disabled = false;
        openai_stream_busi.value = "산업/직무 분석 중..."
        const response = await fetch(API_URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${API_KEY}`,
          },
          body: JSON.stringify({
            model: "gpt-5-mini", //"gpt-4.1-mini",//"gpt-4o-mini",
            //temperature: 0,
            //top_p: 0,
            messages: [
              { role: "system", content: prompt_busi.value },
              { role: "user", content: document.getElementById("openai-stream").value }
            ],
            //stream: true,
          }),
          //signal2,
        });


        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        const data = await response.json();
        const message = data.choices[0].message.content
        ai_summary_busi_stream.value = message;
        openai_stream_busi.value = message;
        /*
        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");
        ai_summary_busi_stream.value = "";
        openai_stream_busi.value = "";


        let buffer = "";

        while (true) {
          let now = parseInt((new Date() - start_time) / 1000);
          document.getElementById('generate_sec-busi').innerText = '(' + now + ' 초 경과)';
          const { done, value } = await reader.read();
          if (done) {
            break;
          }

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop(); // 마지막 라인은 버퍼에 남겨둠

          const parsedLines = lines
            .map((line) => line.replace(/^data: /, "").trim()) // "data: " 접두사 제거
            .filter((line) => line !== "" && line !== "[DONE]"); // 빈 줄과 "[DONE]" 제거


          for (const line of parsedLines) {
            try {
              //console.log(line)
              const parsedLine = JSON.parse(line); // JSON 문자열 파싱
              const { choices } = parsedLine;
              const { delta } = choices[0];
              const { content } = delta;
              // Update the UI with the new content
              if (content) {
                ai_summary_busi_stream.value += content;
                openai_stream_busi.value += content;
                openai_stream_busi.scrollTop = openai_stream_busi.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          }

        }
        */
        AddLog("info", "파일 내용 분석 완료");
        result = true;
        //ConvertCandidateCreateModel(ai_summary_stream.value);
      } catch (error) {
        // Handle fetch request errors
        if (signal2.aborted) {
          AddLog("danger", "요청이 중지 되었습니다.");
        } else {
          console.error("Error:", error);
          ai_summary_busi_stream.value += "\n분석 중 오류가 발생하였습니다.\n내용:" + error;
        }
        result = false;
      } finally {
        btn_cancel_result.disabled = true;
        controller2 = null; // Reset the AbortController instance
      }

      return result
    }

    const GetJobBusiJsonFromResumeStream = async () => {
      var result = true;
      const start_time = new Date();
      AddLog("info", "산업/직무 분석 준비..");
      AddLog("info", "ChatGPT를 통해 산업 직무 분석 중..<span id='generate_sec-busi'></span>" + "<textarea class='form-control border-info' id='openai-stream-busi' rows='10' readonly='true'></textarea>");
      var openai_stream_busi = document.getElementById("openai-stream-busi")
      controller2 = new AbortController();
      var signal2 = controller2.signal
      try {
        btn_cancel_result.disabled = false;
        openai_stream_busi.value = "산업/직무 분석 중..."
        const response = await fetch(API_URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${API_KEY}`,
          },
          body: JSON.stringify({
            model: "gpt-5-mini", //"gpt-4.1-mini",//"gpt-4o-mini",
            //temperature: 0,
            //top_p: 0,
            messages: [
              { role: "system", content: prompt_busi.value },
              { role: "user", content: document.getElementById("openai-stream").value }
            ],
            stream: true,
          }),
          signal2,
        });


        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        
        
        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");
        ai_summary_busi_stream.value = "";
        openai_stream_busi.value = "";
        
       
        let buffer = "";

        while (true) {
          let now = parseInt((new Date() - start_time) / 1000);
          document.getElementById('generate_sec-busi').innerText = '(' + now + ' 초 경과)';
          const { done, value } = await reader.read();
          if (done) {
            break;
          }

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop(); // 마지막 라인은 버퍼에 남겨둠

          const parsedLines = lines
            .map((line) => line.replace(/^data: /, "").trim()) // "data: " 접두사 제거
            .filter((line) => line !== "" && line !== "[DONE]"); // 빈 줄과 "[DONE]" 제거


          for (const line of parsedLines) {
            try {
              //console.log(line)
              const parsedLine = JSON.parse(line); // JSON 문자열 파싱
              const { choices } = parsedLine;
              const { delta } = choices[0];
              const { content } = delta;
              // Update the UI with the new content
              if (content) {
                ai_summary_busi_stream.value += content;
                openai_stream_busi.value += content;
                openai_stream_busi.scrollTop = openai_stream_busi.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          }

        }
        
        AddLog("info", "파일 내용 분석 완료");
        result = true;
        //ConvertCandidateCreateModel(ai_summary_stream.value);
      } catch (error) {
        // Handle fetch request errors
        if (signal2.aborted) {
          AddLog("danger", "요청이 중지 되었습니다.");
        } else {
          console.error("Error:", error);
          ai_summary_busi_stream.value += "\n분석 중 오류가 발생하였습니다.\n내용:" + error;
        }
        result = false;
      } finally {
        btn_cancel_result.disabled = true;
        controller2 = null; // Reset the AbortController instance
      }

      return result
    }

    const GetBusiJsonFromResumeProxy = async (company_name) => {
      var result = true;
      const start_time = new Date();
      AddLog("info", "[" + company_name + "] 회사에 대한 산업 분석 준비..");
      AddLog("info", "ChatGPT를 통해 산업 분석 중..<span id='generate_sec-busi'></span>" + "<textarea class='form-control border-info' id='openai-stream-busi' rows='10' readonly='true'></textarea>");
      var openai_stream_busi = document.getElementById("openai-stream-busi")
      controller2 = new AbortController();
      var signal2 = controller2.signal
      try {
        btn_cancel_result.disabled = false;
        openai_stream_busi.value = "산업 분석 중..."
        const response = await fetch(API_URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${API_KEY}`,
          },
          body: JSON.stringify({
            model: "gpt-5-mini", //"gpt-4.1-mini",//"gpt-4o-mini",
            //temperature: 0,
            //top_p: 0,
            messages: [
              { role: "system", content: prompt_busi.value },
              { role: "user", content: company_name }
            ],
            //stream: true,
          }),
          //signal2,
        });


        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        const data = await response.json();
        const message = data.choices[0].message.content
        ai_summary_busi_stream.value = message;
        openai_stream_busi.value = message;

        /*
        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");
        ai_summary_busi_stream.value = "";
        openai_stream_busi.value = "";
        let buffer = "";

        while (true) {
          let now = parseInt((new Date() - start_time) / 1000);
          document.getElementById('generate_sec-busi').innerText = '(' + now + ' 초 경과)';
          const { done, value } = await reader.read();
          if (done) {
            break;
          }

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop(); // 마지막 라인은 버퍼에 남겨둠

          const parsedLines = lines
            .map((line) => line.replace(/^data: /, "").trim()) // "data: " 접두사 제거
            .filter((line) => line !== "" && line !== "[DONE]"); // 빈 줄과 "[DONE]" 제거


          for (const line of parsedLines) {
            try {
              //console.log(line)
              const parsedLine = JSON.parse(line); // JSON 문자열 파싱
              const { choices } = parsedLine;
              const { delta } = choices[0];
              const { content } = delta;
              // Update the UI with the new content
              if (content) {
                ai_summary_busi_stream.value += content;
                openai_stream_busi.value += content;
                openai_stream_busi.scrollTop = openai_stream_busi.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          }

        }
        */
        AddLog("info", "파일 내용 분석 완료");
        result = true;
        //ConvertCandidateCreateModel(ai_summary_stream.value);
      } catch (error) {
        // Handle fetch request errors
        if (signal2.aborted) {
          AddLog("danger", "요청이 중지 되었습니다.");
        } else {
          console.error("Error:", error);
          ai_summary_busi_stream.value += "\n분석 중 오류가 발생하였습니다.\n내용:" + error;
        }
        result = false;
      } finally {
        btn_cancel_result.disabled = true;
        controller2 = null; // Reset the AbortController instance
      }

      return result
    }

    const GetBusiJsonFromResumeStream = async (company_name) => {
      var result = true;
      const start_time = new Date();
      AddLog("info", "[" + company_name + "] 회사에 대한 산업 분석 준비..");
      AddLog("info", "ChatGPT를 통해 산업 분석 중..<span id='generate_sec-busi'></span>" + "<textarea class='form-control border-info' id='openai-stream-busi' rows='10' readonly='true'></textarea>");
      var openai_stream_busi = document.getElementById("openai-stream-busi")
      controller2 = new AbortController();
      var signal2 = controller2.signal
      try {
        btn_cancel_result.disabled = false;
        openai_stream_busi.value = "산업 분석 중..."
        const response = await fetch(API_URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${API_KEY}`,
          },
          body: JSON.stringify({
            model: "gpt-5-mini", //"gpt-4.1-mini",//"gpt-4o-mini",
            //temperature: 0,
            //top_p: 0,
            messages: [
              { role: "system", content: prompt_busi.value },
              { role: "user", content: company_name }
            ],
            stream: true,
          }),
          signal2,
        });


        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }


        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");
        ai_summary_busi_stream.value = "";
        openai_stream_busi.value = "";
        let buffer = "";

        while (true) {
          let now = parseInt((new Date() - start_time) / 1000);
          document.getElementById('generate_sec-busi').innerText = '(' + now + ' 초 경과)';
          const { done, value } = await reader.read();
          if (done) {
            break;
          }

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop(); // 마지막 라인은 버퍼에 남겨둠

          const parsedLines = lines
            .map((line) => line.replace(/^data: /, "").trim()) // "data: " 접두사 제거
            .filter((line) => line !== "" && line !== "[DONE]"); // 빈 줄과 "[DONE]" 제거


          for (const line of parsedLines) {
            try {
              //console.log(line)
              const parsedLine = JSON.parse(line); // JSON 문자열 파싱
              const { choices } = parsedLine;
              const { delta } = choices[0];
              const { content } = delta;
              // Update the UI with the new content
              if (content) {
                ai_summary_busi_stream.value += content;
                openai_stream_busi.value += content;
                openai_stream_busi.scrollTop = openai_stream_busi.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          }

        }
        AddLog("info", "파일 내용 분석 완료");
        result = true;
        //ConvertCandidateCreateModel(ai_summary_stream.value);
      } catch (error) {
        // Handle fetch request errors
        if (signal2.aborted) {
          AddLog("danger", "요청이 중지 되었습니다.");
        } else {
          console.error("Error:", error);
          ai_summary_busi_stream.value += "\n분석 중 오류가 발생하였습니다.\n내용:" + error;
        }
        result = false;
      } finally {
        btn_cancel_result.disabled = true;
        controller2 = null; // Reset the AbortController instance
      }

      return result
    }

    const GetJobJsonFromResumeProxy = async (company_division) => {
      var result = true;
      const start_time = new Date();
      AddLog("info", "[" + company_division + "] 회사와 부서에 대한 직무 분석 준비..");
      AddLog("info", "ChatGPT를 통해 직무 분석 중..<span id='generate_sec-job'></span>" + "<textarea class='form-control border-info' id='openai-stream-job' rows='10' readonly='true'></textarea>");
      var openai_stream_job = document.getElementById("openai-stream-job")
      controller2 = new AbortController();
      var signal2 = controller2.signal
      try {
        btn_cancel_result.disabled = false;
        openai_stream_job.value = "직무 분석 중..."
        const response = await fetch(API_URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${API_KEY}`,
          },
          body: JSON.stringify({
            model: "gpt-5-mini", //"gpt-4.1-mini",//"gpt-4o-mini",
            //temperature: 0,
            //top_p: 0,
            messages: [
              { role: "system", content: prompt_job.value },
              { role: "user", content: company_division }
            ],
            //stream: true,
          }),
          //signal2,
        });


        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        const data = await response.json();
        const message = data.choices[0].message.content
        ai_summary_job_stream.value = message;
        openai_stream_job.value = message;
       
        /*
        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");
        ai_summary_job_stream.value = "";
        openai_stream_job.value = "";
        let buffer = "";

        while (true) {
          let now = parseInt((new Date() - start_time) / 1000);
          document.getElementById('generate_sec-job').innerText = '(' + now + ' 초 경과)';
          const { done, value } = await reader.read();
          if (done) {
            break;
          }

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop(); // 마지막 라인은 버퍼에 남겨둠

          const parsedLines = lines
            .map((line) => line.replace(/^data: /, "").trim()) // "data: " 접두사 제거
            .filter((line) => line !== "" && line !== "[DONE]"); // 빈 줄과 "[DONE]" 제거


          for (const line of parsedLines) {
            try {
              //console.log(line)
              const parsedLine = JSON.parse(line); // JSON 문자열 파싱
              const { choices } = parsedLine;
              const { delta } = choices[0];
              const { content } = delta;
              // Update the UI with the new content
              if (content) {
                ai_summary_job_stream.value += content;
                openai_stream_job.value += content;
                openai_stream_job.scrollTop = openai_stream_job.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          }

        }
        AddLog("info", "파일 내용 분석 완료");
        */
        result = true;
        //ConvertCandidateCreateModel(ai_summary_stream.value);
      } catch (error) {
        // Handle fetch request errors
        if (signal2.aborted) {
          AddLog("danger", "요청이 중지 되었습니다.");
        } else {
          console.error("Error:", error);
          ai_summary_job_stream.value += "\n분석 중 오류가 발생하였습니다.\n내용:" + error;
        }
        result = false;
      } finally {
        btn_cancel_result.disabled = true;
        controller2 = null; // Reset the AbortController instance
      }

      return result
    }


    const GetJobJsonFromResumeStream = async (company_division) => {
      var result = true;
      const start_time = new Date();
      AddLog("info", "[" + company_division + "] 회사와 부서에 대한 직무 분석 준비..");
      AddLog("info", "ChatGPT를 통해 직무 분석 중..<span id='generate_sec-job'></span>" + "<textarea class='form-control border-info' id='openai-stream-job' rows='10' readonly='true'></textarea>");
      var openai_stream_job = document.getElementById("openai-stream-job")
      controller2 = new AbortController();
      var signal2 = controller2.signal
      try {
        btn_cancel_result.disabled = false;
        openai_stream_job.value = "직무 분석 중..."
        const response = await fetch(API_URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${API_KEY}`,
          },
          body: JSON.stringify({
            model: "gpt-5-mini", //"gpt-4.1-mini",//"gpt-4o-mini",
            //temperature: 0,
            //top_p: 0,
            messages: [
              { role: "system", content: prompt_job.value },
              { role: "user", content: company_division }
            ],
            stream: true,
          }),
          signal2,
        });


        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }


        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");
        ai_summary_job_stream.value = "";
        openai_stream_job.value = "";
        let buffer = "";

        while (true) {
          let now = parseInt((new Date() - start_time) / 1000);
          document.getElementById('generate_sec-job').innerText = '(' + now + ' 초 경과)';
          const { done, value } = await reader.read();
          if (done) {
            break;
          }

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop(); // 마지막 라인은 버퍼에 남겨둠

          const parsedLines = lines
            .map((line) => line.replace(/^data: /, "").trim()) // "data: " 접두사 제거
            .filter((line) => line !== "" && line !== "[DONE]"); // 빈 줄과 "[DONE]" 제거


          for (const line of parsedLines) {
            try {
              //console.log(line)
              const parsedLine = JSON.parse(line); // JSON 문자열 파싱
              const { choices } = parsedLine;
              const { delta } = choices[0];
              const { content } = delta;
              // Update the UI with the new content
              if (content) {
                ai_summary_job_stream.value += content;
                openai_stream_job.value += content;
                openai_stream_job.scrollTop = openai_stream_job.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          }

        }
        AddLog("info", "파일 내용 분석 완료");
        result = true;
        //ConvertCandidateCreateModel(ai_summary_stream.value);
      } catch (error) {
        // Handle fetch request errors
        if (signal2.aborted) {
          AddLog("danger", "요청이 중지 되었습니다.");
        } else {
          console.error("Error:", error);
          ai_summary_job_stream.value += "\n분석 중 오류가 발생하였습니다.\n내용:" + error;
        }
        result = false;
      } finally {
        btn_cancel_result.disabled = true;
        controller2 = null; // Reset the AbortController instance
      }

      return result
    }

    const GenerateJsonFromResumeProxy = async () => {
      var result = true;
      const start_time = new Date();
      AddLog("info", "파일 내용 분석 준비..");
      AddLog("info", "ChatGPT를 통해 내용 분석 중..<span id='generate_sec'></span>" + "<textarea class='form-control border-info' id='openai-stream' rows='10' readonly='true'></textarea>");
      var openai_stream = document.getElementById("openai-stream")
      controller = new AbortController();
      var signal = controller.signal
      try {
        btn_cancel_result.disabled = false;
        openai_stream.value = "내용 분석 중..."
        const response = await fetch(API_URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${API_KEY}`,
          },
          body: JSON.stringify({
            model: "gpt-5-mini", //"gpt-4.1-mini",//"gpt-4o-mini",
            //temperature: 0,
            //top_p: 0,
            messages: [
              { role: "system", content: prompt.value },
              { role: "user", content: file_content.value }
            ],
            //stream: true,
          }),
          //signal,
        });


        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }

        const data = await response.json();
        const message = data.choices[0].message.content
        ai_summary_stream.value = message;
        openai_stream.value = message;
       
        /*
        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");
        ai_summary_stream.value = "";
        openai_stream.value = "";
        let buffer = "";

        while (true) {
          let now = parseInt((new Date() - start_time) / 1000);
          document.getElementById('generate_sec').innerText = '(' + now + ' 초 경과)';
          const { done, value } = await reader.read();
          if (done) {
            break;
          }

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop(); // 마지막 라인은 버퍼에 남겨둠

          const parsedLines = lines
            .map((line) => line.replace(/^data: /, "").trim()) // "data: " 접두사 제거
            .filter((line) => line !== "" && line !== "[DONE]"); // 빈 줄과 "[DONE]" 제거


          for (const line of parsedLines) {
            try {
              //console.log(line)
              const parsedLine = JSON.parse(line); // JSON 문자열 파싱
              const { choices } = parsedLine;
              const { delta } = choices[0];
              const { content } = delta;
              // Update the UI with the new content
              if (content) {
                ai_summary_stream.value += content;
                openai_stream.value += content;
                openai_stream.scrollTop = openai_stream.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          }

        }
        */
        AddLog("info", "파일 내용 분석 완료");
        result = true;
        //ConvertCandidateCreateModel(ai_summary_stream.value);
      } catch (error) {
        // Handle fetch request errors
        if (signal.aborted) {
          AddLog("danger", "요청이 중지 되었습니다.");
        } else {
          console.error("Error:", error);
          ai_summary_stream.value += "\n분석 중 오류가 발생하였습니다.\n내용:" + error;
        }
        result = false;
      } finally {
        btn_cancel_result.disabled = true;
        controller = null; // Reset the AbortController instance
      }

      return result
    }

    const GenerateJsonFromResumeStream = async () => {
      var result = true;
      const start_time = new Date();
      AddLog("info", "파일 내용 분석 준비..");
      AddLog("info", "ChatGPT를 통해 내용 분석 중..<span id='generate_sec'></span>" + "<textarea class='form-control border-info' id='openai-stream' rows='10' readonly='true'></textarea>");
      var openai_stream = document.getElementById("openai-stream")
      controller = new AbortController();
      var signal = controller.signal
      try {
        btn_cancel_result.disabled = false;
        openai_stream.value = "내용 분석 중..."
        const response = await fetch(API_URL, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${API_KEY}`,
          },
          body: JSON.stringify({
            model: "gpt-5-mini", //"gpt-4.1-mini",//"gpt-4o-mini",
            //temperature: 0,
            //top_p: 0,
            messages: [
              { role: "system", content: prompt.value },
              { role: "user", content: file_content.value }
            ],
            stream: true,
          }),
          signal,
        });


        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }


        const reader = response.body.getReader();
        const decoder = new TextDecoder("utf-8");
        ai_summary_stream.value = "";
        openai_stream.value = "";
        let buffer = "";

        while (true) {
          let now = parseInt((new Date() - start_time) / 1000);
          document.getElementById('generate_sec').innerText = '(' + now + ' 초 경과)';
          const { done, value } = await reader.read();
          if (done) {
            break;
          }

          buffer += decoder.decode(value, { stream: true });

          const lines = buffer.split("\n\n");
          buffer = lines.pop(); // 마지막 라인은 버퍼에 남겨둠

          const parsedLines = lines
            .map((line) => line.replace(/^data: /, "").trim()) // "data: " 접두사 제거
            .filter((line) => line !== "" && line !== "[DONE]"); // 빈 줄과 "[DONE]" 제거


          for (const line of parsedLines) {
            try {
              //console.log(line)
              const parsedLine = JSON.parse(line); // JSON 문자열 파싱
              const { choices } = parsedLine;
              const { delta } = choices[0];
              const { content } = delta;
              // Update the UI with the new content
              if (content) {
                ai_summary_stream.value += content;
                openai_stream.value += content;
                openai_stream.scrollTop = openai_stream.scrollHeight;
              }
            } catch (error) {
              console.error('JSON 파싱 오류:', error);
            }
          }

        }
        AddLog("info", "파일 내용 분석 완료");
        result = true;
        //ConvertCandidateCreateModel(ai_summary_stream.value);
      } catch (error) {
        // Handle fetch request errors
        if (signal.aborted) {
          AddLog("danger", "요청이 중지 되었습니다.");
        } else {
          console.error("Error:", error);
          ai_summary_stream.value += "\n분석 중 오류가 발생하였습니다.\n내용:" + error;
        }
        result = false;
      } finally {
        btn_cancel_result.disabled = true;
        controller = null; // Reset the AbortController instance
      }

      return result
    }

    function AddLog(type, contents) {
      if (!type) {
        type = "info";
      }
      var event_time = "[" + new Date().toISOString() + "]";
      var reset_btn = '';
      if (type == "danger") {
        reset_btn = '<button class="btn btn-primary" onclick="ResetUploadPage();">다시 업로드 하기</button> ';
      }
      var card = `<div class='card border border-${type} shadow'>
                                <div class="card-block text-${type} py-2 ">
                                  <span class='text-dark'>${event_time}</span><br/>
                                  ${contents}
                                </div>
                                ${reset_btn}
                              </div>`;
      let temp = document.createElement("div");
      temp.innerHTML = card;
      temp.style.opacity = '0';
      temp.style.transition = 'opacity 500ms';
      document.getElementById('ai_upload_log').prepend(temp);

      setInterval(() => temp.style.opacity = '1', 100);

      if (type == "danger") {
        ai_modal_title.innerText = "오류발생 / 중지";
        ai_modal_contents.innerHTML = contents.replace(/\\n/gi, "<br/>");
        btn_cancel_result.style.display = "none";
      }
    }

    btn_cancel_result.addEventListener('click', function () {
      if (controller) {
        controller.abort();
        controller = null;
      }
    })

    function ResetUploadPage() {
      alertify.confirm()
        .set({
          'labels': { ok: 'OK', cancel: 'Cancel' },
          'onok': function () {
            location.reload();
          },
          'oncancel': function () {
            return;
          },
        })
        .setting({
          message: "업로드 화면을 초기화 하시겠습니까?",
        })
        .show();

    }

    const ConvertCandidateInfoOnly= async (data1) => {
      AddLog("info", "분석된 이력서 내용에서 중복확인을 위한 개인정보 추출...");
      try {
        //console.log(typeof (data1), data1, typeof (data2), data2);
        if (data1) {
          if (typeof (data1) == "string") {
            data1 = data1.replace(/json/, "").replace(/```/gi, "")
          }
          //var data = Object.assign({}, data1);
          var data = JSON.parse(data1);
        } else {
          var data = JSON.parse($('#ai_summary_stream').val());
        }
        //console.log(data);
      } catch (error) {
        console.error(error)
        AddLog("danger", "데이터 변환 중 오류가 발생했습니다. <br/>분석된 데이터가 올바르지 않거나 서버오류가 발생했을 가능성이 있습니다.<br/>" + error);
        return;
      }

      try {

        var tempData = {
          cell_phone: data?.cell_phone ?? '',
          phone: data?.phone ?? '',
          email1: data?.email1 ?? '',
          email2: data?.email2 ?? '',
          company_name: '',
          division_name : ''
        };

        if (data.companyList?.length >= 1) {

          for (var exp_i = 0; exp_i < 1; exp_i++) {
            
            if (data.companyList[exp_i]?.company_name != "" && data.companyList[exp_i]?.company_name != null) {
              tempData.company_name = data.companyList[exp_i].company_name
            }

            if (data.companyList[exp_i]?.division_name != "" && data.companyList[exp_i]?.division_name != null) {
              tempData.division_name = data.companyList[exp_i].division_name
            }
          }
        }

        AddLog("info", "개인정보 추출 완료");

        return {
          result: true,
          phone: tempData.cell_phone,
          email: tempData.email1,
          company_name: tempData.company_name,
          division_name: tempData.division_name
        }

        //$('#btn_ai_create').click();
      } catch (error) {
        console.error(error)
        AddLog("danger", "데이터 변환 중 오류가 발생했습니다.<br/>올바르지 않은 데이터가 포함되어 있을 가능성이 있습니다.<br/>" + error);
      }
    }

    const ConvertCandidateCreateModel = async (data1, data2, data3) => {
      AddLog("info", "분석된 이력서 내용을 유니비전 데이터로 변환 시도 중...");
      try {
        //console.log(typeof (data1), data1, typeof (data2), data2);
        if (data1) {
          if (typeof (data1) == "string") {
            data1 = data1.replace(/json/, "").replace(/```/gi, "")
          }
          //var data = Object.assign({}, data1);
          var data = JSON.parse(data1);
        } else {
          var data = JSON.parse($('#ai_summary_stream').val());
        }
        try {
          if (data2) {
            if (typeof (data2) == "string") {
              data2 = data2.replace(/json/, "").replace(/```/gi, "")
            }
            //var data = Object.assign({}, data1);
            var data_busi = JSON.parse(data2);
          } else {
            var data_busi = JSON.parse($('#ai_summary_busi_stream').val());
          }
        } catch (error) {
          if (data2 != "") {
            console.error(error)
            AddLog("warning", "산업 분석 데이터 변환 중 오류가 발생했습니다. <br/>산업 제안 없이 진행됩니다..<br/>" + error);
          }
          data_busi = {}
        }

        try {
          if (data3) {
            if (typeof (data3) == "string") {
              data3 = data3.replace(/json/, "").replace(/```/gi, "")
            }
            //var data = Object.assign({}, data1);
            var data_job = JSON.parse(data3);
          } else {
            var data_job = JSON.parse($('#ai_summary_job_stream').val());
          }
        } catch (error) {
          if (data3 != "") {
            console.error(error)
            AddLog("warning", "직무 분석 데이터 변환 중 오류가 발생했습니다. <br/>직무 제안 없이 진행됩니다..<br/>" + error);
          }
          data_busi = {}
        }

        //console.log(data);
      } catch (error) {
        console.error(error)
        AddLog("danger", "데이터 변환 중 오류가 발생했습니다. <br/>분석된 데이터가 올바르지 않거나 서버오류가 발생했을 가능성이 있습니다.<br/>" + error);
        return;
      }

      try {

        if (data?.birth_date != "") {
          var birth = data.birth_date;
          if (birth.length == 4) {
            birth = birth + "-01-01";
          } else if (birth.substring(5) == "00-00") {
            birth = birth.substring(0, 5) + "01-01";
          }
        }

        var currentData = {
          c_seq: 0,
          kor_name: data?.kor_name ?? '',
          eng_name: data?.eng_name ?? '',
          birth_date: birth ?? '',
          gender: data?.gender ?? 0,
          //ex_birthdate: data?.birthdate ?? 1,
          country_code: data?.country_cd ?? 'KR',
          country_name: data?.country_name ?? '한국',
          addr1: data?.addr1 ?? '',
          ex_addr: data?.ex_addr ?? 0,
          cell_phone: data?.cell_phone ?? '',
          phone: data?.phone ?? '',
          email1: data?.email1 ?? '',
          email2: data?.email2 ?? '',
          sns_link1: data?.sns_link1 ?? '',
          //keyword: data?.keyword,
          //hope_salary: data?.hope_salary,
          //hope_salary2: data?.hope_salary2,
          schoolList: [],
          companyList: [],
          //placeList: [],
          //jobList: [],
          //busiList: [],
          foreignList: [],
          resumeList: [],
          gpt_jobList: [],
          gpt_busiList: []
        };

        if (data.schoolList?.length >= 1) {

          for (var edu_i = 0; edu_i < data.schoolList.length; edu_i++) {
            var school = {};

            if (data.schoolList[edu_i]?.gubun == "1")
              continue;

            school.gubun = data.schoolList[edu_i]?.gubun ?? "3";

            if (data.schoolList[edu_i]?.schoolName != "" && data.schoolList[edu_i]?.schoolName != null) {
              school.schoolName = data.schoolList[edu_i].schoolName
            }
            if (data.schoolList[edu_i]?.major_name != "" && data.schoolList[edu_i]?.major_name != null) {
              school.major_name = data.schoolList[edu_i].major_name
            }
            if (data.schoolList[edu_i]?.admission_year != "" && data.schoolList[edu_i]?.admission_year != null) {
              var edu_st = data.schoolList[edu_i].admission_year;
              if (edu_st.length == 4) {
                edu_st = edu_st + "-01";
              }
              else if (edu_st.substring(5) == "00") {
                edu_st = edu_st.substring(0, 5) + "01";
              }
              school.admission_year = edu_st.replace(".", "-");
            }

            if (data.schoolList[edu_i]?.graduate_year != "" && data.schoolList[edu_i]?.graduate_year != null) {
              var edu_ed = data.schoolList[edu_i].graduate_year;
              if (edu_ed.length == 4) {
                edu_ed = edu_ed + "-01";
              }
              else if (edu_ed.substring(5) == "00") {
                edu_ed = edu_ed.substring(0, 5) + "01";
              }

              school.graduate_year = edu_ed.replace(".", "-");
            }

            currentData.schoolList.push(school);
          }
        }


        if (data.companyList?.length >= 1) {

          for (var exp_i = 0; exp_i < data.companyList.length; exp_i++) {
            var company = {};
            if (data.companyList[exp_i]?.company_name != "" && data.companyList[exp_i]?.company_name != null) {
              company.company_name = data.companyList[exp_i].company_name
            }

            if (data.companyList[exp_i]?.division_name != "" && data.companyList[exp_i]?.division_name != null) {
              company.division_name = data.companyList[exp_i].division_name
            }

            if (data.companyList[exp_i]?.join_dt != "" && data.companyList[exp_i]?.join_dt != null) {
              var exp_st = data.companyList[exp_i].join_dt;
              if (exp_st.length == 4) {
                exp_st = exp_st + "-01";
              }
              else if (exp_st.substring(5) == "00") {
                exp_st = exp_st.substring(0, 5) + "01";
              }
              company.join_dt = exp_st.replace(".", "-");
            }

            if (data.companyList[exp_i]?.leave_dt != "" && data.companyList[exp_i]?.leave_dt != null) {
              var exp_ed = data.companyList[exp_i].leave_dt;
              if (exp_ed.length == 4) {
                exp_ed = exp_ed + "-01";
              }
              else if (exp_ed.substring(5) == "00") {
                exp_ed = exp_ed.substring(0, 5) + "01";
              }

              company.leave_dt = exp_ed.replace(".", "-");
            } else {
              if (exp_i == 0 && company.join_dt != "") {
                company.is_work = 1;
              }
            }




            currentData.companyList.push(company);
          }
        }
        /*
        if (data.foreignList?.length >= 1) {
          for (var fore_i = 0; fore_i < data.foreignList.length; fore_i++) {
            var foreign = {};
            if (data.foreignList[fore_i]?.code != "" && data.foreignList[fore_i]?.code != null) {
              foreign.code = data.foreignList[fore_i].code
            }
            if (data.foreignList[fore_i]?.ability != "" && data.foreignList[fore_i]?.ability != null) {
              foreign.ability = data.foreignList[fore_i].ability
              if (foreign.ability < 3) {
                currentData.foreignList.push(foreign);
              }
            }
          }
        }
        */

        if (can_resume_info?.file_type === "") {
          can_resume_info.file_type = data?.type || 'K';
        }

        if (data_busi?.business?.length >= 1) {
          for (var busi_i = 0; busi_i < data_busi.business.length; busi_i++) {
            var business = {};
            if (data_busi.business[busi_i]?.code1 != "" && data_busi.business[busi_i]?.code1 != null) {
              business.code1 = parseInt(data_busi.business[busi_i].code1);
              business.code2 = parseInt(data_busi.business[busi_i].code2);
              business.code_name1 = data_busi.business[busi_i].code_name1;
              business.code_name2 = data_busi.business[busi_i].code_name2;
              business.reason = data_busi.business[busi_i].reason;
              currentData.gpt_busiList.push(business);
            }
          }
        }

        if (data_job?.job?.length >= 1) {
          for (var job_i = 0; job_i < data_job.job.length; job_i++) {
            var job = {};
            if (data_job.job[job_i]?.code1 != "" && data_job.job[job_i]?.code1 != null) {
              job.code1 = parseInt(data_job.job[job_i].code1);
              job.code2 = parseInt(data_job.job[job_i].code2);
              job.code_name1 = data_job.job[job_i].code_name1;
              job.code_name2 = data_job.job[job_i].code_name2;
              job.reason = data_job.job[job_i].reason;
              currentData.gpt_jobList.push(job);
            }
          }
        }

        currentData.resumeList.push(can_resume_info);
        $('#candidate_model').val(JSON.stringify(currentData));

        AddLog("info", "유니비전 데이터 변환 완료");
        return {
          result: true,
          phone: currentData.cell_phone,
          email: currentData.email1
        }

        //$('#btn_ai_create').click();
      } catch (error) {
        console.error(error)
        AddLog("danger", "데이터 변환 중 오류가 발생했습니다.<br/>올바르지 않은 데이터가 포함되어 있을 가능성이 있습니다.<br/>" + error);
      }
    }



    const FetchFindDuplicate = async (phone, email) => {
      if (phone == '' && email == '') {
        return 0;
      }

      AddLog("info", "분석된 정보 기반으로 중복 데이터 확인중...<br/>[" + phone + ", " + email + "]");
      var result = 1;
      await fetch(window.url_find_duplicate_candidate, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          phone: phone,
          email: email,
          except_c: 0,
        }),
      }).then((response) => response.json())
        .then((data) => {
          if (data.ok == true) {
            //console.log(data)
            if (data.candidate?.c_seq > 0) {
              AddLog("warning", "연락처가 중복되는 후보자가 있습니다.<p id='duplicate_info'></p>");

              var duplicate_info = document.getElementById('duplicate_info');
              var dup_html = `<div class="card border border-warning">
                            <div class="card-header card-header-transparent card-header-bordered">
                              중복후보자 정보
                            </div>
                            <div class="card-block">
                              <h4 class="card-title">${data.candidate?.kor_name}</h4>
                              <p class="card-text">
                                - ${data.candidate?.cell_phone}<br/>
                                - ${data.candidate?.email1}
                              </p>
                              <a href="/Candidate/CandidateDetail?c_seq=${data.candidate.c_seq}" class="btn btn-primary" target="_blank">상세페이지</a>
                            </div>
                          </div>`;
              let temp = document.createElement("div");
              temp.innerHTML = dup_html;
              duplicate_info.prepend(temp);
              result = data.candidate.c_seq;
            } else {
              AddLog("info", "중복 후보자 없음.");
              result = 0;
            }
          } else {
            AddLog("danger", "중복데이터 확인 중 오류가 발생했습니다.<br/>" + data.message);
            result = false;
          }
        })
        .catch((error) => {
          AddLog("danger", "중복데이터 확인 중 오류가 발생했습니다.<br/>" + error);
          console.error(error)
          result = -1;
        });

      return result;
    }

  </script>

}
