@model Univision.Core.Models.DTO.Response.Candidate.DirectorListViewModel
@{

  ViewBag.Title = "C-Level Search";
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.noJqueryUi = false;


  
}

<style>
  .extend-box {
    position: absolute !important;
    top: 1.9em;
    right: 1em;
  }

  .panel-body .input-search .form-control {
    border-radius: 2px;
  }

  .panel-body .form-control-label {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .panel-body .form-group {
    margin-bottom: 3px;
  }

  .panel {
    margin-bottom: 1rem;
  }

  .table thead th {
    font-weight: bold;
  }

  .bg-warning {
    background-color: #ab8000 !important;
  }

  .cd-border-list {
    border-left:1px solid #ddd;
    padding-left:5px;
  }
</style>
<link href="~/Libs/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/Libs/remark/base/assets/examples/css/pages/user.min599c.css?v4.0.4">
<div class="page-user">
  <div class="page-content">
    @using (Html.BeginForm("DirectorList", "Candidate", FormMethod.Get, new { @id = "SearchForm", @autocomplete = "off" }))
    {
      <div class="panel panel-primary panel-line animation-scale-up" style="animation-fill-mode:backwards; animation-duration: 250ms; animation-delay: 0ms;">
        <div class="panel-heading">
          <div class="panel-title">
            <i class="fas fa-search"></i>
            C-Level Search <small>(임원 조회)</small>
          </div>
          <div class="panel-actions w-md-p50">

            <div class="panel-action input-search w-full">

              <button type="submit" class="input-search-btn pr-20">
                <i class="icon wb-search" aria-hidden="true" title="Search"></i>
              </button>
              @Html.TextBoxFor(x => x.search.total, new { @class = "form-control", @placeholder = "통합검색 - 검색어 입력 (이름, 그룹, 회사 정보 등)" })

            </div>
          </div>

          <a class="panel-action icon wb-minus extend-box cur_hand" aria-expanded="true" data-toggle="panel-collapse" aria-hidden="true" title="Advanced Search">
          </a>

        </div>
        <div class="panel-body bg-grey-200">
          <!--검색 Form -->

          @Html.HiddenFor(x => x.search.orderTxt)
          @Html.HiddenFor(x => x.search.orderOption)
          @Html.Hidden("CurrentPage", Model.PagingInfo.CurrentPage, new { @id = "SearchForm_CurrentPage" })
          @Html.Hidden("ItemsPerPage", Model.PagingInfo.ItemsPerPage)
          <!-- 검색 패널 시작 -->
          <hr class="d-md-none d-block" />
          <div class="row">
            <div class="col-6 col-md-3">
              @Html.LabelFor(x => x.search.group_name, "그룹(Group)", new { @class = "form-control-label small" })
              <div class="form-group">
                @Html.TextBoxFor(x => x.search.group_name, new { @class = "form-control form-control-sm" })
              </div>
            </div>
            <div class="col-6 col-md-3">
              @Html.LabelFor(x => x.search.company, "현재회사(Company)", new { @class = "form-control-label small" })
              <div class="form-group">
                @Html.TextBoxFor(x => x.search.company, new { @class = "form-control form-control-sm" })
              </div>
            </div>
            <div class="col-6 col-md-3 col-lg-2">
              @Html.LabelFor(x => x.search.expr_type, "임원구분 ", new { @class = "form-control-label small" })
              <select id="search_expr_type" name="search.expr_type" class="form-control form-control-sm">
                <option value="" @(Model.search.expr_type == 0 ? "selected" : "")>전체</option>
                <option value="1" @(Model.search.expr_type == 1 ? "selected" : "")>사내</option>
                <option value="2" @(Model.search.expr_type == 2 ? "selected" : "")>사외</option>
                <option value="3" @(Model.search.expr_type == 3 ? "selected" : "")>일반</option>
              </select>
            </div>
            <div class="col-6 col-md-3 col-lg-2">
              @Html.LabelFor(x => x.search.od_type, "경력구분 ", new { @class = "form-control-label small" })
              <select id="search_od_type" name="search.od_type" class="form-control form-control-sm">
                <option value="0" @(Model.search.od_type == 0 ? "selected" : "")>전체</option>
                <option value="1" @(Model.search.od_type == 1 ? "selected" : "")>기업</option>
                <option value="2" @(Model.search.od_type == 2 ? "selected" : "")>행정</option>
                <option value="3" @(Model.search.od_type == 3 ? "selected" : "")>정치</option>
                <option value="4" @(Model.search.od_type == 4 ? "selected" : "")>학계</option>
                <option value="5" @(Model.search.od_type == 5 ? "selected" : "")>법조</option>
                <option value="6" @(Model.search.od_type == 6 ? "selected" : "")>언론</option>
                <option value="7" @(Model.search.od_type == 7 ? "selected" : "")>전문직</option>
                <option value="8" @(Model.search.od_type == 8 ? "selected" : "")>군인</option>
                <option value="9" @(Model.search.od_type == 9 ? "selected" : "")>기타</option>
              </select>
            </div>
          </div>
          <!-- 검색조건 첫째줄 시작 -->
          <div class="row">
            <div class="col-6 col-md-4 col-xxl-3">
              @Html.LabelFor(x => x.search.name, "이름(Name)", new { @class = "form-control-label small" })
              <div class="form-group">
                <div class="input-group input-group-sm">
                  @Html.TextBoxFor(x => x.search.name, new { @class = "form-control" })
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-xxl-3">
              @Html.LabelFor(x => x.search.startBirth, "생년(Year of Birth)", new { @class = "form-control-label small" })
              <div class="form-group">
                <div class="input-group input-group-sm">
                  @Html.TextBoxFor(x => x.search.startBirth, new { @class = "form-control", @type = "number", @placeholder = "YYYY" })
                  <div class="input-group-text pl-5 pr-5">
                    ~
                  </div>
                  @Html.TextBoxFor(x => x.search.endBirth, new { @class = "form-control", @type = "number", @placeholder = "YYYY" })
                </div>
              </div>
            </div>
            <div class="col-6 col-md-4 col-xxl-3">
              @Html.LabelFor(x => x.search.gender, "성별(Gender)", new { @class = "form-control-label small" })
              <div class="form-group form-inline">
                <div class="radio-custom radio-custom-sm radio-primary pr-3">
                  @Html.RadioButtonFor(x => x.search.gender, 0, new { @id = "search_gender_all", @class = "form-control-label small" })
                  <label for="search_gender_all">All</label>
                </div>
                <div class="radio-custom radio-custom-sm radio-primary pr-3">
                  @Html.RadioButtonFor(x => x.search.gender, 1, new { @id = "search_gender_male", @class = "form-control-label small" })
                  <label for="search_gender_male">Male</label>
                </div>
                <div class="radio-custom radio-custom-sm radio-primary">
                  @Html.RadioButtonFor(x => x.search.gender, 2, new { @id = "search_gender_female", @class = "form-control-label small" })
                  <label for="search_gender_female">Female</label>
                </div>
              </div>
            </div>
          </div>
          <!-- 검색조건 첫째줄 끝 -->
          <!-- 검색조건 둘째줄 시작 -->
          <div class="row">
            <div class="col-sm-6 col-md-5">
              @Html.LabelFor(x => x.search.school, "주요학력(Education)", new { @class = "form-control-label small" })
              <div class="form-group">
                @Html.TextBoxFor(x => x.search.school, new { @class = "form-control form-control-sm", placeholder = "주요학력 검색" })
              </div>
            </div>
            <div class="col-sm-6 col-md-5">
              @Html.LabelFor(x => x.search.keyword, "주요경력(Experience)", new { @class = "form-control-label small" })
              <div class="form-group">
                @Html.TextBoxFor(x => x.search.keyword, new { @class = "form-control form-control-sm", placeholder = "주요경력 검색" })
              </div>

            </div>

            <div class="col-md-6 col-xl-6">
            </div>
          </div>
          <!-- 검색조건 셋째줄 끝 -->
          <!-- 검색조건 넷째줄 시작 -->
          <div class="row">
            <div class="col-sm-6 col-md-5">
              <label class="form-control-label small">
                산업(Industry)
              </label>
              <div class="input-group input-group-sm redo-site" id="businessDiv">
                <div class="bg-white pl-5 pr-5 w-p100 form-inline codeBindDiv" id="busiCodeList">
                  @Html.Partial("PartialDirectorSearchBusiList", Model.search)
                </div>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-outline-primary" onclick="FindBusiness()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-outline-primary btn-redo-code">
                    <i class="fas fa-redo" placeholder="초기화"></i>
                  </button>
                </div>
              </div>

            </div>
            <div class="col-sm-6 col-md-5">
              <label class="form-control-label small">
                직무(Job Functions)
              </label>
              <div class="input-group input-group-sm redo-site" id="JobDiv">
                <div class="bg-white pl-5 pr-5 w-p100 form-inline codeBindDiv" id="jobCodeList">
                  @Html.Partial("PartialDirectorSearchJobList", Model.search)
                </div>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-outline-primary" onclick="javascript:FindJob()">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-outline-primary btn-redo-code">
                    <i class="fas fa-redo" placeholder="초기화"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- 검색조건 넷째줄 끝 -->
          <!-- 검색조건 다섯째줄 시작 -->
          <div class="row">

            <div class="col-sm-6 col-md-5">
              @Html.LabelFor(x => x.search.create_dt_start, "등록일(Reg.Date)", new { @class = "form-control-label small" })
              <div class="form-group">
                <div class="input-group input-group-sm">
                  @Html.TextBoxFor(x => x.search.create_dt_start, new { @class = "form-control date-time", @placeholder = "YYYY-MM-DD" })
                  <div class="input-group-text pl-5 pr-5">
                    ~
                  </div>
                  @Html.TextBoxFor(x => x.search.create_dt_end, new { @class = "form-control date-time", @placeholder = "YYYY-MM-DD" })
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-5">
              @Html.LabelFor(x => x.search.modify_dt_start, "수정일(Mod.Date)", new { @class = "form-control-label small" })
              <div class="form-group">
                <div class="input-group input-group-sm">
                  @Html.TextBoxFor(x => x.search.modify_dt_start, new { @class = "form-control date-time", @placeholder = "YYYY-MM-DD" })
                  <div class="input-group-text pl-5 pr-5">
                    ~
                  </div>
                  @Html.TextBoxFor(x => x.search.modify_dt_end, new { @class = "form-control date-time", @placeholder = "YYYY-MM-DD" })
                </div>
              </div>
            </div>
          </div>
          <!-- 검색조건 다섯째줄 끝 -->
          <!-- 검색조건 여섯째줄 시작 -->
          <div class="row">
            <div class="col pt-5">
              <div class="form-group text-right">
                <div class="btn-group">
                  <button type="submit" id="btnSearch" class="btn btn-sm btn-primary w-200" title="검색">
                    <i class="fas fa-search"></i>
                    Search
                  </button>
                  <button type="button" id="btnReset" class="btn btn-sm btn-danger" title="검색조건 초기화">
                    <i class="fas fa-redo"></i>
                    Reset
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- 검색조건 여섯째줄 끝 -->



        </div>
      </div>
    }
    <!-- 검색 패널 끝 -->


  <div class="text-right">
    <button type="button" onclick="location.href='@Url.Action("Directorcreate", "Candidate")';" class="btn-sm btn btn-success" title="Create C-Level"><i class="icon wb-user-add" aria-hidden="true"></i> 등록</button>
  </div>
    <button type="button" onclick="location.href='@Url.Action("Directorcreate", "Candidate")';" class="site-action btn-sm btn-raised btn btn-success btn-floating" title="Create C-Level"><i class="icon wb-user-add" aria-hidden="true"></i></button>
    <div class="panel">
      
      <div class="panel-body" id="panel_cd_list">

      </div>
    </div>

  </div>  

</div>
@section scripts{
  <script src="~/Libs/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src='~/Libs/selectize/js/standalone/selectize.js'></script>
  <script type="text/javascript" src="~/Scripts/FileDownload.js?v0.0.1"></script>

  <script type="text/javascript">
    window.multi_api_hidden_pretext = "search."
    BindDatePicker('.date-time');

    window.onpopstate = function (event) {
      //console.log(event, event.state , event.state.form_name , event.state.form_data , $(event.state.form_name) , event.state.title , document.title);
      if (event.state && event.state.form_name && event.state.form_data && $(event.state.form_name) && event.state.title == document.title) {
        event.preventDefault();
        $(event.state.form_name).deserialize(event.state.form_data)
        SetJobBusiAjx(event.state.form_data);

        Search();

      }
    };

    function SetJobBusiAjx(ddata) {
      ajxCall({
          url: '@Url.Action("PartialDirectorSearchBusiList")',
          data: ddata,
          dataType: 'html',
          suc: function (response) {
            $('#busiCodeList').empty();
            $('#busiCodeList').html(response);
          }
        })

        ajxCall({
          url: '@Url.Action("PartialDirectorSearchJobList")',
          data: ddata,
          dataType: 'html',
          suc: function (response) {
            $('#jobCodeList').empty();
            $('#jobCodeList').html(response);
          }
        })
    }

    jQuery.fn.deserialize = function (data) {
      var f = this,
        map = {},
        find = function (selector) { return f.is("form") ? f.find(selector) : f.filter(selector); };
      //Get map of values
      jQuery.each(data.split("&"), function () {
        var nv = this.split("="),
          n = decodeURIComponent(nv[0]),
          v = nv.length > 1 ? decodeURIComponent(nv[1]) : null;
        if (!(n in map)) {
          map[n] = [];
        }
        map[n].push(v);
      })
      //Set values for all form elements in the data
      jQuery.each(map, function (n, v) {
        find("[name='" + n + "']").val(v);
      })
      //Clear all form elements not in form data
      find("input:text,select,textarea").each(function () {
        if (!(jQuery(this).attr("name") in map)) {
          jQuery(this).val("");
        }
      })
      find("input:checkbox:checked,input:radio:checked").each(function () {
        if (!(jQuery(this).attr("name") in map)) {
          this.checked = false;
        }
      })
      return this;
    };

    jQuery.fn.serializeObject = function () {
      var obj = null;
      try {
        if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
          var arr = this.serializeArray();
          if (arr) {
            obj = {};
            jQuery.each(arr, function () {
              obj[this.name] = this.value;
            });
          }//if ( arr ) {
        }
      } catch (e) {
        alert(e.message);
      } finally {
      }

      return obj;
    };



    $('#SearchForm').submit(function () { //submit이 발생하면
      $('#SearchForm_CurrentPage').val(1);
      Search(true); //옵션값대로 ajax비동기 동작을 시키고
      return false; //기본 동작인 submit의 동작을 막아 페이지 reload를 막는다.
    });

    function SearchPaging(page) {
      $('#SearchForm_CurrentPage').val(page);
      Search(true);
    }

    function Search(pushstate) {
      var search_data = $('#SearchForm').serializeObject();
      var serial_data = $('#SearchForm').serialize().replace(/[^=&]+=(&|$)/g, "").replace(/&$/, "");

      ajxCall({
        url: '@Url.Action("DirectorAjxList", "Candidate")',
        data: search_data,
        dataType: 'html',
        type: 'POST',
        loading: true,
        loading_target: '.page-content',
        suc: function (response) {
          $('#panel_cd_list').empty();
          $('#panel_cd_list').html(response);
        },
        comp: function () {
          if(pushstate === true) {
            window.history.pushState({ title: document.title, form_name: '#SearchForm', form_data: serial_data }, document.title, "?replace=1&" + serial_data); //주소표시줄 업데이트
          } else {//  console.log("replace");
            window.history.replaceState({ title: document.title, form_name: '#SearchForm', form_data: serial_data }, document.title, "?replace=1&" + serial_data); //주소표시줄 업데이트
          }

        }
      })


    }

    function cd_order_set(field) {
      if ($('#search_orderTxt').val() == field) {
        if ($('#search_orderOption').val() == "DESC") {
          $('#search_orderOption').val("ASC");
        } else {
          $('#search_orderOption').val("DESC");
        }
      } else {
        $('#search_orderTxt').val(field);
        $('#search_orderOption').val("ASC");
      }
      Search(true);
    }

    function openCandidateDirector(val1) {
      var win_yn = true;
      if (document.getElementById("candidate_new_win"))
        var win_yn = document.getElementById("candidate_new_win").checked;
      var url = "/Candidate/DirectorDetail?d_seq=" + val1;

      if (win_yn) {
        var win = window.open(url + "&is_pop=1", "WIN_DIR_" + val1, "scrollbars=yes,resizable=yes,width=1200,height=750");
        win.focus();
      } else {
        document.location.href = url;
      }
    }

    function openCandidateExternalLock(c_seq) {
      alertify.confirm()
        .set({
          'labels': { ok: 'OK', cancel: 'Cancel' },
          'onok': function (e) {

            if (saveElementOpenLogToServer('@Univision.Security.AppIdentity.user_seq', c_seq, 'candidate', 'candidate', '', '')) {
              $.ajax({
                url: '@Url.Action("CandidateSingleList", "Candidate")',
                data: {
                  c_seq: c_seq
                },
                dataType: 'html',
                type: 'POST',
                beforeSend: function () {
                  showLoading('#cand_list_' + c_seq);
                },
                success: function (response) {
                  $('#cand_list_' + c_seq).html(response);
                },
                complete: function () {
                  hideLoading('#cand_list_' + c_seq);
                }
              })
            }
            else {
              return;
            }

          },
          'oncancel': function () {
            return;
          }
        })
        .setHeader('후보자 연락처 확인')
        .setting({
          message: "해당 후보자의 연락처를 확인하시겠습니까?<br />확인 시 연락처 확인 기록이 서버에 저장되며, 24시간 이내 동일정보는 별도 확인 없이 조회가 가능합니다."
        })
        .show();
    }

    //검색 초기화
    $("#btnReset").click(function () {
      location.href = '@Url.Action("DirectorList", "Candidate")';
    });

  

    

    //직무, 산업 검색 초기화 버튼 클릭.
    $(".btn-redo-code").click(function (e) {
      e.preventDefault();

      $(this).closest(".redo-site").find(".codeBindDiv").empty();

      //var dataField = $(this).closest(".redo-site");

      //$(dataField).find("input").each(function () {

      //    if ($(this).attr("type") == "hidden") {
      //        $(this).val("0");
      //    }
      //    else {
      //        $(this).val("");
      //    }
      //})
    })
    //학교검색 input에 Autocomplete 바인딩
    function BindSchoolAutocomplete($obj) {
      $obj.autocomplete({
        source: function (request, response) {
          $.ajax({
            type: 'post',
            url: '@Url.Action("FindSchoolApi2", "Partial")',
            dataType: "json",
            //request.term = $("#autocomplete").val()
            data: { schoolName: request.term },
            success: function (data) {
              //서버에서 json 데이터 response 후 목록에 뿌려주기 위함
              response(
                $.map(data.list, function (item) {

                  var schoolName = "";
                  if (item.campusName != undefined) {
                    schoolName = item.school_name + '(' + item.campus_name + ')';
                  }
                  else {
                    schoolName = item.school_name;
                  }

                  return {
                    label: schoolName,
                    value: item.school_name
                  }
                })
              );
              $(".ui-autocomplete").highlight(request.term);
            }
          });
        },
        delay: 300,
        autoFocus: false, //첫번째 값을 자동 focus한다
        minLength: 2,  //조회를 위한 최소글자수
        select: function (event, ui) {
          //console.log($(event.target).closest(".schoolRow").find("[id^=campusName_]"));
          $(event.target).closest(".schoolRow").find("[id^=campusName_]").val(ui.item.campusName);
          // 만약 검색리스트에서 선택하였을때 선택한 데이터에 의한 이벤트발생
          $(event.target).closest("div").next().find("input").focus();
        },
        focus: function (event, ui) {
          //event.target.value = ui.item.label;
          event.preventDefault();
        }
      });
    }
    //BindSchoolAutocomplete($('#search_school'));

    //전공검색 input에 Autocomplete 바인딩
    function BindMajorAutocomplete($obj) {
      $obj.autocomplete({
        source: function (request, response) {
          $.ajax({
            type: 'post',
            url: '@Url.Action("FindMajorApi", "Partial")',
            dataType: "json",
            //request.term = $("#autocomplete").val()
            data: { major_name: request.term },
            success: function (data) {
              //서버에서 json 데이터 response 후 목록에 뿌려주기 위함
              response(
                $.map(data.list, function (item) {
                  return {
                    label: item.major_name,
                    value: item.major_name,
                    category1_name: item.category1_name
                  }
                })
              );
              $(".ui-autocomplete").highlight(request.term);
            }
          });
        },
        delay: 300,
        autoFocus: false, //첫번째 값을 자동 focus한다
        minLength: 2,  //조회를 위한 최소글자수
        select: function (event, ui) {
          $(event.target).closest("div").next().find("input").focus();
        },
        focus: function (event, ui) {
          //event.target.value = ui.item.label;
          event.preventDefault();
        }
      });
    }
    //BindMajorAutocomplete($('#search_major'));

    //회사 찾기
    function BindCompanyAutocomplete($obj) {
      $obj.autocomplete({
        source: function (request, response) {
          $.ajax({
            type: 'post',
            url: '@Url.Action("FindCompanyApi", "Partial")',
            dataType: "json",
            //request.term = $("#autocomplete").val()
            data: {
              companyName: request.term
            },
            success: function (data) {
              //console.log(data)
              //서버에서 json 데이터 response 후 목록에 뿌려주기 위함
              response(
                $.map(data.list, function (item) {
                  //console.log(item);
                  return {
                    label: item.WKPL_NM,
                    value: item.WKPL_NM,
                    g_seq: item.G_SEQ,
                    rgstNo: item.BZOWR_RGST_NO,
                    busi: item.VLDT_VL_KRN_NM
                  }
                })
              );

              $(".ui-autocomplete").highlight(request.term);
            }
          });
        },
        autoFocus: false, //첫번째 값을 자동 focus한다
        minLength: 2,  //조회를 위한 최소글자수
        select: function (event, ui) {
          $(event.target).closest("div").find("input[name='g_seq']").val(ui.item.g_seq);
          // 만약 검색리스트에서 선택하였을때 선택한 데이터에 의한 이벤트발생
          $(event.target).closest("div").next().find("input").focus();
        },
        focus: function (event, ui) {
          //event.target.value = ui.item.label;
          event.preventDefault();
        }
      }).data("ui-autocomplete")._renderItem = function (ul, item) {

        return $("<li>")
          .data("ui-menu-item", item)
          .append("<div class='ui-menu-item-wrapper'><span class='font-size-12'>" + item.label + "</span></div>")
          .appendTo(ul);
      };
    }
    //BindCompanyAutocomplete($('#search_company'))

    //직무,산업 추가
    function FindBusiness() {
      busiCodeArr = [];

      $(".busiRow").each(function () {
        $(this).find(".badge").each(function () {

          //카테고리 직무에 하위 직무가 더 있다면
          if ($(this).closest(".busiRow").find(".badge").length > 1) {
            if ($(this).hasClass("busiCode2badge")) {
              return;
            }
          }

          var busi = {
            code1: $(this).attr("code1"),
            code2: $(this).attr("code2")
          };
          busiCodeArr.push(busi);
        });
      });

      $.ajax({
        url: '@Url.Action("BusinessMultiApi2", "Partial")',
        data: {

        },
        dataType: 'html',
        type: 'POST',
        beforeSend: function () {
          showLoading();
        }
      })
        .done(function (json) {
          hideLoading();

          $.fancybox.open({
            'content': json,
            'width': '640',
            'height': 'auto',
            'autoDimensions': false,
            'type': 'iframe',
            'autoSize': false,
            'title': 'Find Industry',
            helpers: {
              title: {
                type: 'inside',
                position: 'top'
              },
              overlay: {
                closeClick: false
              }
            }
          });
        })
        .fail(function (e) {
          hideLoading();
          ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
        });

    }

    function FindJob() {
      jobCodeArr = [];

      $(".jobRow").each(function () {
        $(this).find(".badge").each(function () {

          //카테고리 직무에 하위 직무가 더 있다면
          if ($(this).closest(".jobRow").find(".badge").length > 1) {
            if ($(this).hasClass("jobCode2badge")) {
              return;
            }
          }

          var busi = {
            code1: $(this).attr("code1"),
            code2: $(this).attr("code2")
          };
          jobCodeArr.push(busi);
        });
      });

      $.ajax({
        url: '@Url.Action("JobMultiApi2", "Partial")',
        data: {

        },
        dataType: 'html',
        type: 'POST',
        beforeSend: function () {
          showLoading();
        }
      })
        .done(function (json) {
          hideLoading();

          $.fancybox.open({
            'content': json,
            'width': '640',
            'height': 'auto',
            'autoDimensions': false,
            'type': 'iframe',
            'autoSize': false,
            'title': 'Find Job',
            helpers: {
              title: {
                type: 'inside',
                position: 'top'
              },
              overlay: {
                closeClick: false
              }
            }
          });
        })
        .fail(function (e) {
          hideLoading();
          ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
        });

    }

    //Favorite 등록(confirm)
    function CreateMyListConfirm(obj, c_seq) {


      //Modal 템플릿이 있고, 모달창이 열려있으면 넘어감
      if ($('#MyCandidateModifyModal').length > 0) {
        $('#MyCandidateModifyModal').parent().remove();
      }

      $('body').append($('<div>').load('/Modal/MyCandidateModal.html?v0.0.0', function () {
        $.ajax({
          url: '@Url.Action("MyCandidateAdd", "Candidate")',
          data: {
            c_seq: c_seq
          },
          dataType: 'html',
          type: 'GET',
          beforeSend: function () {
            showLoading();
          }
        })
          .done(function (view) {
            hideLoading();

            $("#MyCandidateModifyModal .modal-body").html(view)
            $('#MyCandidateModifyModal').modal('show');

          })
          .fail(function (e) {
            hideLoading();
            ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
            $('#MyCandidateModifyModal').modal('hide');
          });
      }));
    }

    //My List 등록

    //관심후보 등록을 위한 프로젝트 검색
    function PopupProject(c_seq) {
      $.ajax({
        url: '@Url.Action("SearchMyProject", "Candidate")',
        data: {
          search: {
            except_c_seq: c_seq,
            searchTxt: ""
          }
        },
        dataType: 'html',
        type: 'POST',
        beforeSend: function () {
          showLoading();
        }
      })
        .done(function (json) {
          hideLoading();

          $.fancybox.open({
            'content': json,
            'autoDimensions': true,
            'type': 'iframe',
            width: 800,
            scrolling: 'no',
            'autoSize': false,
            fitToView: true,
            'title': 'Add to Project',
            helpers: {
              title: {
                type: 'inside',
                position: 'top'
              },
              overlay: {
                closeClick: false
              }
            }
          });
        })
        .fail(function (e) {
          hideLoading();
          ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
        });
    }



    //Badge 카테고리 삭제.
    function DelCategoryBadge(obj) {

      $(obj).closest(".catRow").remove();
      reindexJobBusiness();
    }

    function reindexJobBusiness() {
      var i = 0
      $('#busiCodeList').find('.busiRow').each(function () {
        $(this).find('input').each(function () {

          $(this).attr('name', $(this).attr('name').replace(/\[[^\]]*\]/, '[' + (i) + ']'));

        });
        i++;
      })

      var i = 0
      $('#jobCodeList').find('.jobRow').each(function () {
        $(this).find('input').each(function () {

          $(this).attr('name', $(this).attr('name').replace(/\[[^\]]*\]/, '[' + (i) + ']'));

        });
        i++;
      })
    }



    Search();
  </script>

}
