@model Univision.Main.Models.Project.SearchProjectSearcherModel
<style>
    h3 {
        margin-top: 0px !important;
    }

    .fancybox-title {
        text-align: left !important;
    }
</style>

<div class="form-inline mb-10">
    @{

        var deptList = new SelectList(Model.deptList, "ud_seq", "ud_name").ToList();
        deptList.Insert(0, new SelectListItem { Value = "0", Text = "팀 선택" });
    }
    @Html.DropDownListFor(x => x.ud_seq, deptList, new { @class = "form-control col-md-3", @id="dbowner_detp" })
    <div class="input-group col-md-9 no-side-space">
        @Html.TextBoxFor(x => x.searchTxt, new { @class = "form-control", @placeholder = "Consultant 이름" })
        <button type="button" id="btnPopSearch" class="btn btn-primary" onclick="FancyBoxSearch();"><i class="fas fa-search" aria-hidden="true"></i></button>
    </div>
</div>
<div class="panel" style="margin-bottom:0px !important;" id="searchCandiManager">
    <div class="panel-body" style="padding: 5px 10px 5px 10px; max-height:287px; overflow-y:auto">
        <table class="table table-borderless table-hover">
            <thead class="text-center">
                <tr>
                    <th class="tbw60">팀명</th>
                    <th class="tbw40">Consultant 이름</th>
                    <th class="hidden-sm-down">연락처</th>
                </tr>
            </thead>
            <tbody class="text-center" style="vertical-align:middle;">
                @if (Model.list.Count > 0)
                {
                    foreach (var data in Model.list)
                    {
                        <tr onclick="SelectUser('@data.uv_seq', '@data.ud_name', '@data.name')" class="cur_hand">
                            <td>
                                @data.ud_name
                            </td>
                            <td>
                                @data.name
                            </td>
                            <td class="hidden-sm-down">
                                @data.hp
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">데이터가 없습니다.</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

<script type="text/javascript">

    
    $("#searchTxt").keydown(function (e) {
        if (e.keyCode == 13)
            $("#btnPopSearch").click();
        else
            return;
    });

 
    
    

    function SelectUser(uv_seq, ud_name, name) {

        $("#manager_seq").val(uv_seq);
        $("#manager_name").val(name);
        $.fancybox.close();
    };

    //FancyBox 팝업 내의 페이지 이동.
    function FancyBoxSearch() {

        $.ajax({
            url: '@Url.Action("SearchCandidateManager", "Candidate")',
            data: {
                ud_seq: $("#ud_seq").val()
                ,searchTxt: $("#searchTxt").val()
            },
            dataType: 'html',
            type: 'POST',
            beforeSend: function () {
                showLoading('#searchCandiManager');
            }
        })
        .done(function (view) {
            
            hideLoading('#searchCandiManager');
            $(".fancybox-inner").html(view);
            /*
            $.fancybox({
                'content': view,
                'width': $(".fancybox-outer").width(),
                'height': $(".fancybox-outer").height(),
                'autoDimensions': false,
                'type': 'iframe',
                'autoSize': false,
                'title': $(".fancybox-title").text(),
                helpers: {
                    title: {
                        type: 'inside',
                        position: 'top'
                    },
                    overlay: {
                        closeClick: false
                    }
                }
            });*/
        })
        .always(function () {
            hideLoading('#searchCandiManager');
        });
    }
    $('#searchTxt').focus();

</script>