@using Univision.Core.Models;
@using Univision.Core.Models.DTO;
@model Univision.Core.Models.DTO.Response.Candidate.TempCandidateListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string pageTag = ViewBag.pageTag;
    ViewBag.Title = "임시저장 후보자";
}
@*<link rel="stylesheet" href="~/Libs/remark/global/vendor/tablesaw/tablesaw.min599c.css?v4.0.4">*@
<link rel="stylesheet" href="~/Libs/tablesaw/tablesaw.css?v4.0.4">
<div class="page-content">
    <!--검색 Form -->


    <div class="panel panel-primary panel-line animation-scale-up" style="animation-fill-mode:backwards; animation-duration: 250ms; animation-delay: 0ms;">
        <!-- 검색 패널 시작 -->
        @using (Html.BeginForm(pageTag + "TemporaryCandidateList", "Candidate", FormMethod.Get, new { @id = "searchForm" }))
        {
            <div class="panel-heading">
                <div class="panel-title">
                    <i class="fas fa-info-circle"></i>
                    임시저장 후보자
                </div>
                <div class="panel-actions">
                    <div class="panel-action input-search">
                        <button type="submit" class="input-search-btn">
                            <i class="icon wb-search" aria-hidden="true"></i>
                            &nbsp;&nbsp;
                        </button>
                        @Html.TextBoxFor(x => x.search.search_txt, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <!-- 검색 패널 끝 -->
        }

        <div class="panel-body pt-5">
            <div class="">

                <table class="block_table table table-striped table-hover" data-tablesaw-mode="columntoggle" data-tablesaw-minimap>
                    <thead>
                        <tr>
                            <th data-tablesaw-priority="persist" class="text-center tbw60" style="width:60%">Temporary Saved Candidate</th>
                            <th data-tablesaw-priority="2" class="tablesaw-priority-2 text-center tbw20">Last saved</th>
                            <th data-tablesaw-priority="1" class="tablesaw-priority-2 text-center tbw20">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.list.Count > 0)
                        {
                            int i = (int)Model.PagingInfo.TotalItems;
                            foreach (tempsaved_candidate tcd in Model.list)
                            {
                        <tr>
                            <th>
                                <a href="@Url.Action("CandidateCreate", "Candidate", new { t_seq = tcd.c_seq})" data-rel="external">
                                    @if (tcd.kor_name != "")
                                    {
                                        <text>이름 : @tcd.kor_name</text>
                                    }

                                    @if (tcd.birth_date != null)
                                    {
                                        <text>, 생년 : @Utils.ConvertDateTimeToString(tcd.birth_date)</text>
                                    }

                                </a>
                            </th>
                            <td class="text-center">@Utils.ConvertDateTimeToString(tcd.create_dt)</td>
                            <td class="text-center"><button onclick="DeleteTCandidateConfirm(this, '@tcd.c_seq');" class="btn btn-danger">삭제</button></td>
                        </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="2" style="text-align:center;height:200px;vertical-align:middle;"><b>No Data.</b></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (Model != null && Model.list.Count > 0)
                {

                    @Html.PageAjaxLinks(Model.PagingInfo,
                     ViewContext.HttpContext.Request.Url.AbsoluteUri,
                     x => Url.Action("TemporaryCandidateList", new
                     {
                         page = x
                     }))

                }
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">
    function DeleteTCandidateConfirm(obj, c_seq) {

            alertify.confirm()
                    .set({
                        'labels': { ok: '확인', cancel: '취소' },
                        'onok': function () {
                            DeleteTCandidate(obj, c_seq)
                        },
                        'oncancel': function () {
                            return;
                        },
                    })
                    .setHeader('<i class="fas fa-exclamation-triangle" style="color:#FFDC2E"></i>임시저장 후보자 삭제')
                    .setting({
                        message: "임시저장된 후보자를 삭제 하시겠습니까?",
                    })
                    .show();

        }


        function DeleteTCandidate(obj, c_seq) {

            $.ajax({
               url: '@Url.Action("DeleteTempCandidate", "Candidate")',
               data: {
                   c_seq: c_seq
                },
                dataType: 'json',
                type: 'POST',
               beforeSend: function ()
               {
                   showLoading();
               }
            })
            .done(function (json) {
                hideLoading();
                if (json.ok) {
                    location.reload();
                } else {
                    ErrorAlert(json.message);
                }
            })
            .fail(function (e) {
                hideLoading();
                ErrorAlert('알 수 없는 오류가 발생 했습니다.\n관리자에게 문의 하세요.');
            });
        }
</script>