@model Univision.Core.Models.DTO.Response.Client.ClientListViewModel
@{
  Layout = null;
}

<div class="table-responsive">
  <table id="default-table" class="table table-hover" style="table-layout:fixed;">
    <thead>
      <tr>
        <th class="text-center">CLIENT</th>
        <th class="text-center" style="width:25%;">AM</th>
        <th class="text-center d-md-none d-lg-table-cell" style="width:25%;">REG.</th>
      </tr>
    </thead>
    <tbody>
      @if (Model.list.Count > 0)
      {
        foreach (var data in Model.list)
        {
          <tr>
            <td class="text-left text-truncate" title="@data.kor_name">
              <a href="@Url.Action("ClientDetail", "Client" , new { c_seq=data.c_seq})">
                @data.kor_name
                @*
                  @if (data.is_inorder == 1)
                  {
                      <small class="red-600" title="인오더 고객사">*</small>
                  }
                *@
              </a>
            </td>
            <td class="text-truncate text-center" title="@data.am_name">
              @data.am_name

            </td>
            <td class="d-md-none d-lg-table-cell" style="word-break:keep-all; min-width:100px;">@(((DateTime)data.create_dt).ToString("yyyy-MM-dd"))</td>
          </tr>
        }
      }

    </tbody>
  </table>
</div>